
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    //var data = Model as RemoteSensingProject.Models.Accounts.main.DashboardCount;
    var projectlist = ViewData["projectlist"] as List<RemoteSensingProject.Models.Accounts.main.Project_model>;
    int i;
    var graphdata = ViewData["graphdata"] as List<RemoteSensingProject.Models.ProjectManager.ProjectExpenses>;
    var bdata = ViewData["budgetdataforgraph"] as List<RemoteSensingProject.Models.Accounts.main.GraphData>;
}

<style>
    .uniform-card {
        /*        height: 200px;
    */ width: 160px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

        .uniform-card .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px;
        }

        .uniform-card .card-title {
            font-size: 12px;
            font-weight: bold;
        }

        .uniform-card p.text-success {
            font-size: 14px;
        }

        .uniform-card img {
            margin: 0 auto;
        }
</style>

<style>

    .text-success span {
        display: flex;
        align-items: center;
    }

    .text-success span {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: 0px;
    }

        .text-success span span.text-dark {
            min-width: 110px;
            text-align: left;
        }

    .card-body {
        height: 100%;
        overflow-y: auto;
    }

        /* Hide scrollbar but keep functionality */
        .card-body::-webkit-scrollbar {
            display: none;
        }
</style>
<div class="row mx-0 mb-0">
    <div class="col-12 col-xl-12 mb-0">
        <div class="row flex-grow-1">


            <!-- Request's Card -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 grid-margin stretch-card px-1">
                <div class="w-100" style="text-decoration: none; color: inherit;">
                    <div class="card uniform-card w-100 shadow-lg">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-baseline">
                                <h6 class="card-title mb-0">Fund Request's</h6>
                            </div>
                            <div class="row">
                                <div class="col-6 col-md-12 col-xl-7">
                                    <div class="d-flex align-items-baseline mt-2">
                                        <a href="/accounts/FundReport">
                                            <p class="text-success w-100"><span><span class="text-dark">Total :  </span> @ViewBag.TotalFunRequest</span></p>
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-baseline ">
                                        <a href="/accounts/FundReport?statusFilter=Complete">
                                            <p class="text-success w-100"><span><span class="text-dark">Complete :  </span> @ViewBag.CompleteRequest</span></p>
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-baseline ">
                                    <a href="/accounts/FundReport?statusFilter=Pending">
                                        <p class="text-success w-100"><span><span class="text-dark">Pending :  </span> @(Convert.ToInt32(ViewBag.TotalFunRequest) - Convert.ToInt32(ViewBag.CompleteRequest)) </span></p>
                                    </a>
                                </div>
                                </div>
                                <div class="col-6 col-md-12 col-xl-5">
                                    <img src="~/assets/gif/success.gif" height="60" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Request's status Card -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 grid-margin stretch-card px-1">
                <div class="w-100" style="text-decoration: none; color: inherit;">
                    <div class="card uniform-card w-100 shadow-lg">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-baseline">
                                <h6 class="card-title mb-0 text-nowrap">Reimbursement's</h6>
                            </div>
                            <div class="row">
                                <div class="col-6 col-md-12 col-xl-7">
                                    <h3 class="mb-2 text-success"></h3>
                                    <div class="d-flex align-items-baseline ">
                                        <a href="/accounts/ReinbursementRequest">
                                            <p class="text-success w-100"><span><span class="text-dark">Pending :  </span> 00</span></p>
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-baseline ">
                                        <a href="/accounts/Reimbursement_Report?statusFilter=approved">
                                            <p class="text-success w-100"><span><span class="text-dark">Approved  :  </span> 00</span></p>
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-baseline ">
                                        <a href="/accounts/Reimbursement_Report?statusFilter=rejected">
                                            <p class="text-success w-100"><span><span class="text-dark">Rejected  :  </span> 00</span></p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6 col-md-12 col-xl-5">
                                    <img src="~/assets/gif/employee-benefit.gif" height="60" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Request's status Card -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 grid-margin stretch-card px-1">
                <div class="w-100" style="text-decoration: none; color: inherit;">
                    <div class="card uniform-card w-100 shadow-lg">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-baseline">
                                <h6 class="card-title mb-0 text-nowrap">Tour Proposal's</h6>
                            </div>
                            <div class="row">
                                <div class="col-6 col-md-12 col-xl-7">
                                    <h3 class="mb-2 text-success"></h3>
                                    <div class="d-flex align-items-baseline ">
                                        <a href="/accounts/TourProposal_Report?statusFilter=pending">
                                            <p class="text-success w-100"><span><span class="text-dark">Pending :  </span> 00</span></p>
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-baseline ">
                                        <a href="/accounts/TourProposal_Report?statusFilter=approved">
                                        <p class="text-success w-100"><span><span class="text-dark">Approved  :  </span> 00</span></p>
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-baseline ">
                                        <a href="/accounts/TourProposal_Report?statusFilter=rejected">
                                        <p class="text-success w-100"><span><span class="text-dark">Rejected  :  </span> 00</span></p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6 col-md-12 col-xl-5">
                                    <img src="~/assets/gif/map.gif" height="60" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Request's status Card -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 grid-margin stretch-card px-1">
                <div class="w-100" style="text-decoration: none; color: inherit;">
                    <div class="card uniform-card w-100 shadow-lg">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-baseline">
                                <h6 class="card-title mb-0 text-nowrap">Hiring Vehicle's</h6>
                            </div>
                            <div class="row">
                                <div class="col-6 col-md-12 col-xl-7">
                                    <h3 class="mb-2 text-success"></h3>
                                    <div class="d-flex align-items-baseline ">
                                        <a href="/accounts/Hiring_Report?statusFilter=pending">
                                            <p class="text-success w-100"><span><span class="text-dark">Pending :  </span> 00</span></p>
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-baseline ">
                                        <a href="/accounts/Hiring_Report?statusFilter=approved">
                                            <p class="text-success w-100"><span><span class="text-dark">Approved  :  </span> 00</span></p>
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-baseline ">
                                        <a href="/accounts/Hiring_Report?statusFilter=rejected">
                                            <p class="text-success w-100"><span><span class="text-dark">Rejected  :  </span> 00</span></p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6 col-md-12 col-xl-5">
                                    <img src="~/assets/gif/rent-car.gif" height="60" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="row mt-0 mx-0" style="margin-top:-16px !important;">
    <div class="col-lg-7 col-xl-8 px-1">
        <div class="card">
            <div class="card-body" style="height:430px !important">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6 class="card-title mb-0">Fund Status</h6>
                    <div class="dropdown mb-2">
                        <button class="btn p-0" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                            <a class="dropdown-item d-flex align-items-center"><i data-feather="eye" class="icon-sm me-2"></i> <span class>View</span></a>
                            <a class="dropdown-item d-flex align-items-center"><i data-feather="edit-2" class="icon-sm me-2"></i> <span class>Edit</span></a>
                            <a class="dropdown-item d-flex align-items-center"><i data-feather="trash" class="icon-sm me-2"></i> <span class>Delete</span></a>
                            <a class="dropdown-item d-flex align-items-center"><i data-feather="printer" class="icon-sm me-2"></i> <span class>Print</span></a>
                            <a class="dropdown-item d-flex align-items-center"><i data-feather="download" class="icon-sm me-2"></i> <span class>Download</span></a>
                        </div>
                    </div>
                </div>
                <p class="text-muted">Check the current fund status on the dashboard for detailed updates.</p>
                <div class="py-3">
                    <div id="monthlySalesChart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-xl-4 px-1">
        <div class="card">
            <div class="card-body" style="min-height:430px !important;">
                <div class="d-flex justify-content-between align-items-baseline">
                    <h6 class="card-title mb-0">Project Data</h6>
                    <div class="dropdown mb-2">
                        <button class="btn p-0" type="button" id="dropdownMenuButton5" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton5">
                            <a class="dropdown-item d-flex align-items-center"><i data-feather="eye" class="icon-sm me-2"></i> <span class>View</span></a>
                            <a class="dropdown-item d-flex align-items-center"><i data-feather="edit-2" class="icon-sm me-2"></i> <span class>Edit</span></a>
                            <a class="dropdown-item d-flex align-items-center"><i data-feather="trash" class="icon-sm me-2"></i> <span class>Delete</span></a>
                            <a class="dropdown-item d-flex align-items-center"><i data-feather="printer" class="icon-sm me-2"></i> <span class>Print</span></a>
                            <a class="dropdown-item d-flex align-items-center"><i data-feather="download" class="icon-sm me-2"></i> <span class>Download</span></a>
                        </div>
                    </div>
                </div>
                <div id="storageChart"></div>
                <div class="row mb-3">
                    <div class="col-6 d-flex justify-content-end">
                        <div>
                            <label class="d-flex align-items-center justify-content-end tx-10 text-uppercase fw-bolder">Total Projects <span class="p-1 ms-1 rounded-circle bg-secondary"></span></label>
                            <h5 class="fw-bolder mb-0 text-end"> @ViewBag.TotalFunRequest</h5>
                        </div>
                    </div>
                    <div class="col-6">
                        <div>
                            <label class="d-flex align-items-center tx-10 text-uppercase fw-bolder"><span class="p-1 me-1 rounded-circle bg-primary"></span> Completed Projects</label>
                            <h5 class="fw-bolder mb-0">@ViewBag.CompleteRequest</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    @*<div class="col-lg-5 col-xl-4 grid-margin grid-margin-xl-0 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6 class="card-title mb-0">Top Employee's</h6>
                    <div class="dropdown mb-2">
                        <button class="btn p-0" type="button" id="dropdownMenuButton6" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton6">
                            <a class="dropdown-item d-flex align-items-center"><i data-feather="eye" class="icon-sm me-2"></i> <span class>View</span></a>
                            <a class="dropdown-item d-flex align-items-center"><i data-feather="edit-2" class="icon-sm me-2"></i> <span class>Edit</span></a>
                            <a class="dropdown-item d-flex align-items-center"><i data-feather="trash" class="icon-sm me-2"></i> <span class>Delete</span></a>
                            <a class="dropdown-item d-flex align-items-center"><i data-feather="printer" class="icon-sm me-2"></i> <span class>Print</span></a>
                            <a class="dropdown-item d-flex align-items-center"><i data-feather="download" class="icon-sm me-2"></i> <span class>Download</span></a>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <a class="d-flex align-items-center border-bottom pb-3">
                        <div class="me-3">
                            <img src="/Employee_Images/img.png" class="rounded-circle wd-35" alt="user">
                        </div>
                        <div class="w-100">
                            <div class="d-flex justify-content-between">
                                <h6 class="text-body mb-2">Leonardo Payne</h6>
                                <p class="text-muted tx-12">20 Project's</p>
                            </div>
                            <p class="text-muted tx-13">Department</p>
                        </div>
                    </a>
                    <a class="d-flex align-items-center border-bottom py-3">
                        <div class="me-3">
                            <img src="/Employee_Images/img.png" class="rounded-circle wd-35" alt="user">
                        </div>
                        <div class="w-100">
                            <div class="d-flex justify-content-between">
                                <h6 class="text-body mb-2">Carl Henson</h6>
                                <p class="text-muted tx-12">20 Project's</p>
                            </div>
                            <p class="text-muted tx-13">Department</p>
                        </div>
                    </a>
                    <a class="d-flex align-items-center border-bottom py-3">
                        <div class="me-3">
                            <img src="/Employee_Images/img.png" class="rounded-circle wd-35" alt="user">
                        </div>
                        <div class="w-100">
                            <div class="d-flex justify-content-between">
                                <h6 class="text-body mb-2">Jensen Combs</h6>
                                <p class="text-muted tx-12">20 Project's</p>
                            </div>
                            <p class="text-muted tx-13">Department</p>
                        </div>
                    </a>
                    <a class="d-flex align-items-center border-bottom py-3">
                        <div class="me-3">
                            <img src="/Employee_Images/img.png" class="rounded-circle wd-35" alt="user">
                        </div>
                        <div class="w-100">
                            <div class="d-flex justify-content-between">
                                <h6 class="text-body mb-2">Amiah Burton</h6>
                                <p class="text-muted tx-12">20 Project's</p>
                            </div>
                            <p class="text-muted tx-13">Department</p>
                        </div>
                    </a>
                    <a class="d-flex align-items-center border-bottom py-3">
                        <div class="me-3">
                            <img src="/Employee_Images/img.png" class="rounded-circle wd-35" alt="user">
                        </div>
                        <div class="w-100">
                            <div class="d-flex justify-content-between">
                                <h6 class="text-body mb-2">Yaretzi Mayo</h6>
                                <p class="text-muted tx-12">20 Project's</p>
                            </div>
                            <p class="text-muted tx-13">Department</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>*@
    <div class="col-lg-7 col-xl-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6 class="card-title mb-0">Fund Request's</h6>
                    <div class="dropdown mb-2">
                        <button class="btn p-0" type="button" id="dropdownMenuButton7" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton7">
                            <a class="dropdown-item d-flex align-items-center"><i data-feather="eye" class="icon-sm me-2"></i> <span class>View</span></a>
                            <a class="dropdown-item d-flex align-items-center"><i data-feather="edit-2" class="icon-sm me-2"></i> <span class>Edit</span></a>
                            <a class="dropdown-item d-flex align-items-center"><i data-feather="trash" class="icon-sm me-2"></i> <span class>Delete</span></a>
                            <a class="dropdown-item d-flex align-items-center"><i data-feather="printer" class="icon-sm me-2"></i> <span class>Print</span></a>
                            <a class="dropdown-item d-flex align-items-center"><i data-feather="download" class="icon-sm me-2"></i> <span class>Download</span></a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th class="pt-0">Sr. No.</th>
                                <th class="pt-0">Project Name</th>
                                <th class="pt-0">Start Date</th>
                                <th class="pt-0">Completion Date</th>
                                <th class="pt-0">Status</th>
                                <th class="pt-0">Assign Date</th>
                            </tr>
                        </thead>
                        <tbody>
                           @if (projectlist != null)
                           {
                               i = 1;
                               foreach(var item in projectlist)
                               {
                    <tr>
                        <td>@i</td>
                        <td>@item.ProjectTitle</td>
                        <td>@item.StartDate</td>
                        <td>@item.CompletionDate</td>
                        <td>
                            <span class='text-light px-2 border-0 rounded-1 @(item.ApproveStatus?"bg-success":"bg-warning")'>@(item.ApproveStatus?"Completed":"Pending")</span>
                        </td>
                        <td>@item.AssignDate</td>
                    </tr>
                                   i++;
                               }
                           }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
@*<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>*@

<script>
    $(document).ready(function () {
        var gdata = @Html.Raw(Json.Encode(ViewData["graphdata"]));
        var datag = @Html.Raw(Json.Encode(ViewData["budgetdataforgraph"]));
       console.log(datag);
if ($('#monthlySalesChart').length) {
    var options = {
        chart: {
            type: 'bar', // Change to bar chart
            height: '318',
            parentHeightOffset: 0,
            foreColor: '#6c757d',
            background: '#ffffff',
            toolbar: {
                show: false
            },
        },
        theme: {
            mode: 'light'
        },
        tooltip: {
            theme: 'light'
        },
        colors: ['#1aa7a6', '#ffb22b', '#f17a7a'], // Three colors for the bars
        fill: {
            opacity: 0.9
        },
        series: [{
            name: 'Total Amount',
            data: datag.map(tt => tt.amount) // Data for the Total Amount bar
        }, {
            name: 'Approve Amount',
            data: datag.map(aa => aa.ApprAmount) // Data for the Approve Amount bar
        }, {
            name: 'Pending Amount',
            data: datag.map(pa => pa.pendingamount) // Data for the Pending Amount bar
        }],
        xaxis: {
            type: 'category',
            categories: datag.map(mon =>mon.months), // One category for all three bars
            axisBorder: {
                color: '#dee2e6',
            },
            axisTicks: {
                color: '#dee2e6',
            },
        },
        yaxis: {
            min: 0,
            max:  10000, // Set max value for y-axis dynamically
            tickAmount: 5,
            title: {
                text: 'Fund Completion',
                style: {
                    fontSize: '12px',
                    color: '#adb5bd',
                    fontFamily: 'inherit',
                }
            },
        },
        legend: {
            show: true,
            position: "top",
            horizontalAlign: 'center',
            fontFamily: 'inherit',
            itemMargin: {
                horizontal: 8,
                vertical: 0
            },
        },
        grid: {
            padding: {
                bottom: -4
            },
            borderColor: '#D6E9E9',
            xaxis: {
                lines: {
                    show: true
                }
            }
        },
        dataLabels: {
            enabled: true,
            style: {
                fontSize: '10px',
                fontFamily: 'inherit',
            },
            offsetY: -27
        },
        plotOptions: {
            bar: {
                columnWidth: "30%", // Adjust width of the bars
                borderRadius: 4, // Rounded corners for bars
                dataLabels: {
                    position: 'top',
                }
            },
        },
    };

    var apexBarChart = new ApexCharts(document.querySelector("#monthlySalesChart"), options);
    apexBarChart.render();
}




        if ($('#storageChart').length) {
            var colors = {
                primary: '#029e9d', // Set the primary color to #029e9d
                light: '#f3f3f3',   // You can define other colors like light, muted, etc.
                muted: '#6c757d',
                bodyColor: '#212529'
            };
            var options = {
                chart: {
                    height: 260,
                    type: "radialBar",
                    events: {
                        // Listen for click event on the chart
                        click: function (event, chartContext, config) {
                            // Redirect based on the click event
                            window.location.href = "/accounts/FundReport";  // Change this to your desired URL
                        }
                    }
                },
                series: [@ViewBag.CompleteRequest],
                colors: [colors.primary],
                plotOptions: {
                    radialBar: {
                        hollow: {
                            margin: 15,
                            size: "70%"
                        },
                        track: {
                            show: true,
                            background: colors.light,
                            strokeWidth: '100%',
                            opacity: 1,
                            margin: 5,
                        },
                        dataLabels: {
                            showOn: "always",
                            name: {
                                offsetY: -11,
                                show: true,
                                color: colors.muted,
                                fontSize: "13px"
                            },
                            value: {
                                color: colors.bodyColor,
                                fontSize: "30px",
                                show: true
                            }
                        }
                    }
                },
                fill: {
                    opacity: 1
                },
                stroke: {
                    lineCap: "round",
                },
                labels: ["Project Data"]
            };

            var chart = new ApexCharts(document.querySelector("#storageChart"), options);
            chart.render();
        }

    });
</script>


