﻿
@{
    ViewBag.Title = "ReinbursementRequest";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    var data = ViewData["ReimBurseData"] as List<RemoteSensingProject.Models.ProjectManager.Reimbursement>;
    int i = 1;
    string baseUrl = $"{Request.Url.Scheme}://{Request.Url.Authority}";

}
<link href="~/assets/css/reinbursementCssDesign.css" rel="stylesheet" />
<div class="row mx-0">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6 class="card-title mb-0">Reinbursement Requests</h6>
                </div>
                <div class="table-responsive">
                    <table id="dataTableExample" class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th class="text-center">Sr</th>
                                <th>Project Manager</th>
                                <th>Type</th>
                                <th>Amount</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (data != null && data.Count > 0)
                            {
                                foreach (var item in data)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.EmpName</td>
                                        <td>@item.type</td>
                                        <td>₹@Convert.ToDecimal(item.amount).ToString("N2")</td>
                                        <td class="text-center">
                                            <a href="#" data-title="View" class="viewSanctionreciept" data-type="@item.type" data-userId="@item.userId" data-id="@item.id">
                                                <i class="fa-solid fa-eye text-success"></i>
                                            </a>
                                            @if (item.apprstatus)
                                            {

                                                <span>&nbsp; | &nbsp; </span>

                                                <a href="#" data-title="Accept" data-type="@item.type" data-userId="@item.userId" data-totalAmount="@item.amount" data-Id="@item.id" class="submitamoutSanction">
                                                    <i class="fa-solid fa-check text-success"></i>
                                                </a>

                                                <span>&nbsp; | &nbsp;</span>
                                                <a href="#" data-type="@item.type" data-title="Reject" data-userId="@item.userId" data-totalAmount="@item.amount" data-Id="@item.id" class="rejectAmountSanction">
                                                    <i class="fa-solid fa-xmark text-danger"></i>
                                                </a>
                                            }

                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Modal-->
<div class="modal fade" id="ViewReinburseMentReciept" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-100" aria-labelledby="ViewReinburseMentRecieptLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <h1 class="modal-title fs-5" id="ViewReinburseMentRecieptLabel">Reimbursement Form </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="form-container py-3">
                        <div class="text-center mb-3">
                            <h4>REMOTE SENSING APPLICATIONS CENTRE</h4>
                            <h5>UTTAR PRADESH</h5>
                            <div class="px-4 mt-1 d-flex justify-content-between">
                                <span>
                                    <p>
                                        <img src="@baseUrl/assets/images/remote_sensing_logo.jfif" width="50px" />
                                    </p><b>S.F.A.O/Director</b>
                                </span>
                                <span>
                                    <p>
                                        <b>
                                            Name of Project/Centre
                                        </b>
                                    </p>
                                </span>
                            </div>
                        </div>

                        <div class="form-header-text w-100 text-center">
                            <p>
                                The following expenditure of Rs. <span class="dots"></span> have been incurred against Contingent/Advance of
                                Rs. <span class="dots"></span> taken as on <span class="dots"></span> kindly accord the sanction for adjustment/payment in accordance
                                with the enclosed contingent advance approval.
                            </p>
                        </div>


                        <div class="table-responsive mb-0 px-5">
                            <table class="table table-bordered mb-0">
                                <thead class="text-center">
                                    <tr>
                                        <th>S.N.</th>
                                        <th>Vr. No. & Date</th>
                                        <th>Particulars</th>
                                        <th>Items</th>
                                        <th>Purpose</th>
                                        <th>Amount Rs. P.</th>
                                    </tr>
                                </thead>
                                <tbody id="viewReinburseRecieptListBody">
                                </tbody>
                            </table>
                        </div>

                        <div class="bottom-section mt-0 mx-5">
                            <div class="row mt-0">
                                <div class="col-md-6">
                                    <p>Balance Rs. <span class="dots"></span> (Rupees <span class="dots"></span>Only)</p>
                                    <p>paid vide cheque No. <span class="dots"></span> Date<span class="dots"></span></p>

                                </div>
                                <div class="col-md-6 text-end">
                                    <p>Signature <span class="dots"></span></p>
                                    <p>Name : <span class="dots"></span></p>
                                    <p>Designation : <span class="dots"></span></p>
                                </div>
                            </div>

                            <div class="officers-section">
                                <div class="row ps-3">
                                    <p class="pt-2">Checked for Rs. <span class="dots"></span> Rs.<span class="dots"></span></p>
                                    <div class="col-md-4 mt-3">
                                        <p>Asstt. Actt./Acctt./O.S. (Acctts)</p>
                                    </div>
                                    <div class="col-md-4 text-center mt-3">
                                        <p>A.O./S.F.A.O.</p>
                                    </div>
                                    <div class="col-md-4 text-end">
                                        <span class="approved-text">Pending</span>
                                        <p>Sanctioning Authority</p>
                                    </div>
                                </div>
                            </div>

                            <div class="final-section pt-1 mt-0">
                                <p style="margin-right: 15px;">Passed for Rs. <span class="dots"></span> (RS. <span class="dots"></span>)</p>
                                <p style="margin-right: 15px;">Drawing & Disbursing Officer</p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="submitAmoutSanction" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-100" aria-labelledby="submitAmoutSanctionLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <h1 class="modal-title fs-5" id="submitAmoutSanctionLabel">Reimbursement Form </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="reinbursementAmountApprForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Sanction Amount :</label>
                            <input type="number" class="form-control" name="sanctionAmt" id="sanctionAmount" readonly />
                        </div>
                        <div class="col-sm-6">
                            <label>Aprroved Amount :</label>
                            <input type="number" class="form-control" name="apprAmount" id="apprAmountChanges" placeholder="Enter amount...." />
                            <span class="text-danger" id="showalertMessage" style="display:none;">Amount is invalid !</span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Cheque Number :</label>
                            <input type="text" class="form-control" name="chequeNum" placeholder="Enter cheque number" />
                        </div>
                        <div class="col-sm-6">
                            <label>Cheque Date:</label>
                            <input type="date" class="form-control" name="chequeDate" />
                        </div>
                        <input type="hidden" name="id" id="sanctionId" />
                    </div>
                    <div class="text-center mt-3">
                        <input type="submit" id="submitAmtBtn" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="rejectSanctionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-100" aria-labelledby="rejectSanctionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <h1 class="modal-title fs-5" id="rejectSanctionModalLabel">Reject Reimbursement Form </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="reinbursementRejectForm">
                   <label>Reason :</label>
                    <textarea class="form-control form-control-sm" name="reason" placeholder="Enter message ..."></textarea>
                    <input type="hidden" name="sanctionId" id="rejectSanctionId"/>
                    <p class="text-center mt-3">
                        <input type="submit" id="submitAmtBtn" class="btn btn-primary" />
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>


<script>
    $(document).ready(function () {
        $(".viewSanctionreciept").click(function () {
            Swal.fire({
                title: "Please wait !",
                text: "Processing your request ....",
                allowOutsideClick: false,
                allowEscapeKey: false,
                didOpen: () => {
                    Swal.showLoading();
                }
            });

            let type = $(this).attr("data-type");
            let userId = $(this).attr("data-userId");
            let Id = $(this).attr("data-id");
            $.ajax({
                url: "/api/ViewReinbursementBytype",
                type: "Get",
                data: { "userId": userId, "type": type, id: Id },
                success: function (result) {
                    if (result.status) {
                        $("#viewReinburseRecieptListBody").empty();
                        Swal.close();
                        let totalAmout = 0;
                        let element = "";
                        let adminApprStatus = false;
                        let newRequest = false;

                        $.each(result.data, function (i, d) {
                            element += `
   <tr>
   <td>${i + 1}</td>
   <td>${d.vrNo} & ${convertToDate(d.date)}</td>
   <td>${d.particulars}</td>
   <td>${d.items}</td>
   <td>${d.purpose}</td>
   <td>${d.amount}</td>
   </tr>
   `
                            adminApprStatus = d.adminappr;
                            newRequest = d.newRequest;
                            totalAmout += d.amount;
                        });

                        element += ` <tr>
    <td colspan="5" class="text-end"><b>Total</b></td>
    <td>${totalAmout}</td>
</tr>`;

                        $(".approved-text").text(newRequest ? "Pending" : !newRequest && !adminApprStatus ? "Rejected" : "Approved")

                        $("#viewReinburseRecieptListBody").append(element);
                        $("#ViewReinburseMentReciept").modal("show");
                    }
                    else {
                        Swal.fire({
                            title: "Sorry !",
                            text: "Some issue occured !",
                            icon: "warning"
                        })
                    }
                },
                error: function () {
                    Swal.fire({
                        title: "Server issue !",
                        text: "Server is busy ! Please try after sometime.",
                        icon: "error",
                        didClose: () => {
                            location.reload(true);
                        }
                    })
                }
            })
        })


        function convertToDate(timestamp) {
            const parsedTimestamp = parseInt(timestamp.match(/\d+/)[0], 10);
            const date = new Date(parsedTimestamp);
            return date.toLocaleDateString();
        }


        $(".submitamoutSanction").click(function () {
            let type = $(this).attr("data-type")
            let userId = $(this).attr("data-userId")
            let id = $(this).attr("data-Id");
            let amount = $(this).attr("data-totalAmount")
            $("#sanctionAmount").val(amount);
            $("#sanctionId").val(id);
            $("#submitAmoutSanction").modal("show")
        })

        $("#apprAmountChanges").on("input", function () {
            let inputamt = parseFloat($(this).val());
            let sanctionAmount = parseFloat($("#sanctionAmount").val());
            if (inputamt > sanctionAmount) {
                $("#showalertMessage").show();
                $("#submitAmtBtn").attr("disabled", true)
            }
            else {
                $("#showalertMessage").hide();

                $("#submitAmtBtn").removeAttr("disabled");
            }
        });

        $("#reinbursementAmountApprForm").on("submit", function (e) {
            e.preventDefault();
            Swal.fire({
                title: "Please wait!",
                text: "Processing your request....",
                allowEscapeKey: false,
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading();
                }
            });
            let formData = new FormData(this);
            $.ajax({
                url: "/api/approveReinbursementAmtRequest",
                type: "post",
                data: formData,
                contentType: false,
                processData: false,
                success: function (res) {
                    if (res.status) {
                        Swal.fire({
                            title: "Successfully !",
                            text: res.message,
                            icon: "success",
                            didClose: () => {
                                location.reload(true);
                            }
                        });
                    } else {
                        Swal.fire({
                            title: "Sorry !",
                            text: res.message,
                            icon: "warning"
                        });
                    }
                },
                error: function () {
                    Swal.fire({
                        title: "Server busy !",
                        text: "Server is busy. Please try after sometime !",
                        icon: "error",
                        didClose: () => {
                            location.reload(true);
                        }
                    })
                }
            })
        })

        $(".rejectAmountSanction").click(function () {
            let id = $(this).attr("data-Id");
            $("#rejectSanctionId").val(id);
            $("#rejectSanctionModal").modal("show")
        })

        $("#reinbursementRejectForm").on("submit", function () {
            Swal.fire({
                title: "Please wait ....",
                text: "Processing your request",
                allowEscapeKey: false,
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading()
                }
            });
            let data = new FormData(this);
            $.ajax({
                url: "/api/rejectReinbursementAmountRequest",
                type: "post",
                data: data,
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.status) {
                        console.log(res.status)
                        Swal.fire({
                            title: "Successfully !",
                            text: res.message,
                            icon: "success",
                            didClose: () => {
                                location.reload(true);
                            }
                        });
                    }
                    else {
                        Swal.fire({
                            title: "Sorry !",
                            text: res.message,
                            icon: "warning",

                        });
                    }
                },
                error: function () {
                    Swal.fire({
                        title: "Server issue !",
                        text: "Server is busy ! Please try after sometime!",
                        icon: "error",
                        didClose: () => {
                            location.reload(true)
                        }
                    });
                }
            });
        });
    })
</script>
