
@{
    ViewBag.Title = "TourProposalRequest";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    var data = ViewData["tourproposal"] as List<RemoteSensingProject.Models.Accounts.main.tourProposal>;
    var projects = ViewData["projects"] as List<RemoteSensingProject.Models.Admin.main.Project_model>;
    var projManager = ViewData["projectMangaer"] as List<RemoteSensingProject.Models.Admin.main.Employee_model>;
}

<link href="~/assets/css/TourProposalStyle.css" rel="stylesheet" />
<style>
    .modal-dialog{
        margin-top:5% !important;
    }
</style>
<div class="row mx-0">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <select id="Filter1" class="form-select form-select-sm">
                            <option selected value="">Filter By Project Manager</option>
                            @if (projManager != null)
                            {
                                foreach (var proman in projManager)
                                {
                                    if (proman.EmployeeRole == "projectManager")
                                    {
                                        <option value="@proman.EmployeeName">@proman.EmployeeName</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <select id="Filter2" class="form-select form-select-sm">
                            <option selected value="">Filter By Project</option>
                            @if (projects != null)
                            {
                                foreach (var proj in projects)
                                {
                                    <option value="@proj.ProjectTitle">@proj.ProjectTitle</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mx-0">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th class="text-center">S.N.</th>
                                <th>Project Manager</th>
                                <th>Project Code</th>
                                <th>Project</th>
                                <th>Purpose</th>
                                <th>Date of Depart</th>
                                <th>Place Visit</th>
                                <th>Period From</th>
                                <th>Period To</th>
                                <th>Date of return</th>
                                <th>Remark</th>
                                <th>Status</th>
                                @*<th>View</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @if (data != null)
                                        {
                                            int i = 1;
                                            foreach (var item in data)
                                            {
                                    <tr>
                                        <td>@i</td>
                                        <td data-id="@item.id"><a class="action" data-title="View Details" href="#">@item.projectManager</a></td>
                                        <td>@item.projectCode</td>
                                        <td>@item.projectName</td>
                                        <td>@item.purpose</td>
                                        <td>@item.dateOfDept</td>
                                        <td>@item.place</td>
                                        <td>@item.periodFrom</td>
                                        <td>@item.periodTo</td>
                                        <td>@item.returnDate</td>
                                        <td>
                                            @if (item.adminappr && !item.newRequest && string.IsNullOrEmpty(item.remark))
                                            {<span>Approved</span> }
                                            else if (item.newRequest && !item.adminappr)
                                            { <span>Pending</span>}
                                            else
                                            { <span>@item.remark</span>}
                                        </td>
                                        <td>
                                            @{
                                                if (item.newRequest == true && item.adminappr == false)
                                                { <span id="status" class="badge bg-primary pt-1">Pending</span> }
                                                else if (item.newRequest == false && item.adminappr == true)
                                                { <span id="status" class="badge bg-success">Approved</span> }
                                                else if (item.newRequest == false && item.adminappr == false)
                                                { <span id="status" class="badge bg-danger">Rejected</span> }
                                            }
                                        </td>
                                        @*<td data-id="@item.id" class="text-center"><i class="fa-solid fa-eye action"></i> </td>*@
                                    </tr>
                                                                    i++;
                                                                }
                                                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Modal-->

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-100" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Tour Proposal Request </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container mt-4" id="formToPrint">
                    <div class="cards">
                        <div class="card-header text-center">
                            <h4>REMOTE SENSING APPLICATIONS CENTRE, UTTAR PRADESH</h4>
                            <h5>TOUR PROPOSAL</h5>
                        </div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-md-8">
                                    <div class="mb-3 row">
                                        <label class="col-sm-3">NAME</label>
                                        <div class="col-sm-9">
                                            <span class="dotted-field" id="projectMan"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-3">DESIGNATION</label>
                                        <div class="col-sm-9">
                                            <span class="dotted-field"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-3">DIVISION/PROJECT</label>
                                        <div class="col-sm-9">
                                            <span class="dotted-field" id="project"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="copy-types">
                                        <p>Accounts Copy (White)</p>
                                        <p>Admn. Copy (Pink)</p>
                                        <p>T.A. Bill Copy (Yellow)</p>
                                        <p>Employee Copy (Green)</p>
                                    </div>
                                </div>
                            </div>

                            <div class="tabel-responsive">
                                <table class="tabel">
                                    <thead>
                                        <tr>
                                            <th>Purpose</th>
                                            <th>Date of Departure</th>
                                            <th>Place/s to be visited</th>
                                            <th colspan="2" class="text-center">Period</th>
                                            <th>Date of return</th>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th>From</th>
                                            <th>To</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td id="i1"></td>
                                            <td id="i2"></td>
                                            <td id="i3"></td>
                                            <td id="i4"></td>
                                            <td id="i5"></td>
                                            <td id="i6"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="row mt-4 d-flex justify-content-between mb-0">
                                <div class="col-md-8">
                                    <div class="form-group d-inline">
                                        <span>Book against : Centre Account/Project</span>
                                        <span class="dotted-field"></span>
                                        <span>Account</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Code :</label>
                                        <span class="dotted-field"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Date :</label>
                                        <span class="dotted-field"></span>
                                    </div>
                                </div>
                                <div class="col-md-4 text-end">
                                    <div class="form-group">
                                        <label>Signature :</label>
                                        <span class="dotted-field"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Name :</label>
                                        <span class="dotted-field"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="authority-section m-0">
                                <p>Forwarding Authority</p>
                                <hr class="mb-0 mt-2 p-0" />
                                <p id="statuss"></p>
                                <p>Sanctioning Authority</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary py-1 rounded-0" id="printBtn">Download</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        //Filter
        $("#Filter2").on("change", function () {
            let filter = $(this).val();
            let table = $("#dataTableExample").DataTable()
            table.column(3).search(filter).draw()
        })
        $("#Filter1").on("change", function () {
            let filter = $(this).val();
            let table = $("#dataTableExample").DataTable()
            table.column(1).search(filter).draw()
        })

        $(".action").on("click", function () {
            Swal.fire({
                title: "Please Wait!",
                text: "Processing Your Request.",
                allowOutsideClick: false,
                allowEscapeKey: false,
                didOpen: () => { Swal.showLoading(); }
            });
            let id = $(this).parent().attr("data-id")
            $.ajax({
                url: '/api/getTourById',
                type: 'get',
                data: { id: id },
                success: function (res) {
                    console.log(res.data)
                    $("#projectMan").text(res.data[0].projectManager)
                    $("#project").text(res.data[0].projectName)
                    $("#i1").text(res.data[0].purpose)
                    $("#i2").text(res.data[0].dateOfDept)
                    $("#i3").text(res.data[0].place)
                    $("#i4").text(res.data[0].periodFrom)
                    $("#i5").text(res.data[0].periodTo)
                    $("#i6").text(res.data[0].returnDate)
                    let status = "";
                    if (res.data[0].newRequest == true && res.data[0].adminappr == false) { status = "Pending" }
                    else if (res.data[0].newRequest == false && res.data[0].adminappr == false) { status = "Rejected" }
                    else if (res.data[0].newRequest == false && res.data[0].adminappr == true) { status = "Approved" }
                    $("#statuss").text(status);
                    $("#staticBackdrop").modal("show")
                    Swal.close();
                },
                error: function (xhr) {

                }
            })
        })



        $("#printBtn").click(function () {

            Swal.fire({
                title: "Please wait !",
                text: "Processing your request....",
                allowOutsideClick: false,
                allowEscapeKey: false,
                didOpen: () => {
                    Swal.showLoading();
                }
            })
            var formContent = document.getElementById("formToPrint").outerHTML;

            var style = `<link href="${window.location.origin}/assets/css/TourProposalStyle.css" rel="stylesheet" type="text/css"/>
<link href="${window.location.origin}/assets/css/style.css" rel="stylesheet" type="text/css"/>
`;
            let htmlContentToPdf = `<html><head>${style}</head><body><div>${formContent}</div></body></html>`;

            fetch("/login/ExportHtmlToPdf", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ HtmlText: htmlContentToPdf })
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Failed to generate PDF");
                    }

                    const contentDisposition = response.headers.get("Content-Disposition");
                    let fileName = "Generated.pdf";

                    if (contentDisposition) {
                        const match = contentDisposition.match(/filename="?([^"]+)"?/);
                        if (match && match[1]) {
                            fileName = match[1];
                        }
                    }

                    return response.blob().then(blob => ({ blob, fileName }));
                })
                .then(({ blob, fileName }) => {
                    Swal.fire({
                        title: "Successfully !",
                        text: "Reinbursement pdf generated successfully.",
                        icon: "success"
                    })
                    const link = document.createElement("a");
                    const url = URL.createObjectURL(blob);
                    link.href = url;
                    link.download = fileName;
                    document.body.appendChild(link);
                    link.click();
                    link.remove();
                    URL.revokeObjectURL(url);
                })
                .catch(error => {
                    Swal.fire({
                        title: "Sorry !",
                        text: "Some issue occured while processing your request.",
                        icon: "error"
                    })
                    console.error("Error:", error)
                });

        })
    })
</script>