
@{
    ViewBag.Title = "TourProposalRequest";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="row mx-0">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th class="text-center">S.N.</th>
                                <th>Project Manager</th>
                                <th>Project</th>
                                <th>Purpose</th>
                                <th>Date of Depart</th>
                                <th>Place Visit</th>
                                <th>Period From</th>
                                <th>Period To</th>
                                <th>Date of return</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (data != null)
                            {
                                foreach (var item in data)
                                {
                                    <tr>
                                        <td>@item.id</td>
                                        <td>@item.projectManager</td>
                                        <td>@item.projectName</td>
                                        <td>@item.purpose</td>
                                        <td>@item.dateOfDept</td>
                                        <td>@item.place</td>
                                        <td>@item.periodFrom</td>
                                        <td>@item.periodTo</td>
                                        <td>@item.returnDate</td>
                                        <td data-id="id_@item.id">
                                            <a href="#">
                                                <i class="fa-solid fa-eye text-success"></i>
                                            </a> &nbsp; | &nbsp;
                                            <a href="#" class="changeStatus" data-value="true" data-id="@item.id">
                                                <i class="fa-solid fa-check text-success"></i>
                                            </a> &nbsp; | &nbsp;
                                            <a href="#" class="changeStatus" data-value="false" data-id="@item.id">
                                                <i class="fa-solid fa-xmark text-danger"></i>
                                            </a>

                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>