
@{
    ViewBag.Title = "Update_Project_Stage";
    Layout = "~/Views/Shared/_employeeLayout.cshtml";
    var projectStages = ViewData["ProjectStages"] as List<RemoteSensingProject.Models.Admin.main.Project_Budget>;
    int i = 1;
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <span class="card-title">Add Project Expenses </span>
                <span class="card-title text-center mx-auto text-info" style="text-transform:none">Total Budget: 3,00,000</span>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th class="text-center">S.No.</th>
                                <th>Head</th>
                                <th class="text-center">Amount</th>
                                <th class="text-center">Expended Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(projectStages != null && projectStages.Count > 0)
            {
                foreach(var item in projectStages)
                {
<tr>
    <td class="text-start">@i</td>
    <td><a href="#" class="headExpense" data-Id="@item.Id">@item.ProjectHeads</a><a href="#" class="addExpences" data-Id="@item.Id"><i class="fa fa-plus-circle"></i></a></td>
    <td class="text-center">
        @item.ProjectAmount
    </td>
    <td class="text-center">0</td>
</tr>        i++;
                }
            }
                            
                        </tbody>
                    </table>
                    @*<div class="text-center">
                        <button type="submit" class="btn btn-primary"><i class="link-icon" data-feather="plus"></i> Add Expenses</button>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addslider" tabindex="-1" aria-labelledby="addslider" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
                <h5 class="modal-title" id="exampleModalLabel">Add Project Expenses</h5>
            </div>
            <div class="modal-body">
                <form class="forms-sample" id="expenseForm">
                    <div id="expenseRows">
                        <div class="row expense-row">
                            <div class="mb-3 col-md-6">
                                <label for="title" class="form-label">Title</label>
                                <input type="text" class="form-control" name="title[]" autocomplete="off" placeholder="Enter Expense Title">
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="date" class="form-label">Date</label>
                                <div class="input-group date datepicker datePickerExample">
                                    <input type="text" class="form-control form-control-sm" name="date[]">
                                    <span class="input-group-text input-group-addon"><i data-feather="calendar"></i></span>
                                </div>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="amount" class="form-label">Amount</label>
                                <input type="number" class="form-control" name="amount[]" autocomplete="off" placeholder="Enter Amount">
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="upload" class="form-label">Upload Attachment</label>
                                <input class="form-control" type="file" name="upload[]">
                            </div>
                            <div class="col-lg-10 mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control form-control-sm" name="description[]" rows="2" placeholder="Project Description"></textarea>
                            </div>
                            <div class="col-lg-2 text-end">
                                <br />
                                <a class=" remove-row"><i class="link-icon text-danger" data-feather="trash-2"></i></a>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="text-start">
                        <a class="cursor-pointer" id="addMore"><i class="link-icon" data-feather="plus"></i> Add More</a>
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary"><i class="link-icon" data-feather="plus"></i> Add Expenses</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ViewBudgetExpenses" tabindex="-1" aria-labelledby="ViewBudgetExpenses" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex">
                <h1 class="modal-title fs-5 text-light" id="ViewBudgetExpensesModal">Equipment Expenses</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Amount</th>
                                <th>Reciept</th>
                            </tr>
                        </thead>
                        <tbody id="viewBudgetExpensesBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        // Function to add more rows
        $('#addMore').on('click', function () {
            var newRow = `
            <div class="row expense-row">
                <div class="mb-3 col-md-6">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" name="title[]" autocomplete="off" placeholder="Enter Expense Title">
                </div>
                <div class="mb-3 col-md-6">
                    <label for="date" class="form-label">Date</label>
                    <div class="input-group date datepicker datePickerExample">
                        <input type="text" class="form-control form-control-sm" name="date[]">
                        <span class="input-group-text input-group-addon"><i data-feather="calendar"></i></span>
                    </div>
                </div>
                <div class="mb-3 col-md-6">
                    <label for="amount" class="form-label">Amount</label>
                    <input type="number" class="form-control" name="amount[]" autocomplete="off" placeholder="Enter Amount">
                </div>
                <div class="mb-3 col-md-6">
                    <label for="upload" class="form-label">Upload Attachment</label>
                    <input class="form-control" type="file" name="upload[]">
                </div>
                <div class="col-lg-12 mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control form-control-sm" name="description[]" rows="2" placeholder="Project Description"></textarea>
                </div>
                <div class="col-lg-12 text-end">
                    <a class=" remove-row"><i class="link-icon text-danger" data-feather="trash-2"></i></a>
                <hr>
            </div>`;
            $('#expenseRows').append(newRow);
            feather.replace(); // Reinitialize feather icons
        });

        // Function to remove a row
        $(document).on('click', '.remove-row', function () {
            $(this).closest('.expense-row').remove();
        });

       

    $(".headExpense").click(function () {
        let headId = $(this).attr("data-Id");
        let projectId = @Request.QueryString["Id"];

            Swal.fire({
            title: "Please wait !",
            text: "Processing your request...",
            timer: 100000,
            allowEscapeKey: false,
            allowOutsideClick: false,
            didOpen: () => {
                Swal.showLoading();
            }
        });

        $.ajax({
            url: "/api/getProjectExpencesList",
            type: "get",
            data: { projectId: projectId, headId: headId },
            success: function (res) {
                $("#viewBudgetExpensesBody").empty();
                if (res.status) {

                    let element = "";
                    $.each(res.data, function (i, d) {
                        element += `  <tr>
                              <td>${i + 1}</td>
                              <td>${d.date}</td>
                              <td>${d.title}</td>
                              <td>${d.description}</td>
                              <td>${d.amount}</td>
                              <td><a href="${d.attatchment_url}">Reciept</a></td>
                          </tr>`
                    });
                    $("#viewBudgetExpensesBody").append(element);
                    $("#ViewBudgetExpenses").modal("show");
                }
                else {
                    $("#ViewBudgetExpenses").modal("show");
                }
                
            },
            error: function () {
                Swal.fire({
                    title: "Server issue !",
                    text: "Server is busy. Please try after sometime.",
                    icon: "error"
                });
            },
            complete: function () {
                Swal.close();
            }
        })
    })

    $(".addExpences").click(function () {
        let dataId = $(this).attr("data-Id");
       
    })
</script>


