
@{
    ViewBag.Title = "All_Project_Report";
    Layout = "~/Views/Shared/_employeeLayout.cshtml";
    var data = ViewData["ProjectList"] as List<RemoteSensingProject.Models.Admin.main.Project_model>;
    int i = 1;
}

<style>
    .link-icon {
        height: 16px;
    }
</style>
<style>
    .progress-bar {
        width: 100% !important;
        background-color: #f3f3f3 !important;
        border-radius: 5px !important;
        height: 20px !important;
    }

    .progress {
        height: 100% !important;
        width: 70%;
        background-color: #4caf50 !important;
        border-radius: 5px !important;
        text-align: center !important;
        line-height: 20px !important; /* Aligns text in the middle */
        color: white !important;
        justify-content: center;
    }
    .dt-button {
        font-size: 14px !important;
        padding: 10px 20px !important;
        border-radius: 4px !important;
        border: none !important;
        cursor: pointer !important;
        margin-right: 5px !important;
        display: inline-block !important;
        font-weight: 600 !important;
        transition: all 0.3s ease-in-out !important;
    }

        .dt-button.buttons-excel {
            background-color: #3b9f42 !important; /* Excel-like green */
            color: white !important;
        }

            .dt-button.buttons-excel:hover {
                background-color: #2a7c2f !important; /* Darker green on hover */
            }

        /* PDF button (Red) */
        .dt-button.buttons-pdf {
            background-color: #e74c3c !important; /* PDF-like red */
            color: white !important;
        }

            .dt-button.buttons-pdf:hover {
                background-color: #c0392b !important; /* Darker red on hover */
            }

    /* Additional styling for the buttons wrapper */
    .dataTables_wrapper .dt-buttons {
        margin-bottom: 10px !important;
    }
</style>
<div class="search-box p-4 bg-white rounded mb-3 box-shadow">
    <form class="forms-sample">
        <div class="row align-items-center">
            <div class="col-lg-2">
                <h5>All Project Lists</h5>
            </div>
            <div class="col-lg-6 col-md-6">
                <input type="text" id="searchProjectBy" name="searchByProjectName" placeholder="Search by project name" class="form-control">
            </div>
            <div class="col-lg-3 col-md-6">
                <select id="filterProjectStatus" class="form-select form-select-lg">
                    <option selected value="">Project Status</option>
                    <option value="Ongoing">Ongoing</option>
                    <option value="Upcoming">Upcoming</option>
                    <option value="delay">Delay</option>
                    <option value="Complete">Completed</option>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="AlProjectReport">
                        <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Project Code</th>
                                <th>Project Name</th>
                                <th>Assign Date</th>
                                <th>Start Date</th>
                                <th>Completion Date</th>
                                <th>Project Status</th>
                                <th>Receipt</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (data != null && data.Count > 0)
                            {
                                var currentDate = DateTime.Now.Date;
                                foreach (var item in data)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.projectCode</td>
                                        <td>@item.ProjectTitle</td>
                                        <td>@item.AssignDateString</td>
                                        <td>@item.StartDateString</td>
                                        <td>@item.CompletionDatestring</td>
                                        <td>
                                            @if (item.ProjectStatus && (item.CompletionDate < currentDate || item.CompletionDate > currentDate))
                                            {
                                                <span class="badge bg-success">Completed</span>
                                            }
                                            else if (item.StartDate > currentDate && item.CompletionDate > currentDate)
                                            {
                                                <span class="badge bg-secondary">Not Started</span>
                                            }
                                            else if (!item.ProjectStatus && item.CompletionDate > currentDate)
                                            {
                                                <span class="badge bg-warning text-dark">Work in Progress</span>
                                            }

                                            else
                                            {
                                                <span class="badge bg-danger">Delay</span>
                                            }
                                        </td>
                                        <td><a href="@item.projectDocumentUrl" data-title="View" target="_blank" title="View Attachment">View</a></td>
                                    </tr>
                                    i++;
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="viewProjectModal" tabindex="-1" aria-labelledby="viewProjectModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header d-flex">
                        <h1 class="modal-title fs-5 text-success" id="exampleModalLabel"> Detail</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="viewProjectModalBody">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $("#AlProjectReport").DataTable({
            layout: {
                topStart: {
                    buttons: ['excel', 'pdf']
                }
            }
        });
    });

    // Search by text
    $('#searchProjectBy').on('keyup', function () {
        let value = $(this).val().trim();
        const url = new URL(window.location.href);
        url.searchParams.set("searchTerm", value);

        const division = $("#filterProjectStatus").val();
        if (division && division !== "null") url.searchParams.set("statusFilter", division);
        else url.searchParams.delete("statusFilter");

        clearTimeout(window.searchTimer);
        window.searchTimer = setTimeout(() => {
            showLoader();
            window.location.href = url.toString();
        }, 500);
    });

    // Filter by status
    $("#filterProjectStatus").on("change", function () {
        const url = new URL(window.location.href);

        if ($(this).val()) url.searchParams.set("statusFilter", $(this).val());
        else url.searchParams.delete("statusFilter");

        const searchValue = $('#searchProjectBy').val().trim();
        if (searchValue) url.searchParams.set("searchTerm", searchValue);

        showLoader();
        window.location.href = url.toString();
    });

    // Set values on page load
    $(document).ready(function () {
        const urlParams = new URLSearchParams(window.location.search);

        const search = urlParams.get('searchTerm');
        const division = urlParams.get('statusFilter');

        if (search) $('#searchProjectBy').val(search).focus();
        if (division) $('#filterProjectStatus').val(division);
    });
</script>


