
@{
    ViewBag.Title = "Assigned_Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var assignedData = ViewData["AssignedProjectList"] as List<RemoteSensingProject.Models.ProjectManager.ProjectList>;
    int i = 1;
}

<style>
    .link-icon {
        height: 16px;
    }
</style>
<div class="search-box p-4 bg-white rounded mb-3 box-shadow">
    <form class="forms-sample">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <h5>Assigned Project Lists</h5>
            </div>
            <div class="col-lg-6 col-md-6">
                <input type="text" id="searchByProjectName" name="searchByProjectName" placeholder="Search by project name" class="form-control">
            </div>
            <div class="col-lg-3 col-md-6">
                <select id="statusFilter"class="form-select form-select-lg">
                    <option selected value="">Project Status</option>
                    <option value="Processing">Work in Progress</option>
                    <option value="Pending">Pending</option>
                    <option value="Completed">Completed</option>
                <select class="form-select form-select-lg" id="filterProjectStatus">
                    <option value="" selected>Project Status</option>
                    <option value="Work in Progress">Work in Progress</option>
                    <option value="Pending">Pending</option>
                    <option value="Completed">Completed</option>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="projectTable" class="dataTableExample" style="width:100%">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>Project Name</th>
                                <th>Assign Date</th>
                                <th>Start Date</th>
                                <th>Completion Date</th>
                                <th>Project Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                           @if(assignedData != null && assignedData.Count > 0)
            {
                foreach(var item in assignedData)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.Title</td>
                        <td>@item.AssignDateString</td>
                        <td>@item.StartDateString</td>
                        <td>@item.CompletionDatestring</td>
                        <td>
                            @if (item.CompleteionStatus > 0 && item.ApproveStatus > 0)
                            {
                                <span class="badge bg-success">Completed</span>
                            }
                            else if (item.CompleteionStatus == 0 && item.ApproveStatus > 0)
                            {
                                <span class="badge bg-warning text-dark">Processing</span>
                            }
                            else
                            {
                                <span class="badge bg-secondary">Pending</span>
                            }
                        </td>
                        <td class="text-center">
                            <ul class="d-flex list-unstyled mb-0 justify-content-center">
                                <li class="me-2">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#addslider">
                                        <i class="link-icon" data-feather="eye"></i>
                                    </a>
                                </li>
                                <li class="me-2">
                                    <a href="/Employee/Weekly_Update_Project?Id=@item.Id" title="Weekly Update">
                                        <i class="link-icon" data-feather="calendar" style="color:orangered"></i>
                                    </a>
                                </li>
                                <li class="me-2">
                                    <a href="/Employee/Update_Project_Stage?Id=@item.Id" title="Update Stages">
                                        <i class="link-icon text-info" data-feather="plus-circle"></i>
                                    </a>
                                </li>
                                <li class="me-2">
                                    <a href="/Employee/Add_Expenses?Id=@item.Id" title="Add Expenses">
                                        <i class="link-icon text-danger" data-feather="file-plus"></i>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                                   i++;
                               }
                           }
                            @*<tr>
                                <td>1</td>
                                <td>01/01/2022</td>
                                <td>India Stack Global</td>
                                <td>01/01/2022</td>
                                <td>26/04/2022</td>
                                <td>
                                    <span class="badge bg-warning">Work in Progress</span>
                                </td>

                                <td class="text-center">
                                    <ul class="d-flex list-unstyled mb-0 justify-content-center">
                                        <li class="me-2"><a href="#" data-bs-toggle="modal" data-bs-target="#addslider"><i class="link-icon" data-feather="eye"></i></a></li>
                                        <li class="me-2">
                                            <a href="/Employee/Weekly_Update_Project/" title="Weekly Update">
                                                <i class="link-icon " data-feather="calendar" style="color:orangered"> </i>
                                            </a>
                                        </li>

                                        <li class="me-2">
                                            <a href="/Employee/Update_Project_Stage/" title="Update Stages">
                                                <i class="link-icon text-info" data-feather="plus-circle"> </i>
                                            </a>
                                        </li>
                                        <li class="me-2">
                                            <a href="/Employee/Add_Expenses/" title="Add Expenses">
                                                <i class="link-icon text-danger" data-feather="file-plus"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>*@

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="viewProjectModal" tabindex="-1" aria-labelledby="viewProjectModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header d-flex">
                        <h1 class="modal-title fs-5 text-success" id="exampleModalLabel"> PPP Based Slum Rehabilitaiton</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="viewProjectModalBody">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        var table = $("#projectTable").DataTable();
        $("#statusFilter").on("change", function () {
            var projectStatus = $(this).val();
            table.column(5).search(projectStatus).draw();
        })

        $('#searchByProjectName').on('keyup', function () {
            let table = $("#projectTable").DataTable();

            table.columns(1).search($(this).val()).draw();
        });
        setTimeout(() => {

            $('#searchByProjectName').trigger('keyup')
        }, 1000)

        $.ajax({
            url: "/Employee/GetAllProjectByManager",
            type: "GET",
            success: function (res) {
                $("#projectTable tbody").empty();

                $.each(res._list, function (index, item) {
                    var todayDate = new Date();
                    var currentDate = ("0" + todayDate.getDate()).slice(-2) + "-" +
                        ("0" + (todayDate.getMonth() + 1)).slice(-2) + "-" +
                        todayDate.getFullYear();
                    debugger
                    var statusLabel = item.CompleteionStatus === 0 && item.StartDateString <= currentDate
                        ? "Work in Progress"
                        : item.CompleteionStatus === 1 && item.CompletionDatestring < currentDate
                            ? "Completed"
                            : "Pending";

                    var badgeColor =
                        item.CompleteionStatus === 0 && item.StartDateString <= currentDate
                            ? " fw-bold text-secondary"
                            : item.CompleteionStatus === 0 && item.StartDateString < currentDate
                                ? " fw-bold "
                                : " fw-bold text-warning font-italic";

                    var row = `<tr>
                <td>${index + 1}</td>
                <td>${item.Title}</td>
                <td>${item.AssignDateString}</td>
                <td>${item.StartDateString}</td>
                <td>${item.CompletionDatestring}</td>
                <td><span class="${badgeColor}">${statusLabel}</span></td>
                <td class="text-center">
                    <ul class="d-flex list-unstyled mb-0 justify-content-center">

                         <li class="me-2">
                         <a href="#" class="viewProject" data-Id="${item.Id}"><i class="link-icon" data-feather="eye"></i></a>
                         </li>
                       
                        <li class="me-2">
                            <a href="/Employee/Weekly_Update_Project/" title="Weekly Update">
                                <i class="link-icon" data-feather="calendar" style="color:orangered"></i>
                            </a>
                        </li>
                        <li class="me-2">
                            <a href="/Employee/Update_Project_Stage?Id=${item.Id}" title="Update Stages">
                                <i class="link-icon text-info" data-feather="plus-circle"></i>
                            </a>
                        </li>
                        <li class="me-2">
                            <a href="/Employee/Add_Expenses/" title="Add Expenses">
                                <i class="link-icon text-danger" data-feather="file-plus"></i>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>`;
                    $("#projectTable tbody").append(row);
                });

                // Reinitialize feather icons
                feather.replace();
            },
            error: function (xhr, error) {
                console.log("An error occurred", error);
            }
        });


    })

    $(document).ready(function () {
        $("#filterProjectStatus").on("change", function () {
            var table = $("#projectTable").DataTable();
            table.column(5).search(this.value).draw();
        })
    })
</script>


<script>
    $(document).on("click",".viewProject", function () {
        let id = $(this).attr("data-Id");
        debugger
        Swal.fire({
            title: "Please wait...",
            text: "Processing your request ...",
            allowOutsideClick: false,
            allowEscapeKey: false,
            timer: 100000,
            didOpen: () => {
                Swal.showLoading();
            }
        });

        $.ajax({
            url: "/Employee/GetProjecDatatById",
            type: "get",
            data: { Id: id },
            success: function (res) {
                console.log(res);
                if (res.status) {

                    let stages = `<div class="stageSection">`;
                    if (res.data.pm.ProjectStage) {
                        if (res.data.stages.length > 0) {
                            $.each(res.data.stages, function (i, d) {
                                stages += `<label class="form-label"><a href="stage2">Stage ${i + 1}</a></label>
<div class="row">
    <div class="col-sm-4 mb-2">
        <label class="form-label fw-bolder">Key</label>
        <br />
        <span>${d.KeyPoint}</span>
    </div>
    <div class="col-sm-4 mb-2">
        <label class="form-label fw-bolder">Pdf Document</label>
        <br />
       <a href="${d.Document_Url}"><span>Document</span> <i class="fa-regular fa-file-pdf"></i></a>
    </div>
    <div class="col-sm-4 mb-2">
        <label class="form-label fw-bolder">Completion Date</label>
        <br />
        <span>${d.CompletionDate}</span>
    </div>
    <hr />
</div>`;
                            });
                            stages += "</div>";
                        }
                    }
                    let ExternalProject = ""
                    if (res.data.pm.ProjectType === "External") {
                        ExternalProject = `<div class="row">
    <div class="col-sm-4 mb-2">
        <label class="form-label fw-bolder">Department Name</label>
        <br />
        <span>${res.data.pm.ProjectDepartment}</span>
    </div>
    <div class="col-sm-4 mb-2">
        <label class="form-label fw-bolder">Contact Person</label>
        <br />
        <span>${res.data.pm.ContactPerson}</span>
    </div>
    <div class="col-sm-4 mb-2">
        <label class="form-label fw-bolder">Address</label>
        <br />
        <span>${res.data.pm.Address}</span>
    </div>
    <hr />
</div>`;
                    }

                    let subOrdinates = "";
                    if (res.data.SubOrdinate.length > 0) {
                        $.each(res.data.SubOrdinate, function (i, d) {
                            subOrdinates += ` <li>${d.Name}(${d.EmpCode})</li>`;
                        })
                    }
                    let all_element = `<div class="row">
     <div class="col-sm-4 mb-2">
         <label class="form-label fw-bolder">Title</label>
         <br />
         <span>${res.data.pm.ProjectTitle}</span>
     </div>
     <div class="col-sm-4 mb-2">
         <label class="form-label fw-bolder">Project Manager</label>
         <br />
         <span>${res.data.pm.ProjectManager}</span>
     </div>
     <div class="col-sm-4 mb-2">
         <label class="form-label fw-bolder">Assign Date</label>
         <br />
         <span>${convertToDate(res.data.pm.AssignDate)}</span>
     </div>

     <hr />
 </div>
 <div class="row">
     <div class="col-sm-4 mb-2">
         <label class="form-label fw-bolder">Start Date</label>
         <br />
         <span>${convertToDate(res.data.pm.StartDate)}</span>
     </div>
     <div class="col-sm-4 mb-2">
         <label class="form-label fw-bolder">Completion Date</label>
         <br />
         <span>${convertToDate(res.data.pm.CompletionDate)}</span>
     </div>
     <div class="col-sm-4 mb-2">
         <label class="form-label fw-bolder">Project Type</label>
         <br />
         <span>${res.data.pm.ProjectType}</span>
     </div>

     <hr />
 </div>
 ${res.data.pm.ProjectType === "External" ? ExternalProject : ""}
 <div class="row">
     <div class="col-sm-4 mb-2">
         <label class="form-label fw-bolder">Budget</label>
         <br />
         <span>${res.data.pm.ProjectBudget}</span>
     </div>
     <div class="col-sm-4 mb-2">
         <label class="form-label fw-bolder">Sub-Ordinate</label>
         <ul class="d-flex list-unstyled justify-content-between m-0">
             ${subOrdinates}
         </ul>
     </div>
     <div class="col-sm-4 mb-2">
         <label class="form-label fw-bolder">Stage</label>
         <br />
         <span>${res.data.pm.ProjectStage ? "Yes" : "No"}</span>
     </div>
     <hr />
 </div>
 ${res.data.pm.ProjectStage ? stages : ""}

     <div class="row">
         <label class="form-label fw-bolder">Description</label>
         <p>${res.data.pm.ProjectDescription}</p>
     </div>` ;

                    function convertToDate(timestamp) {
                        const parsedTimestamp = parseInt(timestamp.match(/\d+/)[0], 10);
                        const date = new Date(parsedTimestamp);
                        return date.toLocaleDateString();
                    }

                    $("#viewProjectModalBody").html(all_element);
                    $("#viewProjectModal").modal("show");
                    Swal.close();
                }
            },
            error: function (res) {

            },
            complete: function (res) {

            }
        })
    })

    })
  


</script>

