
@{
    ViewBag.Title = "Hiring_Vehicle";
    Layout = "~/Views/Shared/_employeeLayout.cshtml";
    var data = ViewData["hiringList"] as List<RemoteSensingProject.Models.ProjectManager.HiringVehicle>;
    var data1 = ViewData["projectlist"] as List<RemoteSensingProject.Models.Admin.main.Project_model>;
    string baseUrl = $"{Request.Url.Scheme}://{Request.Url.Authority}";

}

<link href="~/assets/css/hiringVehicleStyle.css" rel="stylesheet" />
<style>
    #reimbursementForm {
        display: none;
    }
    .row label{
        font-size:12px !important;
    }
    input::placeholder{
        font-size:12px !important;
    }
</style>
<nav class="page-breadcrumb d-flex align-items-center justify-content-between">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item active" aria-current="page">Indent For Hiring Vehicle For Field Work</li>
    </ol>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Request For Vehicle</button>
</nav>
<div class="row mx-0">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <select id="projectFilter" class="form-select form-select-sm">
                            <option selected value="">Filter By Project</option>
                            @if (data1 != null)
                            {
                                foreach (var item in data1)
                                {
                                    <option value="@item.Id">@item.ProjectTitle</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Indent For Hiring Vehicle for Field Form </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="forms-sample" id="createProjectForm">
                    <div class="row">
                        <div class="col-lg-4 mb-3">
                            <label for="projectName" class="form-label">Name of the Project</label>
                            <select name="projectId" class="form-select form-control-sm" id="projectName">
                                <option selected value="">Select Project</option>
                                @if (data1 != null)
                                {
                                    foreach (var item in data1)
                                    {
                                        <option value="@item.Id">@item.ProjectTitle</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label for="particular" class="form-label">Date of Field Program: From</label>
                            <input type="date" name="dateFrom" class="form-control form-control-sm" id="dateFrom">
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label for="items" class="form-label">To</label>
                            <input type="date" name="dateTo" class="form-control form-control-sm" id="dateTo">
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label for="purposeOfVisit" class="form-label">Purpose of Visit</label>
                            <input type="text" name="purposeOfVisit" class="form-control form-control-sm" id="purposeOfVisit" placeholder="Enter Purpose of Visit">
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label for="totalDaysNight" class="form-label">Total Number of Days & Night Halt</label>
                            <input type="text" name="totalDaysNight" class="form-control form-control-sm" id="totalDaysNight" placeholder="Total Number of Days & Night Halt">
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label for="totalPlainHills" class="form-label">Total Area Travel in Plain & Hills</label>
                            <input type="text" name="totalPlainHills" class="form-control form-control-sm" id="totalPlainHills" placeholder="Enter Total Area Travel in Plain & Hills">
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label for="taxi" class="form-label">Taxi (Ambassdor/Maruti/Gypsy/Jeep/Other)</label>
                            <input type="text" name="taxi" class="form-control form-control-sm" id="taxi" placeholder="Enter Taxi">
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label for="BookAgainstCentre" class="form-label">Book against Centre/Project Account</label>
                            <input type="text" name="BookAgainstCentre" class="form-control form-control-sm" id="BookAgainstCentre" placeholder="Book against Centre/Project Account">
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label for="availbilityOfFund" class="form-label">Availability of fund in the Project</label>
                            <select name="headId" class="form-control form-control-sm" id="availbilityOfFund">
                                <option value="">-Select Head-</option>
                            </select>
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label for="availablefund" class="form-label">Availability of fund</label>
                            <input type="number" readonly name="amount" id="availablefund" class="form-control form-control-sm" placeholder="Amount" />
                        </div>
                        <div class="col-lg-8 mb-3">
                            <label for="proposedPlace" class="form-label">Proposed Place/Places of Field Programme</label>
                            <textarea name="proposedPlace" class="form-control form-control-sm" placeholder="Write here..." id="proposedPlace"></textarea>
                        </div>
                        <div class="col-lg-12 mb-3">
                            <label for="note" class="form-label">Note: </label>
                            <textarea name="note" class="form-control form-control-sm" id="note" placeholder="Enter Note..."></textarea>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row mx-0">
    <div class="col-sm-12">
        <table class="table-bordered table-striped" id="dataTableExample">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>ProjectCode</th>
                    <th>Project Name</th>
                    <th>Head Name</th>
                    <th>Date From</th>
                    <th>Date To</th>
                    <th>Proposed Place</th>
                    <th>Purpose of Visit</th>
                    <th>Total Days & Night</th>
                    <th>Avaiability of fund</th>
                    <th>Remark</th>
                    @*<th>Action</th>*@
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @if (data != null)
                            {
                                int i = 1;
                                foreach (var item in data)
                                {
                        <tr>
                            <td>@i</td>
                            <td>@item.projectCode</td>
                            <td class="text-center" data-id="@item.id"><a data-title="View Details" class="action" href="#">@item.projectName</a></td>
                            <td>@item.headName</td>
                            <td>@Convert.ToDateTime(item.dateFrom).ToString("dd-MMM-yyyy")</td>
                            <td>@Convert.ToDateTime(item.dateTo).ToString("dd-MMM-yyyy")</td>
                            <td>@item.proposedPlace</td>
                            <td>@item.purposeOfVisit</td>
                            <td>@item.totalDaysNight</td>
                            <td>@item.amount</td>
                            <td>
                                @if (item.adminappr && !item.newRequest && item.remark == null)
                                {<span>Approved</span> }
                                else if (item.newRequest && !item.adminappr)
                                { <span>Pending</span>}
                                else
                                { <span>@item.remark</span>}
                        </td>
                        @*<td class="text-center" data-id="@item.id"><i class="fa-solid fa-eye action"></i></td>*@
                        <td>
                            @{
                                if (item.newRequest == true && item.adminappr == false)
                                { <span id="status" class="badge bg-primary pt-1">Pending</span> }
                                else if (item.newRequest == false && item.adminappr == true)
                                { <span id="status" class="badge bg-success">Approved</span> }
                                else if (item.newRequest == false && item.adminappr == false)
                                { <span id="status" class="badge bg-danger">Rejected</span> }
                            }
                        </td>
                        </tr>
                                            i++;
                                        }
                                    }
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="viewHiringVehicle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Indent For Hiring Vehicle for Field Form </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="formToPrint">
                <div class="form-container">
                    <div class="header">
                        <img src="@baseUrl/assets/images/remote_sensing_logo.jfif" alt="Logo" class="logo">
                        <div class="header-text">
                            <h4>REMOTE SENSING APPLICATIONS CENTRE</h4>
                            <h4>UTTAR PRADESH</h4>
                            <h5>INDENT FOR HIRING VEHICLE FOR FIELD WORK</h5>
                        </div>
                    </div>
                    <div class="form-content mt-4">
                        <div class="form-row">
                            <div class="form-label w-30">1. Name of the Project</div>
                            <span class="dotted-line w-70" id="nameProject"></span>
                        </div>
                        <div class="form-row">
                            <div class="form-label w-30">2. Date of Field Programme : From</div>
                            <span class="dotted-line w-70" id="from"></span>
                            <div class="ms-2">to</div>
                            <span class="dotted-line w-70" id="to"></span>
                        </div>
                        <div class="form-row">
                            <div class="form-label w-30">3. Proposed Place/Places of Field Programme</div>
                            <span class="dotted-line w-70" id="proposed"></span>
                        </div>
                        <div class="form-row">
                            <div class="form-label w-30">4. Purpose of Visit</div>
                            <span class="dotted-line w-70" id="purpose"></span>
                        </div>
                        <div class="form-row">
                            <div class="form-label w-30">5. Total Number of Days & Night Halt</div>
                            <span class="dotted-line w-70" id="totalNo"></span>
                        </div>
                        <div class="form-row">
                            <div class="form-label w-30">6. Total Area Travel in Plain & Hills</div>
                            <span class="dotted-line w-70" id="totalArea"></span>
                        </div>
                        <div class="form-row">
                            <div class="form-label w-30">7. Taxi (Ambassdor/Maruti/Gypsy/Jeep/Other)</div>
                            <span class="dotted-line w-70" id="taxi1"></span>
                        </div>
                        <div class="form-row">
                            <div class="form-label w-30">8. Book against Centre/Project Account</div>
                            <span class="dotted-line w-70" id="book"></span>
                        </div>
                        <div class="form-row">
                            <div class="form-label w-30">9. Availability of fund in the Project in this Head</div>
                            <span class="dotted-line w-70" id="availability"></span>
                        </div>

                        <div class="note-section w-100">
                            <div>
                                Note :  <span class="dotted-line w-100" id="note1">
                                </span> 
                            </div>
                        </div>

                        <div class="signature-section">
                            <div class="signature-block">
                                <h6>Indented By</h6>
                                <div class="signature-line">Signature :</div>
                                <div class="signature-line">Name :</div>
                                <div class="signature-line">Designation :</div>
                            </div>
                            <div class="signature-block">
                                <h6>Forwarded By</h6>
                                <div class="signature-line">Signature :</div>
                                <div class="signature-line">Name :</div>
                                <div class="signature-line">Head of Division/Project Manager</div>
                            </div>
                        </div>

                        <div class="approved-section">
                            <h6>Approved By</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary py-1 rounded-0" id="printBtn">Download</button>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        $("#printBtn").click(function () {

            Swal.fire({
                title: "Please wait !",
                text: "Processing your request....",
                allowOutsideClick: false,
                allowEscapeKey: false,
                didOpen: () => {
                    Swal.showLoading();
                }
            })
            var formContent = document.getElementById("formToPrint").outerHTML;

            var style = `<link href="${window.location.origin}/assets/css/hiringVehicleStyle.css" rel="stylesheet" type="text/css"/>
<link href="${window.location.origin}/assets/css/style.css" rel="stylesheet" type="text/css"/>
`;
            let htmlContentToPdf = `<html><head>${style}</head><body><div>${formContent}</div></body></html>`;

            fetch("/login/ExportHtmlToPdf", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ HtmlText: htmlContentToPdf })
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Failed to generate PDF");
                    }

                    const contentDisposition = response.headers.get("Content-Disposition");
                    let fileName = "Generated.pdf";

                    if (contentDisposition) {
                        const match = contentDisposition.match(/filename="?([^"]+)"?/);
                        if (match && match[1]) {
                            fileName = match[1];
                        }
                    }

                    return response.blob().then(blob => ({ blob, fileName }));
                })
                .then(({ blob, fileName }) => {
                    Swal.fire({
                        title: "Successfully !",
                        text: "Reinbursement pdf generated successfully.",
                        icon: "success"
                    })
                    const link = document.createElement("a");
                    const url = URL.createObjectURL(blob);
                    link.href = url;
                    link.download = fileName;
                    document.body.appendChild(link);
                    link.click();
                    link.remove();
                    URL.revokeObjectURL(url);
                })
                .catch(error => {
                    Swal.fire({
                        title: "Sorry !",
                        text: "Some issue occured while processing your request.",
                        icon: "error"
                    })
                    console.error("Error:", error)
                });

        })
    });

    $(document).ready(function () {
        debugger
        $(".action").on("click", function () {
            Swal.fire({
                title: "Please Wait!",
                text: "Processing Your Request.",
                allowOutsideClick: false,
                allowEscapeKey: false,
                didOpen: () => { Swal.showLoading(); }
            });
            let id = $(this).parent().attr("data-id")
            $.ajax({
                url: '/api/getHiringList',
                type: 'get',
                data: { id: id },
                success: function (res) {
                    console.log(res);
                    $("#nameProject").text(res.data[0].projectName)
                    $("#from").text(convertToDate(res.data[0].dateFrom))
                    $("#to").text(convertToDate(res.data[0].dateTo))
                    $("#proposed").text(res.data[0].proposedPlace)
                    $("#purpose").text(res.data[0].purposeOfVisit)
                    $("#totalNo").text(res.data[0].totalDaysNight)
                    $("#totalArea").text(res.data[0].totalPlainHills)
                    $("#taxi1").text(res.data[0].taxi)
                    $("#book").text(res.data[0].BookAgainstCentre)
                    $("#availability").text(res.data[0].amount)
                    $("#note1").text(res.data[0].note)
                    $("#viewHiringVehicle").modal("show")
                    Swal.close();
                },
                error: function (xhr) {

                }
            })
        })
    })


    function convertToDate(timestamp) {
        const date = new Date(timestamp);
        return date.toLocaleDateString();
    }

</script>  

<script>

    $("#availbilityOfFund").change(function () {
        let selectedElem = $(this).find("option:selected")
        $("#availablefund").val(selectedElem.attr("data-availabelFund"))
    })

    $("#projectName").change(function () {
        let prId = $(this).val();
        $.ajax({
            url: '/api/GetProjectBudgets',
            type: 'get',
            data: { projectId: prId },
            success: function (res) {
                $("#availbilityOfFund").empty();
                let option = `<option selected value="">Select Head</option>`;
                $.each(res.data, function (i, d) {
                    option += `<option value="${d.Id}" data-availabelFund="${d.ProjectAmount - d.ApproveAmount}">${d.ProjectHeads}</option>`;
                })
                    $("#availbilityOfFund").append(option);
            },
            error: function (xhr) {
                Swal.fire({
                    title: "Server issue !",
                    text: "Server is busy. Please try after sometime.",
                    icon: "error",
                    didClose: () => {
                        location.reload(true);   
                    }
                })
            }
        });
    });

</script>
<script>
    $(document).ready(function () {
        $("#createProjectForm").submit(function (e) {
            e.preventDefault();
            Swal.fire({
                title: 'Please Wait!',
                text: 'Your request under process.',
                didOpen: () => { Swal.showLoading(); }
            })
            let formData = new FormData(this);
            $.ajax({
                url: '/employee/Hiring_Vehicle',
                type: 'post',
                data: formData,
                contentType: false,
                processData: false,
                success: function (res) {
                    if (res.status) {
                        Swal.fire({
                            title: 'Success',
                            text: res.message,
                            icon: 'success',
                            didClose: () => { location.reload(true) }
                        })
                    }
                    else {
                        Swal.fire({
                            title: 'warning',
                            text: res.message,
                            icon: 'warning'
                        })
                    }
                },
                error: function (xhr) {
                    Swal.fire({
                        titel: 'Error',
                        text: 'Server Busy.Try after sometime!',
                        icon: 'error'
                    })
                }
            })
        })
    });

    // Project Filter
    $("#projectFilter").on("change", function () {
        const url = new URL(window.location.href);
        const project = $(this).val();

        if (project) url.searchParams.set("projectFilter", project);
        else url.searchParams.delete("projectFilter");

        showLoader(); // optional
        window.location.href = url.toString();
    });

    // Restore selected values on load
    $(document).ready(function () {
        const urlParams = new URLSearchParams(window.location.search);
        const project = urlParams.get("projectFilter");

        if (project) $("#projectFilter").val(project);
    });
</script>