
@{
    ViewBag.Title = "Meeting_Conclusion";
    Layout = "~/Views/Shared/_employeeLayout.cshtml";
}

<div class="row gutters mt-2">
    <div class="card">
        <div class="card-body">
            <h4>Meeting Conclusion</h4>
            <hr />
            <div class="row gutters">
                <div class="table-responsive">
                    <table id="tblheaderdetails" class="meeting-table table">
                        <tr>
                            <th>Meeting Title : </th>
                            <td>@Model.MeetingTitle</td>
                            <th></th>
                            <th>Time :</th>
                            <td>@Model.MeetingTimeString</td>
                            <th></th>
                            <th>Type :</th>
                            <td>@Model.MeetingType</td>
                            @if (@Model.MeetingType.ToLower() == "offline")
                            {
                                <th>Venue :</th>
                                <td>@Model.MeetingLink</td>
                            }

                        </tr>
                    </table>
                </div>
                <div class="card-body">
                    <div class="card-title d-flex justify-content-between">
                        <h5 style="color: #029e9d;"><i class="fa-solid fa-list"></i>&nbsp;Invited Members List</h5>
                        <h6 class="text-danger"> Please Check  CheckBox for Present</h6>
                    </div>
                    <div class="table-responsive">
                        <table id="basicExample" class="table custom-table" width="100%" border="1" style="font-size: 12px; text-align: center">
                            <thead>
                                <tr>
                                    <th>  <input type="checkbox" name="select_all" value="1" id="select_all" onclick="toggle(this);"> All Present</th>
                                    <th>Sr</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Contact No</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    Stack<int> memberRecord = new Stack<int>();
                                    if (ViewBag.getMember != null)
                                    {
                                        int count = 1;
                                        foreach (var item in ViewBag.getMember)
                                        {
                                            memberRecord.Push(item.Id);
                                            <tr>
                                                <th><input type="checkbox" class="employeeCheckBox" value="@item.Id" name="emp_id[]"></th>
                                                <td>@count</td>
                                                <td>@item.EmployeeCode</td>
                                                <td>@item.EmployeeName</td>
                                                <td>@item.EmployeeRole</td>
                                                <td>@item.MobileNo</td>
                                                <td>@item.Email</td>
                                            </tr>
                                            count++;
                                        }

                                    }
                                }

                            </tbody>

                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>

            <hr />

            <a href="#" class="fw-bolder fs-4">Key Points</a>
            <table id="keypointtbl" class="table">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th> Key Points</th>
                        <th>Response</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        int i = 1;
                        foreach (var item in Model.MeetingKeyPointDict)
                        {
                            <tr>
                                <td>Key Point @i</td>
                                <td>
                                    @item.keyPoint
                                </td>
                                <td> <input type="text" data-id="@item.Id" placeholder="Please Write Response" name="response" class="keyResponse form-control" /> </td>
                            </tr>
                            i++;
                        }
                    }
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
            <br />
            <div class="row gutters mt-1">
                <div class="col-sm-12 col-12 mb-2">
                    Next Follow Up? :
                    <input type="radio" name="FollowUpStatus" value="1" class="followUpdate" /> Yes&nbsp;
                    <input type="radio" name="FollowUpStatus" checked value="0" class="followUpdate" /> No
                </div>
                <div class="col-sm-6 col-12">
                    <div class="form-group">
                        <label> Conclusion</label>
                        <textarea class="form-control" id="meetingconclusion" name="meetingconclusion" placeholder="Please Write Meeting Conclusion" rows="1"></textarea>
                        @*<input type="text" class="form-control" id="meetingconclusion" name="meetingconclusion" placeholder="Please Write Meeting Conclusion ">*@
                    </div>
                </div>
                <div class="col-sm-6 col-12 d-none nexFollowUpDateContainer">
                    <div class="form-group">
                        <label> Next Follow Up</label>
                        <input type="date" id="nextfolloupdate" name="nextfolloupdate" class="form-control" />
                    </div>
                </div> <div class="col-sm-6 col-12 mt-2 d-none nexFollowUpDateContainer">
                    <div class="form-group">
                        <label>Meeting Member:</label><br />
                        <select class="form-control select2" id="MeetingMember" name="meetingMemberList" multiple>
                            @if (ViewBag.empList != null)
                            {
                                foreach (var item in ViewBag.empList)
                                {
                                    if (item != null)
                                    {
                                        <option value="@item.Id" @(memberRecord.Contains(item.Id) ? "selected" : "")>@item.EmployeeName - @item.EmployeeRole</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>



            <div class="row gutters mt-2">
                <div class="col-sm-4 col-12">

                </div>
                <div class="col-sm-4 col-12">
                    <div class="form-group">
                        <a href="javascript:void()" class="btn btn-primary" id="subMeetingConBtn" style="width:80%">Submit Meeting Conclusion</a>
                    </div>
                </div>
                <div class="col-sm-4 col-12">
                </div>

            </div>
        </div>
    </div>

</div>

<div class="row gutters my-3">
    <div class="card">
        <div class="card-body">


            <div class="table-container">
                <div class="t-header"><h4 class="mb-2 text-primary"><a href="#">Previous Meeting Details</a></h4>  <hr /></div>

                <div class="table-responsive">
                    <table id="dataTableExample" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Venue</th>
                                <th>Mode</th>
                                <th>Conclusion</th>
                                <th>Next FolloUp Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.MeetingConclusion != null)
                            {
                                if (ViewBag.MeetingConclusion.Count > 0)
                                {
                                    foreach (var item in ViewBag.MeetingConclusion)
                                    {
                                        <tr>
                                            <td>
                                                @item.MeetingDate @(item.MeetingDate.ToLower()=="offline"?item.address:"")
                                            </td>
                                            <td>
                                                @item.mode
                                            </td>
                                            <td>
                                                @item.Conclusion
                                            </td>
                                            <td>
                                                @item.NextFollow
                                            </td>

                                            <td>
                                                <ul class="d-flex list-unstyled mb-0 justify-content-center">
                                                    <li class="me-2"><a href="#" data-id="@item.Id" class="ShowPresentMember" data-bs-toggle="modal" data-bs-target="#AllMemmberDetails"><i class="fa-solid fa-circle-user" style="font-size:18px; color:green" title="View Meeting Members"> </i></a></li>
                                                    <li class="me-2"><a href="#" data-id="@item.Id" class="showKeyResponse" data-bs-toggle="modal" data-bs-target="#customModalTwo"><i class="fa-solid fa-list" style="font-size:18px; color:red" title="View Key Points"> </i></a></li>

                                                </ul>

                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AllMemmberDetails" tabindex="-1" aria-labelledby="AllMemmberDetails" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex">
                <h1 class="modal-title fs-5 text-light" id="exampleModalLabel">All Meeting Members</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Meeting Member Name</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="presentMemberContainer">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="customModalTwo" tabindex="-1" aria-labelledby="customModalTwo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex">
                <h1 class="modal-title fs-5 text-success" id="exampleModalLabel">Key Points Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Key Points</th>
                            <th>Response</th>
                        </tr>
                    </thead>
                    <tbody id="responseContainer">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script>
    $(document).ready(function () {

        setTimeout(() => {
            $(".select2").select2({
                placeholder: "--Select Member--"
            })
        }, 1000)
    })

    function showLoading(action) {
        Swal.fire({
            title: "Please Wait..!",
            text: "Request are under process.",
            allowOutsideClick: false,
            didOpen: () => {
                Swal.showLoading();
            }
        });
        if (!action) {
            Swal.close();
        }
    }

    $(document).ready(function () {
        initializeDataTable();
    })

    function initializeDataTable() {

        $('#tblparticipatemembers').DataTable({
            "pageLength": 5
        });
    }

    function destroyDataTable() {
        if ($.fn.DataTable.isDataTable('#tblparticipatemembers')) {
            $('#tblparticipatemembers').DataTable().destroy();
        }
    }

    $(".followUpdate").on("change", function () {
        if ($(this).val() == "1") {
            $(".nexFollowUpDateContainer").removeClass("d-none")
            $(".nexFollowUpDateContainer").attr("required", true)
        } else {
            $(".nexFollowUpDateContainer").addClass("d-none")
            $(".nexFollowUpDateContainer").attr("required", false)

        }
    })
</script>



<script>
    $(document).ready(function () {
        var table = $('#tblparticipatemembers').DataTable();


        $('#select_all').on('click', function () {
            var rows = table.rows({ 'search': 'applied' }).nodes();
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
        });

        $(document).on('click', 'input[type="checkbox"]', function () {
            if ($(this).is(":checked")) {
                var allChecked = table.rows({ 'search': 'applied' }).nodes().find('input[type="checkbox"]:checked').length === table.rows({ 'search': 'applied' }).count();
                $('#select_all').prop('checked', allChecked);
            } else {
                $('#select_all').prop('checked', false);
            }
        });
    });
</script>

<script>
    function toggle(source) {
        checkboxes = document.getElementsByName('emp_id[]');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
 $("#subMeetingConBtn").click(function (e) {
     e.preventDefault();
     debugger
     let formData = new FormData();
     let followUpStatus = $(".followUpdate:checked").val();
     let conclusion = $("#meetingconclusion").val();
     let nextFollowUpDate = $("#nextfolloupdate").val();
     let meetingMember = $("#MeetingMember").val();
     let keyPointCount = 0;
     let meetingId = "@Request.QueryString["meeting"]";
     formData.append("mc.Meeting", meetingId);
     formData.append("mc.Conclusion", conclusion.trim());
     formData.append("mc.FollowUpStatus", followUpStatus === "1");
     formData.append("mc.NextFollowUpDate", nextFollowUpDate.trim());
     meetingMember.forEach(function (d) {

     formData.append("mc.MeetingMemberList", d);
     })

     $(".keyResponse").each(function (i, d) {
         if (d.value.trim() !== "") {
             keyPointCount++;
             formData.append(`mc.KeyPointId[${i}]`, Number(d.getAttribute("data-id")));
             formData.append(`mc.KeyResponse[${i}]`, d.value.trim());
         }
     });

     if (keyPointCount !== $(".keyResponse").length) {
         Swal.fire({
             text: "All KeyPoints are required.",
             title: "Warning",
             icon: "warning",
         });
         return;
     }

     if (conclusion.trim() === "") {
         Swal.fire({
             text: "Conclusion is required.",
             title: "Warning",
             icon: "warning",
         });
         return;
     }

     if (followUpStatus === "1" && (nextFollowUpDate.trim() === "" || meetingMember.length <= 0)) {
         Swal.fire({
             text: "Follow-Up Date and Next Meeting Member are required.",
             title: "Warning",
             icon: "warning",
         });
         return;
     }

     $(".employeeCheckBox:checked").each(function (i, d) {
         formData.append(`mc.MemberId[${i}]`, d.value);
     });


     for (let [key, value] of formData.entries()) {
         console.log(`${key}: ${value}`);
     }
     showLoading(true);

     $.ajax({
         url: "/employee/AddMeetingConclusion",
         type: "POST",
         processData: false,
         contentType: false,
         data: formData,
         success: function (res) {

             if (res) {
                 Swal.fire({
                     text: "Conclusion added successfully.",
                     title: "Success",
                     icon: "success",
                 }).then(() => {
                     location.href = "/employee/Min_Of_Meeting";
                 });
             } else {
                 Swal.fire({
                     title: "Error",
                     text: "Something went wrong.",
                     icon: "error",
                 });
             }
         },
         error: function (xhr) {
             console.error("Error occurred:", xhr.responseText);

             Swal.fire({
                 title: "Error",
                 text: "An error occurred while adding the conclusion. Please try again.",
                 icon: "error",
             });
         },
     });
 });

    $(".ShowPresentMember").click(function () {
        let id = $(this).attr("data-id");
        $.ajax({
            url: "/employee/getPresentMember",
            type: "get",
            data: { id: id },
            success: function (res) {
                console.log(res)
                if (res != null) {
                    $("#presentMemberContainer").empty();
                    if (res.length > 0) {
                        res.forEach(function (d) {
                            $("#presentMemberContainer").append(` <tr>

     <td><img src="${d.Image_url}" alt="sliderimages" style="height: 20px;width: 20px;"> ${d.EmployeeName}	<span class="text-secondary">(${d.EmployeeRole})</span></td>
     <td>${d.PresentStatus ? "Joined" : "Not Joined"}</td>
 </tr>`)
                        })
                    }
                }
            }, error: function (xhr) {
                swal.fire({
                    title: "error",
                    text: "something went wrong",
                    icon: "error"
                })
            }
        })
    })
    $(".showKeyResponse").click(function () {
        let id = $(this).attr("data-id");
        $.ajax({
            url: "/employee/getKeypointResponse",
            type: "get",
            data: { id: id },
            success: function (res) {
                console.log(res)
                if (res != null) {
                    $("#responseContainer").empty();
                    if (res.length > 0) {
                        res.forEach(function (d) {
                            $("#responseContainer").append(` <tr>

      <td>${d.KeyPoint}</td>
 <td>${d.Response}</td>
 </tr>`)
                        })
                    }
                }
            }, error: function (xhr) {
                swal.fire({
                    title: "error",
                    text: "something went wrong",
                    icon: "error"
                })
            }
        })
    })

</script>