
@{
    ViewBag.Title = "Meetings";
    Layout = "~/Views/Shared/_employeeLayout.cshtml";
}
<div class="search-box p-4 bg-white rounded mb-3 box-shadow">
    <form class="forms-sample">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="t-header"><h4 class="mb-2 text-primary"><a href="#">Meeting Lists</a></h4></div>
            </div>
            <div class="col-lg-6 col-md-6">
                <input type="search" id="searchByMeetingName" placeholder="Search by meeting name" class="form-control">
            </div>
            <div class="col-lg-3 col-md-6">
                <select class="form-select form-select-lg" id="meetingStatus">
                    <option selected value="">Meeting Status</option>
                    <option value="pending">Pending</option>
                    <option value="complete">Complete</option>
                </select>
            </div>
        </div>
    </form>
</div>

<div class="row gutters my-3 mx-0">
    <div class="card">
        <div class="card-body">
            <div class="table-container">
                <div class="table-responsive">
                    <table id="dataTableExample" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Title</th>
                                <th>Meet Mode</th>
                                <th>Meet Address</th>
                                <th>Date</th>
                                <th>Meeting Status</th>
                                <th>Action</th>
                                <th>Joining Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                int count = 1;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>
                                            <a href="#" data-title="View Details" onclick="showAllConclusion(@item.Id)" role="button" >@item.MeetingTitle</a>
                                        </td>
                                        <td>
                                            @item.MeetingType
                                        </td>
                                        <td>
                                            @item.MeetingLink
                                        </td>
                                        <td>
                                            @item.MeetingDate
                                        </td>
                                        <td class="text-center"><span class="badge @(item.CompleteStatus==0?"bg-warning":"bg-success")">@(item.CompleteStatus==0?"Pending":"Complete")</span></td>
                                        <td>
                                            <ul class="d-flex list-unstyled mb-0 justify-content-center">
                                                @if (item.AppStatus == 0 && item.CompleteStatus == 0)
                                                {
                                                    <li class="me-2"><a href="#" data-title="Accept" data-id="@item.Id" class="acceptMeetingBtn"><i class="fa-regular fa-circle-check text-success"> </i></a></li>
                                                    <li class="me-2"><a href="#" data-id="@item.Id" class="rejectMeetingBtn" data-title="Reject"><i class="fa-regular fa-circle-xmark text-danger"> </i></a></li>
                                                }
                                                @*<li class="me-2"><i onclick="showAllConclusion(@item.Id)" role="button" class="fa-solid text-primary fa-eye"></i></li>*@


                                            </ul>

                                        </td>
                                        <td class="text-center"><span class="badge @(item.AppStatus==0?"bg-warning":item.AppStatus==1?"bg-success":"bg-danger")">@(item.AppStatus==0?"Pending":item.AppStatus==1?"Accept":"Rejected")</span></td>
                                    </tr>
                                    count++;
                                }
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="AllMemmberDetails" tabindex="-1" aria-labelledby="AllMemmberDetails" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex">
                <h1 class="modal-title fs-5 text-light" id="exampleModalLabel">All Meeting Members</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Meeting Member Name</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="presentMemberContainer">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="customModalTwo" tabindex="-1" aria-labelledby="customModalTwo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex">
                <h1 class="modal-title fs-5 text-success" id="exampleModalLabel">Key Points Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Key Points</th>
                            <th>Response</th>
                        </tr>
                    </thead>
                    <tbody id="responseContainer">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Modal show all conclusion-->
<div class="modal fade" id="AllConclusionModal" tabindex="-1" aria-labelledby="AllConclusionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <h1 class="modal-title fs-5" id="AllConclusionModalLabel">Conclusions</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-container">

                    <div class="table-responsive">
                        <table id="dataTableExamples" class="table table-striped">
                            <thead class="table-primary">
                                <tr>
                                    <th>Conclusion</th>
                                    <th>Next FolloUp Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="conclusionContainer">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    function showLoading(action) {
        Swal.fire({
            title: "Please Wait..!",
            text: "Request are under process.",
            allowOutsideClick: false,
            didOpen: () => {
                Swal.showLoading();
            }
        });
        if (!action) {
            Swal.close();
        }
    }

    $(".acceptMeetingBtn").click(function () {
        Swal.fire({
            icon: "question",
            title: "Confirm your action",
            text: "do you really want to accept?",
            showCancelButton: true,
            confirmButtonText: "Accept",
        }).then((result) => {
            if (result.isConfirmed) {
                let id = $(this).attr("data-id");
                let formData = new FormData();
                formData.append("meetingId", id)
                formData.append("ApprovedStatus", 1)
                $.ajax({
                    url: "/employee/GetMemberResponse",
                    type: "post",
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (res) {
                        if (res) {
                            Swal.fire({
                                title: "Success",
                                text: "Response Update Successfully",
                                icon: "success",
                                didClose: () => {
                                    location.reload()

                                }
                            })
                        } else {
                            Swal.fire({
                                title: "error",
                                text: "some error occured",
                                icon: "error"
                            })
                        }
                    }, error: function (xhr) {
                        console.log(xhr)
                        Swal.fire({
                            title: "error",
                            text: "some error occured",
                            icon: "error"
                        })
                    }
                })
            }
        })
    })
    $(".rejectMeetingBtn").click(function () {
        Swal.fire({
            icon: "question",
            title: "Confirm your action",
            text: "do you really want to Reject?",
            showCancelButton: true,
            confirmButtonText: "Reject",
            input: 'text',
            inputPlaceholder: 'Enter your reason',
            preConfirm: (data) => {
                if (!data) {
                    Swal.showValidationMessage('Please enter your reason');
                    return false;
                }
            }
        }).then((result) => {
            if (result.isConfirmed) {
                let id = $(this).attr("data-id");
                let formData = new FormData();
                formData.append("meetingId", id)
                formData.append("ApprovedStatus", 2)
                formData.append("reason", result.value)
                $.ajax({
                    url: "/employee/GetMemberResponse",
                    type: "post",
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (res) {
                        if (res) {
                            Swal.fire({
                                title: "Success",
                                text: "Response Update Successfully",
                                icon: "success",
                                didClose: () => {
                                    location.reload()
                                }
                            })
                        } else {
                            Swal.fire({
                                title: "error",
                                text: "some error occured",
                                icon: "error"
                            })
                        }
                    }, error: function (xhr) {
                        console.log(xhr)
                        Swal.fire({
                            title: "error",
                            text: "some error occured",
                            icon: "error"
                        })
                    }
                })
            }
        })
    })

    function showAllConclusion(id) {
        $("#AllConclusionModal").modal("show")
        showLoading(true);

        $.ajax({
            url: '/employee/GetConclusions',
            type: 'get',
            data: { id: id },
            success: function (res) {
                $("#conclusionContainer").empty();
                if (res != null) {
                    if (res.length > 0) {
                        res.forEach(function (d) {
                            $("#conclusionContainer").append(`
            <tr>
                <td>
                    ${d.Conclusion}
                </td>
                <td>
                    ${d.NextFollow || "N/A"}
                </td>

                <td>
                    <ul class="d-flex list-unstyled mb-0 justify-content-center">
                        <li class="me-2"><a href="#" onclick="ShowPresentMember(${d.Id})" class="ShowPresentMember" data-bs-toggle="modal" data-bs-target="#AllMemmberDetails"><i class="fa-solid fa-circle-user" style="font-size:18px; color:green" title="View Meeting Members"> </i></a></li>
                        <li class="me-2"><a href="#" onclick="showKeyResponse(${d.Id})" class="showKeyResponse" data-bs-toggle="modal" data-bs-target="#customModalTwo"><i class="fa-solid fa-list" style="font-size:18px; color:red" title="View Key Points"> </i></a></li>

                    </ul>

                </td>
            </tr>
        }
    }
}`)
                        })
                    } else {
                        $("#conclusionContainer").html("<p>no result found</p>")
                    }
                }
                showLoading(false);

            }, error: function (xhr) {
                console.log(xhr)
                Swal.fire({
                    title: 'Error',
                    icon: 'error',
                    text: 'An error occurred.',
                    confirmButtonText: 'ok'
                })
            }
        })
    }


    function ShowPresentMember(id) {
        $.ajax({
            url: "/employee/getPresentMember",
            type: "get",
            data: { id: id },
            success: function (res) {
                console.log(res)
                if (res != null) {
                    $("#presentMemberContainer").empty();
                    if (res.length > 0) {
                        res.forEach(function (d) {
                            $("#presentMemberContainer").append(` <tr>

    <td><img src="${d.Image_url}" alt="sliderimages" style="height: 20px;width: 20px;"> ${d.EmployeeName}	<span class="text-secondary">(${d.EmployeeRole})</span></td>
    <td>${d.PresentStatus ? "Joined" : "Not Joined"}</td>
</tr>`)
                        })
                    }
                }
            }, error: function (xhr) {
                swal.fire({
                    title: "error",
                    text: "something went wrong",
                    icon: "error"
                })
            }
        })
    }
    function showKeyResponse(id) {
        $.ajax({
            url: "/employee/getKeypointResponse",
            type: "get",
            data: { id: id },
            success: function (res) {
                console.log(res)
                if (res != null) {
                    $("#responseContainer").empty();
                    if (res.length > 0) {
                        res.forEach(function (d) {
                            $("#responseContainer").append(` <tr>

     <td>${d.KeyPoint}</td>
<td>${d.Response}</td>
</tr>`)
                        })
                    }
                }
            }, error: function (xhr) {
                swal.fire({
                    title: "error",
                    text: "something went wrong",
                    icon: "error"
                })
            }
        })
    }

    $("#meetingStatus").on("change", function () {
        let table = $("#dataTableExample").DataTable();
        table.columns(5).search(this.value).draw();
    })
    $('#searchByMeetingName').on('keyup', function () {
        let table = $("#dataTableExample").DataTable();
        table.columns(2).search(this.value).draw();
    });

    $(document).ready(function () {
        document.getElementById('AllMemmberDetails').addEventListener('hide.bs.modal', function () {
            $('#AllConclusionModal').modal('show');
        }); document.getElementById('customModalTwo').addEventListener('hide.bs.modal', function () {
            $('#AllConclusionModal').modal('show');
        });
    })
</script>
