
@{
    ViewBag.Title = "OutSource";
    Layout = "~/Views/Shared/_employeeLayout.cshtml";
    var data = ViewData["UserList"] as List<RemoteSensingProject.Models.ProjectManager.OuterSource>;

    var designations = ViewData["Designations"] as List<RemoteSensingProject.Models.Admin.main.CommonResponse>;

}

<style>
    .modal-body .sliderimages img {
        width: 20% !important;
        height: 20%;
        border-radius: 10px; 
    }

    svg {
        height: 20px;
    }

    .link-icon {
        height: 16px;
    }
    #addEmployeeform .form-group {
        padding: 8px 0;
    }

</style>

<nav class="page-breadcrumb d-flex align-items-center justify-content-between">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item active"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item" aria-current="page">/Out Source</li>
    </ol>
</nav>
<div class="search-box p-4 bg-white rounded mb-3 mx-3 box-shadow">
    <div class="row align-items-center">
        <div class="col-lg-3">
            <h5>Employee Lists</h5>
        </div>
        <div class="col-lg-9 col-md-9">
            <input type="text" placeholder="Search by employee name" id="searchByEmployeeName" class="form-control">
        </div>
    </div>
</div>
<div class="row mx-0">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th class="text-center">Sr. No.</th>
                                <th>Name</th>
                                <th>Contact No.</th>
                                <th>Email</th>
                                <th>Designations</th>
                                <th>Gender</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (data != null && data.Count > 0)
                            {
                                var count = 1;
                                foreach (var item in data)
                                {
                                    <tr>
                                        <td class="text-start">@count</td>
                                        <td>@item.EmpName</td>
                                        <td>@item.mobileNo</td>
                                        <td>@item.email</td>
                                        <td>@item.designationname</td>
                                        <td>@item.gender</td>
                                        <td><button title="Deallocate" data-id="@item.Id" class="deallocate border-0 bg-white"><i class="fa-solid fa-user-minus fs-6" style="color:rgb(2 158 157) !important"></i></button></td>
                                    </tr>   
                                    count++;
                                }

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $('#searchByEmployeeName').on('keyup', function () {
        let value = $(this).val().trim();
        const url = new URL(window.location.href);
        url.searchParams.set("searchTerm", value);

        window.history.replaceState({}, "", url);

        clearTimeout(window.searchTimer);
        window.searchTimer = setTimeout(() => {
            showLoader(); // 👈 Add here
            window.location.href = url.toString();
        }, 500);
    });

    $(document).ready(function () {
        const urlParams = new URLSearchParams(window.location.search);

        const search = urlParams.get('searchTerm');

        if (search) {
            $('#searchByEmployeeName').val(search).focus();
        }
    });

    $('.deallocate').on('click', function () {
        const id = $(this).data("id");
        $.ajax({
            url: `DeAllocateOutsource?outsourceid=${id}`,
            type: 'put',
            success: function (res) {
                if (res.status) {
                    Swal.fire('Success', res.message, 'success').then(() => {
                        location.reload(true);
                    });
                } else {
                    Swal.fire('Error', 'Something went wrong. Try again later', 'error');
                }
            }, error: function (xhr) {
                console.log(xhr);
                Swal.fire('Error', 'Server error occured', 'error');
            }
        });
    });
</script>