
@{
    ViewBag.Title = "OutSource";
    Layout = "~/Views/Shared/_employeeLayout.cshtml";
    var data = ViewData["UserList"] as List<RemoteSensingProject.Models.ProjectManager.OuterSource>;

    var designations = ViewData["Designations"] as List<RemoteSensingProject.Models.Admin.main.CommonResponse>;

}

<style>
    .modal-body .sliderimages img {
        width: 20% !important;
        height: 20%;
        border-radius: 10px;
    }

    svg {
        height: 20px;
    }

    .link-icon {
        height: 16px;
    }

    #addEmployeeform .form-group {
        padding: 8px 0;
    }
</style>

<nav class="page-breadcrumb d-flex align-items-center justify-content-between">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item active"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item" aria-current="page">/Out Source</li>
    </ol>
</nav>
<div class="search-box p-4 bg-white rounded mb-3 mx-3 box-shadow">
    <div class="row align-items-center">
        <div class="col-lg-3">
            <h5>Employee Lists</h5>
        </div>
        <div class="col-lg-9 col-md-9">
            <input type="text" placeholder="Search by employee name" id="searchByEmployeeName" class="form-control">
        </div>
    </div>
</div>
<div class="row mx-0">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th class="text-center">Sr. No.</th>
                                <th>Name</th>
                                <th>Contact No.</th>
                                <th>Email</th>
                                <th>Designations</th>
                                <th>Gender</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (data != null && data.Count > 0)
                            {
                                var count = 1;
                                foreach (var item in data)
                                {
                                    <tr>
                                        <td class="text-start">@count</td>
                                        <td>@item.EmpName</td>
                                        <td>@item.mobileNo</td>
                                        <td>@item.email</td>
                                        <td>@item.designationname</td>
                                        <td>@item.gender</td>
                                        <td class="text-center">
                                            <button title="Deallocate" data-id="@item.Id" class="deallocate border-0 bg-white"><i class="fa-solid fa-user-minus fs-6" style="color:rgb(2 158 157) !important"></i></button> |
                                            <a class="cursor-pointer sendoutsourceattour" data-id="@item.Id">&nbsp; <i class="fa-solid fa-tent-arrow-turn-left" style="color:rgb(2 158 157) !important"></i></a>
                                        </td>
                                    </tr>

                                    count++;
                                }

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addslider" data-backdrop="static" tabindex="-1" aria-labelledby="addslider" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>

                <h5 class="modal-title" id="exampleModalLabel">Send OutSource At Tour</h5>

            </div>
            <div class="modal-body">
                <form id="outSourceTourForm">

                    <input type="hidden" name="outsourceid" id="outsourceId" />

                    <div class="form-group mt-2">
                        <label id="fromDate" class="form-label">From</label>
                        <input type="date" class="form-control" name="fromDate" id="fromDate" />
                    </div>

                    <div class="form-group mt-2">
                        <label for="toDate" class="form-label">To</label>
                        <input type="date" class="form-control" name="toDate" id="toDate" />
                    </div>

                    <div class="form-group mt-2">
                        <label for="description" class="form-label">Description</label>
                        <textarea rows="2" placeholder="write something here..." class="form-control" id="description" name="description" ></textarea>
                    </div>

                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    $('.sendoutsourceattour').on('click', function () {
        const id = $(this).data("id");
        $('#outsourceId').val(id);
        $('#addslider').modal('show');
    })

    $('#searchByEmployeeName').on('keyup', function () {
        let value = $(this).val().trim();
        const url = new URL(window.location.href);
        url.searchParams.set("searchTerm", value);

        window.history.replaceState({}, "", url);

        clearTimeout(window.searchTimer);
        window.searchTimer = setTimeout(() => {
            showLoader(); // 👈 Add here
            window.location.href = url.toString();
        }, 500);
    });

    $(document).ready(function () {
        const urlParams = new URLSearchParams(window.location.search);

        const search = urlParams.get('searchTerm');

        if (search) {
            $('#searchByEmployeeName').val(search).focus();
        }
    });

    $('.deallocate').on('click', function () {
        const id = $(this).data("id");
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, remove it!"
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: 'Plaese wait',
                    text: 'We are processign your request...',
                    didOpen: () => { Swal.showLoading(); },
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                });
                $.ajax({
                    url: `DeAllocateOutsource?outsourceid=${id}`,
                    type: 'post',
                    success: function (res) {
                        if (res.status) {
                            Swal.fire('Success', res.message, 'success').then(() => {
                                location.reload(true);
                            });
                        } else {
                            Swal.fire('Error', 'Something went wrong. Try again later', 'error');
                        }
                    }, error: function (xhr) {
                        console.log(xhr);
                        Swal.fire('Error', 'Server error occured', 'error');
                    }
                });
            }
        });
      
    });

    $("#outSourceTourForm").on("submit", function (e) {
        e.preventDefault();
        Swal.fire({
            title: 'Please wait',
            text: 'We are processing your request...',
            didOpen: () => { Swal.showLoading(); },
            allowOutsideClick: false,
            allowEscapeKey: false
        });
        var formData = $(this).serializeArray();

        $.ajax({
            url: '/employee/InsertOutSourceTour',
            type: 'POST',
            data: formData,
            success: function (response) {
                if (response.status) {
                    Swal.fire('Success', response.message, 'success');
                    location.reload(true);
                } else {
                    Swal.fire('Error', response.message, 'error');
                }
            },
            error: function (xhr) {
                console.log(xhr);
                Swal.fire('Error','Server error occured','error')
            }
        });
    });
</script>