
@{
    ViewBag.Title = "Pending_Project_Report";
    Layout = "~/Views/Shared/_employeeLayout.cshtml";
    var data = ViewData["NotStartedProject"] as List<RemoteSensingProject.Models.Admin.main.Project_model>;
    int i = 1;
}

<style>
    .link-icon {
        height: 16px;
    }
</style>
<style>
    .progress-bar {
        width: 100% !important;
        background-color: #f3f3f3 !important;
        border-radius: 5px !important;
        height: 20px !important;
    }

    .progress {
        height: 100% !important;
        width: 70%;
        background-color: #4caf50 !important;
        border-radius: 5px !important;
        text-align: center !important;
        line-height: 20px !important; /* Aligns text in the middle */
        color: white !important;
        justify-content: center;
    }
</style>
<div class="search-box p-4 bg-white rounded mb-3 box-shadow">
    <form class="forms-sample">
        <div class="row align-items-center">
            <div class="col-lg-2">
                <h5>All Project Lists</h5>
            </div>
            <div class="col-lg-6 col-md-6">
                <input type="text" placeholder="Search by project name" id="searchByProjectName" class="form-control">
            </div>
            @*<div class="col-lg-3 col-md-6">
                    <select class="form-select form-select-lg">
                        <option selected>Serch by Project Manager</option>
                        <option value="1">Manager1</option>
                        <option value="2">Manager2</option>
                        <option value="3">Manager3</option>
                    </select>
                </div>*@
            <div class="col-lg-4 col-md-3">
                <select id="statusFilter" class="form-select form-select-lg">
                    <option selected>Project Status</option>
                    <option value="Processing">Work in Progress</option>
                    <option value="Not Started">Not Started</option>
                    <option value="Completed">Completed</option>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="dataTableExample">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>Project Name</th>
                                <th>Assign Date</th>
                                <th>Start Date</th>
                                <th>Completion Date</th>
                                <th>Project Status</th>
                                <th>Receipt</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (data != null && data.Count > 0)
                            {
                                var currentDate = DateTime.Now.Date;
                                foreach (var item in data)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.ProjectTitle</td>
                                        <td>@item.AssignDateString</td>
                                        <td>@item.StartDateString</td>
                                        <td>@item.CompletionDatestring</td>
                                        <td>
                                            @if (item.ProjectStatus && (item.CompletionDate < currentDate || item.CompletionDate > currentDate))
                                            {
                                                <span class="badge bg-success">Completed</span>
                                            }
                                            else if (!item.ProjectStatus && item.CompletionDate > currentDate)
                                            {
                                                <span class="badge bg-warning text-dark">Processing</span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-secondary">Not Started</span>
                                            }
                                        </td>
                                        <td><a href="@item.projectDocumentUrl" target="_blank" title="View Attachment">View</a></td>
                                    </tr>
                                    i++;
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addslider" tabindex="-1" aria-labelledby="addslider" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header d-flex">
                        <h1 class="modal-title fs-5 text-success" id="exampleModalLabel"> PPP Based Slum Rehabilitaiton</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-4 mb-2">
                                <label class="form-label fw-bolder">Title</label>
                                <br />
                                <span>PPP Based Slum Rehabilitaiton</span>
                            </div>
                            <div class="col-sm-4 mb-2">
                                <label class="form-label fw-bolder">Project Manager</label>
                                <br />
                                <span>Leonardo Payne</span>
                            </div>
                            <div class="col-sm-4 mb-2">
                                <label class="form-label fw-bolder">Assign Date</label>
                                <br />
                                <span>10/12/2022</span>
                            </div>

                            <hr />
                        </div>
                        <div class="row">
                            <div class="col-sm-4 mb-2">
                                <label class="form-label fw-bolder">Start Date</label>
                                <br />
                                <span>12/01/2023</span>
                            </div>
                            <div class="col-sm-4 mb-2">
                                <label class="form-label fw-bolder">Completion Date</label>
                                <br />
                                <span>01/12/2023</span>
                            </div>
                            <div class="col-sm-4 mb-2">
                                <label class="form-label fw-bolder">Project Type</label>
                                <br />
                                <span>External</span>
                            </div>

                            <hr />
                        </div>
                        <div class="row">
                            <div class="col-sm-4 mb-2">
                                <label class="form-label fw-bolder">Department Name</label>
                                <br />
                                <span>Macreel Infosoft Pvt. Ltd.</span>
                            </div>
                            <div class="col-sm-4 mb-2">
                                <label class="form-label fw-bolder">Contact Person</label>
                                <br />
                                <span>Person 1</span>
                            </div>
                            <div class="col-sm-4 mb-2">
                                <label class="form-label fw-bolder">Address</label>
                                <br />
                                <span>Noida Sector 63</span>
                            </div>
                            <hr />
                        </div>
                        <div class="row">
                            <div class="col-sm-4 mb-2">
                                <label class="form-label fw-bolder">Budget</label>
                                <br />
                                <span>2.3 Cr</span>
                            </div>
                            <div class="col-sm-4 mb-2">
                                <label class="form-label fw-bolder">Sub-Ordinate</label>
                                <ul class="d-flex list-unstyled justify-content-between m-0">
                                    <li>Member 1</li>
                                    <li>Member 2</li>
                                    <li>Member 3</li>
                                </ul>
                            </div>
                            <div class="col-sm-4 mb-2">
                                <label class="form-label fw-bolder">Stage</label>
                                <br />
                                <span>Yes</span>
                            </div>
                            <hr />
                        </div>
                        <div class="stageSection">
                            <label class="form-label"><a href="stage1">Stage 1</a></label>
                            <div class="row">
                                <div class="col-sm-4 mb-2">
                                    <label class="form-label fw-bolder">Key</label>
                                    <br />
                                    <span>Project Initiation</span>
                                </div>
                                <div class="col-sm-4 mb-2">
                                    <label class="form-label fw-bolder">Pdf Document</label>
                                    <br />
                                    <a href="#"><span>Document</span> <i class="fa-regular fa-file-pdf"></i></a>
                                </div>
                                <div class="col-sm-4 mb-2">
                                    <label class="form-label fw-bolder">Completion Date</label>
                                    <br />
                                    <span>02/03/2023</span>
                                </div>
                                <hr />
                            </div>
                            <label class="form-label"><a href="stage2">Stage 2</a></label>
                            <div class="row">
                                <div class="col-sm-4 mb-2">
                                    <label class="form-label fw-bolder">Key</label>
                                    <br />
                                    <span>Project Planing</span>
                                </div>
                                <div class="col-sm-4 mb-2">
                                    <label class="form-label fw-bolder">Pdf Document</label>
                                    <br />
                                    <a href="#"><span>Document</span> <i class="fa-regular fa-file-pdf"></i></a>
                                </div>
                                <div class="col-sm-4 mb-2">
                                    <label class="form-label fw-bolder">Completion Date</label>
                                    <br />
                                    <span>01/05/2023</span>
                                </div>
                                <hr />
                            </div>
                            <label class="form-label"><a href="stage3">Stage 3</a></label>
                            <div class="row">
                                <div class="col-sm-4 mb-2">
                                    <label class="form-label fw-bolder">Key</label>
                                    <br />
                                    <span>Project Execution</span>
                                </div>
                                <div class="col-sm-4 mb-2">
                                    <label class="form-label fw-bolder">Pdf Document</label>
                                    <br />
                                    <a href="#"><span>Document</span> <i class="fa-regular fa-file-pdf"></i></a>
                                </div>
                                <div class="col-sm-4 mb-2">
                                    <label class="form-label fw-bolder">Completion Date</label>
                                    <br />
                                    <span>01/07/2023</span>
                                </div>
                                <hr />
                            </div>
                            <label class="form-label"><a href="stage4">Stage 4</a></label>
                            <div class="row">
                                <div class="col-sm-4 mb-2">
                                    <label class="form-label fw-bolder">Key</label>
                                    <br />
                                    <span>Project Monitoring and controlling</span>
                                </div>
                                <div class="col-sm-4 mb-2">
                                    <label class="form-label fw-bolder">Pdf Document</label>
                                    <br />
                                    <a href="#"><span>Document</span> <i class="fa-regular fa-file-pdf"></i></a>
                                </div>
                                <div class="col-sm-4 mb-2">
                                    <label class="form-label fw-bolder">Completion Date</label>
                                    <br />
                                    <span>01/09/2023</span>
                                </div>
                                <hr />
                            </div>
                            <div class="row">
                                <label class="form-label fw-bolder">Description</label>
                                <p>This project aims to develop an innovative mobile app that enhances daily productivity by integrating task management, calendar scheduling, and reminder functionalities. Targeted at busy professionals, the app will feature a user-friendly interface and customizable settings to streamline workflow and improve time management. User feedback will guide iterative improvements.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {


        $("#statusFilter").on("change", function () {
            var table = $("#dataTableExample").DataTable();
            var projectStatus = $(this).val();

            table.column(5).search(projectStatus).draw();
        });

        $('#searchByProjectName').on('keyup', function () {
            var table = $("#dataTableExample").DataTable();
            table.column(1).search($(this).val()).draw();
        });
    });
</script>
