
@{
    ViewBag.Title = "Reimbursement_Form";
    Layout = "~/Views/Shared/_employeeLayout.cshtml";
    var data = ViewData["reimlist"] as List<RemoteSensingProject.Models.ProjectManager.Reimbursement>;
}

<style>
    #reimbursementForm {
        display: none;
    }
</style>

<nav class="page-breadcrumb mx-0 d-flex align-items-center justify-content-between">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item active" aria-current="page">Reimburserment</li>
    </ol>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add Reimbursement</button>
</nav>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Reimbursement Form </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="forms-sample" id="createProjectForm">
                    <div class="row">
                        <div class="col-lg-4 mb-3">
                            <label for="type" class="form-label">Type</label>
                            <select class="form-select form-select-sm" id="type" name="type">
                                <option value="" selected>Select Option</option>
                                <option value="contigency">Contigency</option>
                                <option value="adjustment">P.I adjustment</option>
                            </select>
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label for="vr_no" class="form-label">Vr. No. & Date</label>
                            <input type="text" name="vrNo_date" class="form-control form-control-sm" id="vr_no" placeholder="Enter Vr. No.">
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label for="particular" class="form-label">Particulars</label>
                            <input type="text" name="particulars" class="form-control form-control-sm" id="particulars" placeholder="Enter Particular">
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label for="items" class="form-label">Items</label>
                            <input type="text" name="items" class="form-control form-control-sm" id="items" placeholder="Enter Items">
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label for="purpose" class="form-label">Purpose</label>
                            <input type="text" name="purpose" class="form-control form-control-sm" id="purpose" placeholder="Enter Purpose">
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label for="amount" class="form-label">Amount</label>
                            <input type="number" name="amount" class="form-control form-control-sm" id="amount" placeholder="Enter Amount" step="any">
                            <span class="text-danger" id="amountMsg"></span>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" id="btnreim" class="btn btn-primary"><i class="link-icon" data-feather="plus"></i>Add Reimbursement</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row mx-0">
    <div class="col-sm-12">
        <table class="table-bordered table-striped" id="dataTableExample">
            <thead>
                <tr>
                    <th>S.N.</th>
                    <th>Vr.No. & Date</th>
                    <th>Particulars</th>
                    <th>Items</th>
                    <th>Purpose</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @if (data != null)
                {
                    foreach (var items in data)
                    {
                        <tr>
                            <td>@items.id</td>
                            <td>@items.vrNo_date</td>
                            <td>@items.particulars</td>
                            <td>@items.items</td>
                            <td>@items.purpose</td>
                            <td>₹ @Convert.ToDecimal(items.amount).ToString("N2")</td>
                            @{ 
                                string status = "";
                                if (items.newRequest)
                                {
                                    status = "Pending";
                                }
                                else if (items.adminappr)
                                {
                                    status = "Approved";
                                }
                                else
                                {
                                    status = "Rejected";
                                }
                            }
                            <td>@status</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        let ty = ""; 

        $("#type").on("change", function () {
            ty = $(this).val();
            $("#amount").trigger("keyup")
        });

        $("#amount").on("keyup", function () {
            let amountValue = parseFloat($(this).val());

            if (ty === "contigency") {
                $("#btnreim").prop('disabled', false);
                $("#amountMsg").text("")
            } else if (ty === "adjustment") {
                if (amountValue > 20000) {
                    $("#amountMsg").text("Amount is not greater than 20k")
                    $("#btnreim").prop('disabled', true);
                }
                else if (amountValue <= 20000) {
                    $("#btnreim").prop('disabled', false);
                    $("#amountMsg").text("")
                }
            }
        });

        $("#createProjectForm").submit(function (e) {
            e.preventDefault();
            Swal.fire({
                title: 'Please Wait!',
                text: 'Your request under process Please wait.',
                allowOutsideClick: false,
                allowEscapeKey: false,
                didOpen: () => { Swal.showLoading() }
            });
            let formData = new FormData(this);
            $.ajax({
                url: '/employee/Reimbursement_Form',
                type: 'post',
                data: formData,
                contentType: false,
                processData:false,
                success: function (res) {
                    if (res.status) {
                        Swal.fire({
                            title: 'Success',
                            text: res.message,
                            icon: 'success',
                            didClose: () => { location.reload() }
                        })
                    }
                    else {
                        Swal.fire({
                            title: 'warning',
                            text: res.message,
                            icon: 'warning'
                        })
                    }
                },
                error: function (xhr) {
                    Swal.fire({
                        title: 'error',
                        text: 'Server busy Please try after sometime.',
                        icon: 'error'
                    })
                }
            })
        })
    })
</script>