@{
    ViewBag.Title = "Update_Project_Stage";
    Layout = "~/Views/Shared/_employeeLayout.cshtml";
}



<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-header">
                <span class="card-title">Project Stages Status Update </span>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th class="text-center">Stage</th>
                                <th>Key</th>
                                <th>Pdf Document</th>
                                <th>Completion Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int index = 1; }
                            @if (ViewBag.ProjectStages != null)
                            {
                                var currentDate = DateTime.Now.Date;

                                foreach (var stages in ViewBag.ProjectStages)
                                {
                                    <tr data-project-id="@stages.Project_Id">

                                        <td>@index</td>
                                        <td>@stages.KeyPoint</td>
                                        <td>
                                            <img src="@stages.Document_Url" height="60" width="100" />
                                        </td>
                                        <td>@stages.CompletionDatestring</td>
                                        <td>
                                            @if (stages.completionStatus == 1 && ( stages.CompletionDate < currentDate || stages.CompletionDate > currentDate))
                                            {
                                                <span class="badge bg-success">Completed</span>
                                            }
                                            else if (stages.completionStatus == 0 && stages.CompletionDate > currentDate)
                                            {
                                                <span class="badge bg-danger">Delay </span>
                                            }
                                            else 
                                            {
                                                <span class="badge bg-info">Pending</span>
                                            }
                                        </td>
                                        <td>
                                            @if (stages.completionStatus == 1 && (stages.CompletionDate < currentDate || stages.CompletionDate > currentDate))
                                            {
                                                <a href="#" id="viewCompleteDetails" data-id="@stages.Id" data-bs-toggle="modal" data-bs-target="#viewStatusModal">
                                                    <i class="link-icon" data-feather="eye"></i>
                                                </a>

                                            }
                                            else if (stages.completionStatus == 0 && stages.CompletionDate > currentDate)
                                            {
                                                <a href="#" data-id="@stages.Id" data-bs-toggle="modal" data-bs-target="#addslider"><i class="link-icon" data-feather="edit"></i></a>
                                                <a href="#" id="viewDetail" data-id="@stages.Id" data-bs-toggle="modal" data-bs-target="#viewDelayStatusModal"><i class="link-icon" data-feather="eye"></i></a>
                                            }
                                            else 
                                            {
                                                <a href="#" data-id="@stages.Id" data-bs-toggle="modal" data-bs-target="#addslider"><i class="link-icon" data-feather="edit"></i></a>
                                            }
                                        </td>
                                    </tr>
                                    index++;
                                }
                            }

                            @*<tr>
                                    <td class="text-start">Stage 2</td>
                                    <td>Project Planing</td>
                                    <td>
                                        <a href="#"><span>Document</span> <i class="fa-regular fa-file-pdf"></i></a>
                                    </td>
                                    <td>30/10/2024</td>
                                    <td><span class="badge bg-danger">Delay by 10 Days</span></td>
                                    <td>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#addslider"><i class="link-icon" data-feather="edit"></i></a>

                                        <a href="#" data-bs-toggle="modal" data-bs-target="#viewDelayStatusModal"><i class="link-icon" data-feather="eye"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-start">Stage 3</td>
                                    <td>Project Execution</td>
                                    <td>
                                        <a href="#"><span>Document</span> <i class="fa-regular fa-file-pdf"></i></a>
                                    </td>
                                    <td>30/11/2024</td>
                                    <td><span class="badge bg-info">Pending</span></td>
                                    <td><a href="#" data-bs-toggle="modal" data-bs-target="#addslider"><i class="link-icon" data-feather="edit"></i></a></td>
                                </tr>
                                <tr>
                                    <td class="text-start">Stage 4</td>
                                    <td>Project Monitoring and controlling</td>
                                    <td>
                                        <a href="#"><span>Document</span> <i class="fa-regular fa-file-pdf"></i></a>
                                    </td>
                                    <td>30/12/2024</td>
                                    <td><span class="badge bg-info">Pending</span></td>
                                    <td>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#addslider"><i class="link-icon" data-feather="edit"></i></a>
                                    </td>
                                </tr>*@

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addslider" tabindex="-1" aria-labelledby="addslider" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center text-light">
                <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>

                <h5 class="modal-title float-start" id="exampleModalLabel">Add Weekly Status</h5>
            </div>
            <div class="modal-body">
                <form class="forms-sample" id="statusForm">
                    <input type="hidden" class="form-control" name="Stage_Id" id="stageId" />
                    <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                        <select class="form-select" id="status" name="Status">
                            <option value="">Select Status</option>
                            <option value="completed">Completed</option>
                            <option value="delayed">Delayed</option>
                        </select>
                    </div>

                    <div id="completedFields" class="d-none">
                        <div class="mb-3">
                            <label for="comment" class="form-label">Comment</label>
                            <textarea class="form-control form-control-sm" name="Comment" id="Comment" rows="10" placeholder="Project Description"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="completion" class="form-label">Completion in %</label>
                            <input type="number" class="form-control" id="completion" name="CompletionPrecentage" placeholder="Enter Completion Percentage" min="0" max="100">
                        </div>
                        <div class="mb-3">
                            <label for="upload" class="form-label">Upload Document</label>
                            <input class="form-control" type="file" id="upload" name="StageDocument">
                        </div>
                    </div>

                    <div id="delayedFields" class="d-none">
                        <div class="mb-3">
                            <label for="delayReason" class="form-label">Reason for Delay</label>
                            <textarea class="form-control form-control-sm" name="DelayReason" id="delayReason" rows="4" placeholder="Enter Reason for Delay"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="upload" class="form-label">Upload Document</label>
                            <input class="form-control" type="file" id="delayedUpload" name="DelayedStageDocument">
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary"><i class="link-icon" data-feather="plus"></i> Add Status</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewStatusModal" tabindex="-1" aria-labelledby="viewStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center text-white">
                <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>

                <h5 class="modal-title float-start" id="viewStatusModalLabel">View Detail</h5>
            </div>
            <div class="modal-body">
                <div id="viewCompleteStatus">
                    @*<h6>Comment:</h6>
                        <p>This project aims to develop an innovative mobile app that enhances daily productivity by integrating task management, calendar scheduling, and reminder functionalities.</p>
                        <hr />
                        <h6>Completion Percentage:</h6>
                        <p>10%</p>
                        <hr />

                        <h6>Document:</h6>
                        <p>
                            <a href="#" aria-label="Download PDF">
                                <i class="fa-regular fa-file-pdf"></i> Download Document
                            </a>
                        </p>*@
                </div>
            </div>            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewDelayStatusModal" tabindex="-1" aria-labelledby="viewStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center text-white">
                <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>

                <h5 class="modal-title float-start" id="viewStatusModalLabel">View Detail</h5>
            </div>
            <div class="modal-body">
                <div id="viewCompletedFields">

                </div>
            </div>            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('status').addEventListener('change', function () {
        const completedFields = document.getElementById('completedFields');
        const delayedFields = document.getElementById('delayedFields');

        if (this.value === 'completed') {
            completedFields.classList.remove('d-none');
            delayedFields.classList.add('d-none');
        } else if (this.value === 'delayed') {
            delayedFields.classList.remove('d-none');
            completedFields.classList.add('d-none');
        } else {
            completedFields.classList.add('d-none');
            delayedFields.classList.add('d-none');
        }
    });

</script>

<script>

    $(document).ready(function () {
        // Ensure that the 'a' elements exist and have data-bs-toggle="modal" attribute
        $('body').on('click', 'a[data-bs-toggle="modal"]', function () {
            const stageIdValue = $(this).data('id');

            $('#stageId').val(stageIdValue);

        });
    });



</script>

<script>
    $("#statusForm").on("submit", function (event) {
        event.preventDefault();

        var formData = new FormData(this);
        const stageId = $('#stageId').val();
        formData.append("Stage_Id", stageId);

        var projectId = $("#dataTableExample tbody tr:first").data("project-id");
        if (projectId) {
            formData.append("Project_Id", projectId);
        }

        debugger

        if ($("#upload").get(0).files.length > 0) {
            formData.append("StageDocument", $("#upload").get(0).files[0]);
        }
        if ($("#delayedUpload").get(0).files.length > 0) {
            formData.append("DelayedStageDocument", $("#delayedUpload").get(0).files[0]);
        }
        debugger

        $.ajax({
            url: "/Employee/AddStageStatus",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function (res) {
                if (res.status == true) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: 'The stage status was added successfully.',
                        confirmButtonText: "OK"
                    }).then(() => {
                        window.location.reload();
                    });

                } else {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Something went wrong!',
                        text: 'The stage status could not be added.'
                    });
                }
            },
            error: function (xhr, error) {
                console.error("Error:", error);
                console.error("Details:", xhr.responseText);
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'An error occurred while processing your request.'
                });
            }
        });
    });


</script>
<script>
    $(document).ready(function () {
        $(document).on('click', '#viewCompleteDetails', function (e) {
            e.preventDefault();

            const id = $(this).data('id'); // Retrieve the ID from data attribute

            // Clear the modal content before making the request
            $('#viewCompleteStatus').empty();

            $.ajax({
                url: '/Employee/ViewStageCompleteStatus',
                type: 'GET',
                data: { stageId: id },
                success: function (res) {
                    console.log(res)
                    const modalContent = `
                <h6>Update Date:</h6>
                <p>${res.data.CreatedDate}</p>
                <hr />
                 <h6>Comment:</h6>
                <p>${res.data.Comment}</p>
                <hr />
                <h6>Completion Percentage:</h6>
                <p>${res.data.CompletionPrecentage}%</p>
                <hr />
                <h6>Document:</h6>
                <p>
                    <a href="${res.data.StageDocument_Url}" aria-label="Download PDF" target="_blank">
                        <i class="fa-regular fa-file-pdf"></i> Download Document
                    </a>
                </p>
            `;
                    $('#viewCompleteStatus').append(modalContent);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                    const errorMessage = `<p class="text-danger">Failed to load data. Please try again.</p>`;
                    $('#viewCompleteStatus').append(errorMessage);
                }
            });
        });
    });

</script>

<script>

    $(document).ready(function () {
        $(document).on('click', '#viewDetail', function (e) {
            e.preventDefault();

            var dataId = $(this).data('id');
            debugger
            $.ajax({
                url: '/Employee/ViewDelayReason',
                type: 'GET',
                data: { stageId: dataId },
                success: function (res) {
                    var completedFields = $('#viewCompletedFields');
                    completedFields.empty();

                    $.each(res.stageList, function (index, item) {
                        completedFields.append(`
                        <div class="delay-reason-item">
                            <h6>Update Date:</h6>
                            <p>${item.CreatedDate}</p> 
                             <hr />
                            <h6>Reason:</h6>
                            <p>${item.DelayReason}</p>
                            <hr />
                            <h6>Document:</h6>
                            <p>
                                <a href="${item.StageDocument_Url}" aria-label="Download PDF" target="_blank">
                                    <i class="fa-regular fa-file-pdf"></i> Download Document
                                </a>
                            </p>
                            <hr />
                        </div>
                    `);
                    });
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching data:', error);
                }
            });
        });


    });

</script>