
@{
    ViewBag.Title = "Weekly_Update_Project";
    Layout = "~/Views/Shared/_employeeLayout.cshtml";
    int k=1;
}

<style>
    .modal-body .sliderimages img {
        width: 20% !important;
        height: 20%;
        border-radius: 10px;
    }

    svg {
        height: 20px;
    }
</style>

<nav class="page-breadcrumb d-flex align-items-center justify-content-between">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item active" aria-current="page">Monthly Status Update</li>
    </ol>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addslider"><i class="link-icon" data-feather="plus"></i> Add Monthly Status</button>
</nav>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th class="text-center">Sr. No.</th>
                                <th>Date</th>
                                <th>Comment</th>
                                <th>Unit</th>
                              </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.WeeklyUpdateList as List<RemoteSensingProject.Models.Admin.main.Project_MonthlyUpdate>)
                            {
                                <tr>
                                    <td class="text-start">@k</td>
                                    <td>@Convert.ToDateTime(item.date).ToString("dd-MMM-yyyy")</td>
                                    <td class="w-25"> @item.comments</td>
                                    <td>@item.unit</td>
                                </tr>
                                k++;
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addslider" tabindex="-1" aria-labelledby="addslider" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="exampleModalLabel">Add Monthly Status</h5>
            </div>
            <div class="modal-body">
                <form class="forms-sample" id="weeklyUpdateForm">
                    <div class="row">
                        <div class="mb-3 col-md-12">
                            <label for="subtitle" class="form-label">Date</label>
                            <input type="date" class="form-control form-control-sm" name="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" />

                        </div>
                        <div class="mb-3 col-md-12">
                            <label class="form-label">Unit</label>
                            <input type="text" class="form-control form-control-sm" name="unit" placeholder="Enter unit..."/>
                        </div>
                        <div class="mb-3 col-md-12">
                            <label class="form-label fw-bold">Target</label>
                            <hr />
                            <div class="row">
                                <div class="col-md-6 mb-2">
                                    <label class="form-label">Annual</label>
                                    <input type="text" name="annual" class="form-control form-control-sm" placeholder="Annual"/>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <label class="form-label">Month-end</label>
                                    <input type="text" name="monthEnd" class="form-control form-control-sm" placeholder="Month end"/>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 col-md-12">
                            <label class="form-label fw-bold">Achievement</label>
                            <hr />
                            <div class="row">
                                <div class="col-md-6 mb-2">
                                    <label class="form-label">
                                        Review-month
                                    </label>
                                    <input type="text" name="reviewMonth" class="form-control form-control-sm" placeholder="Review Month"/>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <label class="form-label">Month-end-sequentially</label>
                                    <input type="text" name="MonthEndSequentially" class="form-control form-control-sm" placeholder="Month end sequentially"/>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3 col-md-12">
                            <label for="subtitle" class="form-label">State-beneficiaries</label>
                            <input class="form-control form-control-sm" name="StateBeneficiaries" id="tinymceExample" rows="10" placeholder="Enter State Beneficiaries" />
                        </div>
                        
                        <div class="mb-3 col-md-12">
                            <label for="subtitle" class="form-label">Comment</label>
                            <textarea class="form-control form-control-sm" name="comments" id="tinymceExample" rows="10" placeholder="Enter Comment"></textarea>
                        </div>
                        <input type="hidden" name="ProjectId" value="@Request.QueryString["Id"]"/>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary"><i class="link-icon" data-feather="plus"></i> Update Status</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $("#weeklyUpdateForm").on("submit", function (e) {
        e.preventDefault();
        Swal.fire({
            title: "Please wait ...",
            text: "Processing your request...",
            timer: 100000,
            allowOutsideClick: false,
            allowEscapeKey: false,
            didOpen: () => {
                Swal.showLoading();
            }
        })

        let formData = $(this).serialize();
        $.ajax({
            url : "/employee/UpdateWeekly",
            type : "post",
            data: formData,
            success: function (res) {
                if (res) {
                    Swal.fire({
                        title: "Successfully !",
                        text: res.message,
                        icon: "success",
                        didClose: () => {
                            location.reload(true)
                        }
                    })
                }
                else {
                    Swal.fire({
                        title: "Sorry !",
                        text: res.message,
                        icon: "warning"
                    })
                }
            },
            error: function () {
                Swal.fire({
                    title: "Server busy !",
                    text: "Server is busy ! Please try after sometime.",
                    icon: "error",
                    didClose: () => {
                        location.reload(true)
                    }
                })
            }
        })
    })
</script>