
@{
    ViewBag.Title = "Add_Project";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<style>
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #444;
        line-height: 13px;
    }
</style>
    <nav class="page-breadcrumb d-flex align-items-center justify-content-between">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item active" aria-current="page">Add Project</li>
        </ol>
        <a href="/admin/Project_List" class="btn btn-primary"><i class="link-icon" data-feather="arrow-left"></i> Back To List</a>
    </nav>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form class="forms-sample" id="createProjectForm">
                        <div class="row">
                            <div class="col-lg-4 mb-3">
                                <label for="upload" class="form-label">Title</label>
                                <input type="text" name="pm.pm.ProjectTitle" class="form-control form-control-sm" id="daynight" placeholder="Enter Project Title">
                            </div>
                            <div class="col-lg-4 mb-3">
                                <label for="title" class="form-label">Assign Date</label>
                                <div class="input-group date datepicker datePickerExample">
                                    <input type="text" class="form-control form-control-sm" name="pm.pm.AssignDate">
                                    <span class="input-group-text input-group-addon"><i data-feather="calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-3">
                                <label for="subtitle" class="form-label">Start Date</label>
                                <div class="input-group date datepicker datePickerExample">
                                    <input type="text" class="form-control form-control-sm" name="pm.pm.StartDate">
                                    <span class="input-group-text input-group-addon"><i data-feather="calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 mb-3">
                                <label for="title" class="form-label">Completion Date</label>
                                <div class="input-group date datepicker datePickerExample">
                                    <input type="text" class="form-control form-control-sm" name="pm.pm.CompletionDate">
                                    <span class="input-group-text input-group-addon"><i data-feather="calendar"></i></span>
                                </div>
                            </div>

                            <div class="col-lg-4 mb-3">
                                <label for="title" class="form-label">Project Manager</label>
                                <select class="form-control form-control-sm" name="pm.pm.ProjectManager">
                                    <option value="">Select an Option</option>
                                    @foreach(var item in ViewBag.projectManager as List<RemoteSensingProject.Models.Admin.main.Employee_model>)
                                     {
                                         <option value="@item.Id">@item.EmployeeName (@item.EmployeeCode)</option>
                                     }
                                </select>
                            </div>
                            <div class="col-lg-4 mb-3">
                                <label for="title" class="form-label">Sub-Ordinate</label>
                                <select class="form-control form-control-sm" name="pm.pm.SubOrdinate" multiple>
                                    <option value="">Select an Option</option>
                                    @foreach (var item in ViewBag.subOrdinateList as List<RemoteSensingProject.Models.Admin.main.Employee_model>)
                                    {
                                        <option value="@item.Id">@item.EmployeeName (@item.EmployeeCode)</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 mb-3">
                                <div class="d-flex justify-content-between">
                                <label for="title" class="form-label">Budget</label><label class="form-label" id="addBudgetItem" data-count="1"> <a href="#"><i class="fa-solid fa-circle-plus"></i> Add Budget Heads</a></label>
                                   </div>
                                <input type="text" class="form-control form-control-sm" name="pm.pm.ProjectBudget" id="budgetAmount" placeholder="Enter Project Budget">
                            </div>
                            <div class="col-lg-4 mb-3">
                                <label for="title" class="form-label">Project Document</label>
                                <input type="file" class="form-control form-control-sm" name="" id="projectDocumentFile">
                            </div>
                            

                            <div class="col-lg-4 mb-3">
                                <label for="title" class="form-label">Project Type</label>
                                <br />
                                <label for="projectType" class="form-label">
                                    <input type="radio" name="pm.pm.ProjectType" class="form-check-input" value="Internal" checked /><span>Internal</span>
                                </label>
                                <label for="stage" class="form-label ms-2">
                                    <input type="radio" name="pm.pm.ProjectType" class="form-check-input" value="External" /> <span>External</span>
                                </label>
                            </div>


                            <div class="col-lg-4 mb-3">
                                <label for="title" class="form-label w-100">Stage</label>
                                <label for="stage" class="form-label">
                                    <input type="radio" name="pm.pm.ProjectStage" class="form-check-input" value="true" /> <span>Yes</span>
                                </label>
                                <label for="stage" class="form-label ms-2">
                                    <input type="radio" name="pm.pm.ProjectStage" class="form-check-input" value="false" checked /><span>No</span>
                                </label>


                            </div>
                        </div>
                        <div id="budgetContainerBox" style="display:none;">
                            <fieldset>
                                <legend style="font-size:15px;"> <label class="form-label my-2 fw-bolder"><a href="#">Project Budget Detail</a></label></legend>


                                <div class="row budgetList">
                                    <div class="col-lg-5 mb-3">
                                        <label for="title" class="form-label">Heads</label>
                                        <input type="text" class="form-control form-control-sm" name="pm.budgets[0].ProjectHeads" id="" placeholder="Enter Key Point">
                                    </div>
                                    <div class="col-lg-5 mb-3">
                                        <label for="title" class="form-label">Amount</label>
                                        <input type="text" class="form-control form-control-sm" id="person" name="pm.budgets[0].ProjectAmount" placeholder="Enter Contact Person Name">
                                    </div>


                                </div>
                                <div class="row" id="miscList">
                                    <div class="col-lg-5 mb-3">
                                        <label for="title" class="form-label">
                                            Miscellaneous
                                        </label>
                                        <input type="text" class="form-control form-control-sm" name="pm.budgets[0].Miscellaneous" id="" placeholder="Enter Key Point">
                                    </div>
                                    <div class="col-lg-5 mb-3">
                                        <label for="misAmount" class="form-label">Amount</label>
                                        <input type="text" class="form-control form-control-sm" id="misAmount" name="pm.budgets[0].Miscell_amt" placeholder="Enter amount">
                                    </div>


                                </div>
                            </fieldset>
                        </div>
                        <div id="projectTypeDetailContainer" style="display:none;">
                            <fieldset>
                                <legend style="font-size:15px;">  <label class="form-label my-2 fw-bolder"><a href="#">External Project Detail</a></label></legend>

                               
                                <div class="row stageListItem">
                                    <div class="col-lg-4 mb-3">
                                        <label for="title" class="form-label">Department Name</label>
                                        <input type="text" class="form-control form-control-sm" id="venue" placeholder="Enter Key Point">
                                    </div>
                                    <div class="col-lg-4 mb-3">
                                        <label for="title" class="form-label">Contact Person</label>
                                        <input type="text" class="form-control form-control-sm" id="person" placeholder="Enter Contact Person Name">
                                    </div>
                                    <div class="col-lg-4 mb-3">
                                        <label for="title" class="form-label">Address</label>
                                        <input type="text" class="form-control form-control-sm" id="person" placeholder="Enter address">
                                    </div>

                                </div>
                                </fieldset>
                        </div>
                        <div id="stageItemContainer" style="display:none;">
                            <fieldset>
                                <legend style="font-size:15px;">
                                    <div class="d-flex justify-content-between">
                                        <label class="form-label my-2 fw-bolder"><a href="#">Project Stage Detail</a></label>
                                        <label class="form-label" id="addStageIcon" data-count="0 "> <a href="#"><i class="link-icon" data-feather="plus"></i> Add Stage</a> <sup style="font-size:10px; color:red;">(* Max 10 stage allowed)</sup></label>
                                    </div>
                                </legend>
                                
                                </fieldset>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 mb-3">
                                <label for="description" class="form-label"> Description</label>
<textarea class="form-control form-control-sm" name="pm.pm.ProjectDescription" id="tinymceExample" rows="10" placeholder="Project Description"></textarea>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary"><i class="link-icon" data-feather="plus"></i>Add Project</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.7.1.js"></script>
<script>

    $(document).ready(function(){
        $("select").select2({
            placeholder: "Select an option",
        });
    })
    $(document).ready(function () {
        
        $("input[name='pm.pm.ProjectStage']").click(function () {
            if ($(this).val() === "Yes") {
                $("#stageItemContainer").show();
                $("#addStageIcon").show().click(); 
            } else {
                $("#stageItemContainer").hide();
                $("#addStageIcon").hide();
                $("#stageItemContainer .stageListItem").remove(); 
                $("#addStageIcon").attr("data-count", 1); 
            }
        });

       
        $("#addStageIcon").click(function () {
            let count = parseInt($(this).attr("data-count"));
            if (count < 10) {
                let newElement = `
                <div class="row stageListItem">
                    <div class="col-lg-4 mb-3">
                        <label for="venue" class="form-label">Key Point</label>
                        <input type="text" class="form-control form-control-sm" name="pm.stages[${count}].KeyPoint" placeholder="Enter Key Point">
                    </div>
                    <div class="col-lg-4 mb-3">
                        <label for="person" class="form-label">Pdf Upload</label>
                        <input type="file" class="form-control form-control-sm stagesImages" name="pm.stages[${count}].Stage_Document"/>
                    </div>  
                    <div class="col-lg-3 mb-3">
                        <label for="date" class="form-label">Complete Date</label>
                        <input type="date" class="form-control form-control-sm" name="pm.stages[${count}].CompletionDate">
                    </div>
                    <div class="col-lg-1 text-center mb-3" style="line-height:6;">
                        <a href="#" class="deleteCurrntRow">
                            <i class="fa-solid fa-trash text-danger fs-4" style="cursor: pointer;"></i>
                        </a>
                    </div>
                </div>`;
                $("#stageItemContainer").append(newElement);
                count++;
                $(this).attr("data-count", count); 
            }
        });

       
        $("#stageItemContainer").on("click", ".deleteCurrntRow", function (e) {
            e.preventDefault();
            let i = $("#stageItemContainer #addStageIcon").attr("data-count");
            if (i > 0)
                i--;
            $("#stageItemContainer #addStageIcon").attr("data-count", i);
            $(this).closest(".row.stageListItem").remove(); 
        });

       
        $("input[name='pm.pm.ProjectType']").click(function () {
            if ($(this).val() === "External") {
                $("#projectTypeDetailContainer").show();
            } else {
                $("#projectTypeDetailContainer").hide();
            }
        });
        //managing budget section

        $("#addBudgetItem").click(function () {
            let count = $(this).attr("data-count");
            $("#budgetContainerBox").show();
            let ele = `<div class="row budgetList">
    <div class="col-lg-5 mb-3">
        <label for="title" class="form-label">Heads</label>
        <input type="text" class="form-control form-control-sm" name="pm.budgets[${count}].ProjectHeads" id="venue" placeholder="Enter Key Point">
    </div>
    <div class="col-lg-5 mb-3">
        <label for="title" class="form-label">Amount</label>
        <input type="text" class="form-control form-control-sm" id="person" name="pm.budgets[${count}].ProjectAmount" placeholder="Enter Contact Person Name">
    </div>
    <div class="col-lg-2 text-center mb-3" style="line-height:6;">
        <a href="#" class="deleteCurrntRow">
            <i class="fa-solid fa-trash text-danger fs-4" style="cursor: pointer;"></i>
        </a>
    </div>

</div>`;
            $("#miscList").before(ele);
        })
        $("#budgetContainerBox").on("click", ".deleteCurrntRow", function (e) {
            e.preventDefault();
            let i = $("#budgetContainerBox #addBudgetItem").attr("data-count");
            if (i > 0)
                i--;
            $("#budgetContainerBox #addBudgetItem").attr("data-count", i);
            $(this).closest(".row.budgetList").remove(); 
        })
    });

</script>

<script>
    $("#createProjectForm").on("submit", function (e) {
        e.preventDefault();

        Swal.fire({
            title: "Please wait !",
            text: "Processing your request ....",
            timer: 100000,
            allowOutsideClick: false,
            allowEscapeKey: false,
            didOpen: () => {
                Swal.showLoading();
            }
        });

        let formData = new FormData(this);
        let file = $("#projectDocumentFile")[0].files[0];
        if (file) {
            formData.append("pm.pm.projectDocument", file);
        }
        $.each($(".stagesImages"), function (i, d) {
             file = $(d)[0].files[0];
            if (file) {
                formData.append(`pm.stages[${d}].Stage_Document`, file);
            }
        });


        $.ajax({
            url: "/admin/InsertProject",
            type: "post",
            data: formData,
            processData: false,
            contentType: false,
            success: function (res) {
                if (res.status) {
                    Swal.fire({
                        title: "Successfully !",
                        text: "Project created successfully !",
                        icon: "success",
                        didClose: () => {
                            location.reload(true);
                        }
                    })
                }
                else {
                    Swal.fire({
                        title: "Sorry !",
                        text: "Some issue occured while processing your request ! Please try after sometime.",
                        icon: "warning"
                    })
                }
            },
            error: function (xhr, status, error) {
                console.log("Error Details:");
                console.log("XHR Object: ", xhr);
                console.log("Status: ", status);
                console.log("Error Message: ", error);
                console.log("Response Text: ", xhr.responseText);
                console.log("HTTP Status Code: ", xhr.status);
                Swal.fire({
                    title: "Server issue !",
                    text: "Server is busy ! Try after sometime.",
                    icon: "error"
                })
            }
        })
    })
</script>