
@{
    Model.Title = "Dashboard";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    var data = Model as RemoteSensingProject.Models.Admin.main.DashboardCount;
    var graphdata = ViewData["physical"] as List<RemoteSensingProject.Models.Admin.main.Project_model>;
}

@*<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
        <div>
            <h4 class="mb-3 mb-md-0">Welcome to Travelin Dashboard</h4>
        </div>
    </div>*@
@*<style>
        .card-body {
            padding: 1rem 0.5rem;
        }
    </style>*@

<style>
    .uniform-card {
        /*        height: 200px;
    */ width: 160px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

        .uniform-card .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 15px;
        }

        .uniform-card .card-title {
            font-size: 15px;
            font-weight: bold;
        }

        .uniform-card p.text-success {
            font-size: 13px;
        }

        .uniform-card img {
            margin: 0 auto;
        }

    .grid-margin .w-100 .card {
        background: #0a6d9d6b;
    }

    .align-items-baseline .text-success {
        color: #000 !important;
    }

    .grid-margin {
        margin: 3px 0px !important;
    }

    .card .card-body .justify-content-between {
        padding-bottom: 3px !important;
    }


    /*Trae*/
    .uniform-card {
        height: 150px !important; /* Fixed height for all cards */
        overflow: hidden;
    }

    .card-body {
        height: 100%;
        overflow-y: auto;
    }

        /* Hide scrollbar but keep functionality */
        .card-body::-webkit-scrollbar {
            display: none;
        }
    /*Trae*/
</style>
<!--Trae-->
<!--trae-->

<style>
    .text-success span span.text-dark {
        display: inline-block;
        width: 80px;
    }

    .text-success span {
        display: flex;
        align-items: center;
    }

    .text-success span {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: 0px;
    }

        .text-success span span.text-dark {
            min-width: 110px;
            text-align: left;
        }

    .card-body {
        height: 100%;
        overflow-y: auto;
    }

        /* Hide scrollbar but keep functionality */
        .card-body::-webkit-scrollbar {
            display: none;
        }
</style>
<div class="row mx-0">
    <div class="col-12 col-xl-12">
        <div class="row flex-grow-1">



            <!-- Total Budget Card -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4 grid-margin stretch-card">
                <a href="/Admin/All_Projects" class="w-100" style="text-decoration: none; color: inherit;">
                    <div class="card uniform-card w-100">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-baseline">
                                <h6 class="card-title mb-0 text-nowrap">Budget's</h6>
                            </div>
                            <div class="row">
                                <div class="col-6 col-md-12 col-xl-9">
                                    <h6 class="mb-2 text-success"></h6>
                                    <div class="d-flex py-1 align-items-baseline">
                                        <p class="text-success inst py-0">
                                            <span>
                                                <span class="text-dark">Total Budget :  </span> ₹
                                                @Convert.ToDecimal(data.TotalBudget).ToString("N2")
                                            </span>
                                        </p>
                                    </div>


                                    <div class="d-flex py-1 align-items-baseline">
                                        <p class="text-success py-0">
                                            <span>
                                                <span class="text-dark">Expenditure : </span> ₹
                                                @Convert.ToDecimal(data.expenditure).ToString("N2")
                                            </span>
                                        </p>
                                    </div>
                                    <div class="d-flex py-1 align-items-baseline">
                                        <p class="text-success py-0">
                                            <span>
                                                <span class="text-dark">Pending : </span>₹
                                                @Convert.ToDecimal(data.PendingBudget).ToString("N2")
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-6 col-md-12 col-xl-3 pt-2">
                                    <img src="~/assets/gif/Tbudget.gif" height="60" />
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Expenditure Budget Card -->
            @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4 grid-margin stretch-card">
                    <a href="/Admin/All_Projects" class="w-100" style="text-decoration: none; color: inherit;">
                        <div class="card uniform-card w-100">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-baseline">
                                    <h6 class="card-title mb-0 text-nowrap">Expenditure Budget</h6>
                                </div>
                                <div class="row">
                                    <div class="col-6 col-md-12 col-xl-5">
                                        <h6 class="mb-2 text-success"></h6>
                                        <div class="d-flex align-items-baseline">
                                            <p class="text-success"><span>@data.expenditure</span></p>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-12 col-xl-7">
                                        <img src="~/assets/gif/Pbudget.gif" height="70" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>*@

            <!-- Pending Budget Card -->
            @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4 grid-margin stretch-card">
                    <a href="/Admin/All_Projects" class="w-100" style="text-decoration: none; color: inherit;">
                        <div class="card uniform-card w-100">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-baseline">
                                    <h6 class="card-title mb-0 text-nowrap">Pending Budget</h6>
                                </div>
                                <div class="row">
                                    <div class="col-6 col-md-12 col-xl-5">
                                        <h6 class="mb-2 text-success"></h6>
                                        <div class="d-flex align-items-baseline">
                                            <p class="text-success"><span>@data.pendingBudget</span></p>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-12 col-xl-7">
                                        <img src="~/assets/gif/budgeting.gif" height="70" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>*@

            <!-- Project's Card -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4 grid-margin stretch-card">
                <a href="/Admin/All_Projects" class="w-100" style="text-decoration: none; color: inherit;">
                    <div class="card uniform-card w-100">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-baseline">
                                <h6 class="card-title mb-0">Project's</h6>
                            </div>
                            <div class="row">
                                <div class="col-6 col-md-12 col-xl-9">
                                    <h3 class="mb-2 text-success"></h3>
                                    <div class="d-flex align-items-baseline py-1">
                                        <p class="text-success"><span><span class="text-dark">Total Project's :  </span> @data.TotalProject</span></p>
                                    </div>
                                    <div class="d-flex align-items-baseline py-1">
                                        <p class="text-success"><span><span class="text-dark">Internal Project's :  </span> @data.TotalInternalProject</span></p>
                                    </div><div class="d-flex align-items-baseline py-1">
                                        <p class="text-success"><span><span class="text-dark">External Project's :  </span> @data.TotalExternalProject</span></p>
                                    </div>
                                </div>
                                <div class="col-6 col-md-12 col-xl-3">
                                    <img src="~/assets/gif/project.gif" height="60" />
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Project's Status Card -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4 grid-margin stretch-card">
                <a href="/Admin/All_Projects" class="w-100" style="text-decoration: none; color: inherit;">
                    <div class="card uniform-card w-100">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-baseline">
                                <h6 class="card-title mb-0 text-nowrap">Project's Status</h6>
                            </div>
                            <div class="row">
                                <div class="col-6 col-md-12 col-xl-9">
                                    <h6 class="mb-2 text-success"></h6>
                                    <div class="d-flex align-items-baseline py-1">
                                        <p class="text-success"><span><span class="text-dark">Completed Project's :  </span> @data.TotalCompleteProject</span></p>
                                    </div>
                                    <div class="d-flex align-items-baseline py-1">
                                        <p class="text-success"><span><span class="text-dark">Pending Project's :  </span> @data.TotalDelayproject</span></p>
                                    </div>
                                    <div class="d-flex align-items-baseline py-1">
                                        <p class="text-success"><span><span class="text-dark">Ongoing Project's :  </span> @data.TotalOngoingProject</span></p>
                                    </div>
                                </div>
                                <div class="col-6 col-md-12 col-xl-3">
                                    <img src="~/assets/gif/file.gif" height="60" />
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Internal Project's Card -->
            @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 grid-margin stretch-card">
                    <a href="/Admin/All_Projects" class="w-100" style="text-decoration: none; color: inherit;">
                        <div class="card uniform-card w-100">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-baseline">
                                    <h6 class="card-title mb-0 text-nowrap">Internal Project's</h6>
                                </div>
                                <div class="row">
                                    <div class="col-6 col-md-12 col-xl-5">
                                        <h6 class="mb-2 text-success"></h6>
                                        <div class="d-flex align-items-baseline">
                                            <p class="text-success"><span>@data.TotalDelayProject</span></p>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-12 col-xl-7">
                                        <img src="~/assets/gif/internproject.gif" height="70" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>*@

            <!-- External Project's Card -->
            @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 grid-margin stretch-card">
                    <a href="/Admin/All_Projects" class="w-100" style="text-decoration: none; color: inherit;">
                        <div class="card uniform-card w-100">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-baseline">
                                    <h6 class="card-title mb-0 text-nowrap">External Project's</h6>
                                </div>
                                <div class="row">
                                    <div class="col-6 col-md-12 col-xl-5">
                                        <h6 class="mb-2 text-success"></h6>
                                        <div class="d-flex align-items-baseline">
                                            <p class="text-success"><span>@data.TotalDelayProject</span></p>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-12 col-xl-7">
                                        <img src="~/assets/gif/externproject.gif" height="70" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>*@

            <!-- Another Meeting's Card -->
            @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 grid-margin stretch-card">
                    <a href="/Admin/All_Projects" class="w-100" style="text-decoration: none; color: inherit;">
                        <div class="card uniform-card w-100">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-baseline">
                                    <h6 class="card-title mb-0 text-nowrap">Ongoing Project</h6>
                                </div>
                                <div class="row">
                                    <div class="col-6 col-md-12 col-xl-5">
                                        <h3 class="mb-2 text-success"></h3>
                                        <div class="d-flex align-items-baseline">
                                            <p class="text-success"><span>@data.TotalOngoingProject</span></p>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-12 col-xl-7">
                                        <img src="~/assets/gif/notification.gif" height="70" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>*@
            <!-- Completed Project's Card -->
            @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 grid-margin stretch-card">
                    <a href="/Admin/All_Projects" class="w-100" style="text-decoration: none; color: inherit;">
                        <div class="card uniform-card w-100">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-baseline">
                                    <h6 class="card-title mb-0 text-nowrap">Completed Project's</h6>
                                </div>
                                <div class="row">
                                    <div class="col-6 col-md-12 col-xl-5">
                                        <h3 class="mb-2 text-success"></h3>
                                        <div class="d-flex align-items-baseline">
                                            <p class="text-success"><span>@data.TotalCompleteProject</span></p>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-12 col-xl-7">
                                        <img src="~/assets/gif/checklist.gif" height="70" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>*@

            <!-- Employee's Card -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4 grid-margin stretch-card">
                <a href="/Admin/Employee_Registration" class="w-100" style="text-decoration: none; color: inherit;">
                    <div class="card uniform-card w-100 w-100">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-baseline">
                                <h6 class="card-title mb-0" style="text-decoration: none;">Employee's</h6>
                            </div>
                            <div class="row">
                                <div class="col-6 col-md-12 col-xl-9">
                                    <h3 class="mb-2 text-success"></h3>
                                    <div class="d-flex align-items-baseline">
                                        <p class="text-success"><span><span class="text-dark">Total Employees :  </span> @data.TotalEmployee</span></p>
                                    </div>
                                    <div class="d-flex align-items-baseline ">
                                        <p class="text-success"><span><span class="text-dark">Project Manager :  </span> @data.TotalProjectManager</span></p>
                                    </div>
                                    <div class="d-flex align-items-baseline">
                                        <p class="text-success"><span><span class="text-dark">Accounts : </span> @data.TotalAccounts</span></p>
                                    </div>
                                    <div class="d-flex align-items-baseline">
                                        <p class="text-success"><span><span class="text-dark">Subordinates : </span> @data.TotalSubOrdinate</span></p>
                                    </div>
                                </div>
                                <div class="col-6 col-md-12 col-xl-3">
                                    <img src="~/assets/gif/success.gif" height="60" />
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Meeting's Card -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4 grid-margin stretch-card">
                <a href="/Admin/Meeting_Report" class="w-100" style="text-decoration: none; color: inherit;">
                    <div class="card uniform-card w-100">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-baseline">
                                <h6 class="card-title mb-0 text-nowrap">Meeting's</h6>
                            </div>
                            <div class="row">
                                <div class="col-6 col-md-12 col-xl-9">
                                    <h3 class="mb-2 text-success"></h3>
                                    <div class="d-flex align-items-baseline py-1">
                                        <p class="text-success"><span><span class="text-dark">Total :  </span> @data.TotalMeetings</span></p>
                                    </div>
                                    <div class="d-flex align-items-baseline py-1">
                                        <p class="text-success"><span><span class="text-dark">Admin :  </span> @data.TotalAdminMeetings</span></p>
                                    </div>
                                    <div class="d-flex align-items-baseline py-1">
                                        <p class="text-success"><span><span class="text-dark">Project Manager :  </span> @data.TotalProjectManagerMeetings</span></p>
                                    </div>
                                </div>
                                <div class="col-6 col-md-12 col-xl-3">
                                    <img src="~/assets/gif/discussion.gif" height="60" />
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Request's Card -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4 grid-margin stretch-card">
                <a href="/Admin/Meeting_Report" class="w-100" style="text-decoration: none; color: inherit;">
                    <div class="card uniform-card w-100">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-baseline">
                                <h6 class="card-title mb-0 text-nowrap">Request's</h6>
                            </div>
                            <div class="row">
                                <div class="col-6 col-md-12 col-xl-9">
                                    <h3 class="mb-2 text-success"></h3>
                                    <div class="d-flex align-items-baseline py-1">
                                        <p class="text-success"><span><span class="text-dark">Reimbursement :  </span> @data.TotalReinbursementReq</span></p>
                                    </div>
                                    <div class="d-flex align-items-baseline py-1">
                                        <p class="text-success"><span><span class="text-dark">Tour Proposal :  </span> @data.TotalTourProposalReq</span></p>
                                    </div>
                                    <div class="d-flex align-items-baseline py-1">
                                        <p class="text-success"><span><span class="text-dark">Hiring Vehicle :  </span> @data.totalVehicleHiringRequest</span></p>
                                    </div>
                                </div>
                                <div class="col-6 col-md-12 col-xl-3">
                                    <img src="~/assets/gif/rfp.gif" height="60" />
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Request's status Card -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4 grid-margin stretch-card">
                <a href="/Admin/Meeting_Report" class="w-100" style="text-decoration: none; color: inherit;">
                    <div class="card uniform-card w-100">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-baseline">
                                <h6 class="card-title mb-0 text-nowrap">Reimbursement's</h6>
                            </div>
                            <div class="row">
                                <div class="col-6 col-md-12 col-xl-9">
                                    <h3 class="mb-2 text-success"></h3>
                                    <div class="d-flex align-items-baseline py-1">
                                        <p class="text-success"><span><span class="text-dark">Pending :  </span> @data.totalReinbursementPendingRequest</span></p>
                                    </div>
                                    <div class="d-flex align-items-baseline py-1">
                                        <p class="text-success"><span><span class="text-dark">Approved  :  </span> @data.totalReinbursementapprovedRequest</span></p>
                                    </div>
                                    <div class="d-flex align-items-baseline py-1">
                                        <p class="text-success"><span><span class="text-dark">Rejected  :  </span> @data.totalReinbursementRejectRequest</span></p>
                                    </div>
                                </div>
                                <div class="col-6 col-md-12 col-xl-3">
                                    <img src="~/assets/gif/employee-benefit.gif" height="60" />
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Request's status Card -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4 grid-margin stretch-card">
                <a href="/Admin/Meeting_Report" class="w-100" style="text-decoration: none; color: inherit;">
                    <div class="card uniform-card w-100">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-baseline">
                                <h6 class="card-title mb-0 text-nowrap">Tour Proposal's</h6>
                            </div>
                            <div class="row">
                                <div class="col-6 col-md-12 col-xl-9">
                                    <h3 class="mb-2 text-success"></h3>
                                    <div class="d-flex align-items-baseline py-1">
                                        <p class="text-success"><span><span class="text-dark">Pending :  </span> @data.TotalTourProposalReq</span></p>
                                    </div>
                                    <div class="d-flex align-items-baseline py-1">
                                        <p class="text-success"><span><span class="text-dark">Approved  :  </span> @data.totalTourProposalApprReque</span></p>
                                    </div>
                                    <div class="d-flex align-items-baseline py-1">
                                        <p class="text-success"><span><span class="text-dark">Rejected  :  </span> @data.totalTourProposalRejectReque</span></p>
                                    </div>
                                </div>
                                <div class="col-6 col-md-12 col-xl-3">
                                    <img src="~/assets/gif/map.gif" height="60" />
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Request's status Card -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4 grid-margin stretch-card">
                <a href="/Admin/Meeting_Report" class="w-100" style="text-decoration: none; color: inherit;">
                    <div class="card uniform-card w-100">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-baseline">
                                <h6 class="card-title mb-0 text-nowrap">Hiring Vehicle's</h6>
                            </div>
                            <div class="row">
                                <div class="col-6 col-md-12 col-xl-9">
                                    <h3 class="mb-2 text-success"></h3>
                                    <div class="d-flex align-items-baseline py-1">
                                        <p class="text-success"><span><span class="text-dark">Pending :  </span> @data.totalPendingHiringVehicle</span></p>
                                    </div>
                                    <div class="d-flex align-items-baseline py-1">
                                        <p class="text-success"><span><span class="text-dark">Approved  :  </span> @data.totalApproveHiringVehicle</span></p>
                                    </div>
                                    <div class="d-flex align-items-baseline py-1">
                                        <p class="text-success"><span><span class="text-dark">Rejected  :  </span> @data.totalRejectHiringVehicle</span></p>
                                    </div>
                                </div>
                                <div class="col-6 col-md-12 col-xl-3">
                                    <img src="~/assets/gif/rent-car.gif" height="60" />
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>



        </div>
    </div>
</div>

@*<div class="row">
        <div class="col-12 col-xl-12 grid-margin stretch-card">
            <div class="card overflow-hidden">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-baseline mb-4 mb-md-3">
                        <h6 class="card-title mb-0">Travel data</h6>
                        <div class="dropdown">
                            <button class="btn p-0" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                <a class="dropdown-item d-flex align-items-center"><i data-feather="eye" class="icon-sm me-2"></i> <span class>View</span></a>
                                <a class="dropdown-item d-flex align-items-center"><i data-feather="edit-2" class="icon-sm me-2"></i> <span class>Edit</span></a>
                                <a class="dropdown-item d-flex align-items-center"><i data-feather="trash" class="icon-sm me-2"></i> <span class>Delete</span></a>
                                <a class="dropdown-item d-flex align-items-center"><i data-feather="printer" class="icon-sm me-2"></i> <span class>Print</span></a>
                                <a class="dropdown-item d-flex align-items-center"><i data-feather="download" class="icon-sm me-2"></i> <span class>Download</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-start">
                        <div class="col-md-7">
                            <p class="text-muted tx-13 mb-3 mb-md-0">Revenue is the income that a business has from its normal business activities, usually from the sale of goods and services to customers.</p>
                        </div>
                        <div class="col-md-5 d-flex justify-content-md-end">
                            <div class="btn-group mb-3 mb-md-0" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-outline-primary">Today</button>
                                <button type="button" class="btn btn-outline-primary d-none d-md-block">Week</button>
                                <button type="button" class="btn btn-primary">Month</button>
                                <button type="button" class="btn btn-outline-primary">Year</button>
                            </div>
                        </div>
                    </div>
                    <div id="revenueChart"></div>
                </div>
            </div>
        </div>
    </div>*@

<div class="row mx-0">
    <div class="col-lg-7 col-xl-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6 class="card-title mb-0">Project Status</h6>
                    <div class="dropdown mb-2">
                        <button class="btn p-0" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
                        </button>
                        @*<div class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                                <a class="dropdown-item d-flex align-items-center"><i data-feather="eye" class="icon-sm me-2"></i> <span class>View</span></a>
                                <a class="dropdown-item d-flex align-items-center"><i data-feather="edit-2" class="icon-sm me-2"></i> <span class>Edit</span></a>
                                <a class="dropdown-item d-flex align-items-center"><i data-feather="trash" class="icon-sm me-2"></i> <span class>Delete</span></a>
                                <a class="dropdown-item d-flex align-items-center"><i data-feather="printer" class="icon-sm me-2"></i> <span class>Print</span></a>
                                <a class="dropdown-item d-flex align-items-center"><i data-feather="download" class="icon-sm me-2"></i> <span class>Download</span></a>
                            </div>*@
                    </div>
                </div>
                <p class="text-muted">Check the current project status on the dashboard for detailed updates.</p>
                <div id="monthlySalesChart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-xl-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline">
                    <h6 class="card-title mb-0">Project Data</h6>
                    <div class="dropdown mb-2">
                        <button class="btn p-0" type="button" id="dropdownMenuButton5" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
                        </button>
                        @*<div class="dropdown-menu" aria-labelledby="dropdownMenuButton5">
                                <a class="dropdown-item d-flex align-items-center"><i data-feather="eye" class="icon-sm me-2"></i> <span class>View</span></a>
                                <a class="dropdown-item d-flex align-items-center"><i data-feather="edit-2" class="icon-sm me-2"></i> <span class>Edit</span></a>
                                <a class="dropdown-item d-flex align-items-center"><i data-feather="trash" class="icon-sm me-2"></i> <span class>Delete</span></a>
                                <a class="dropdown-item d-flex align-items-center"><i data-feather="printer" class="icon-sm me-2"></i> <span class>Print</span></a>
                                <a class="dropdown-item d-flex align-items-center"><i data-feather="download" class="icon-sm me-2"></i> <span class>Download</span></a>
                            </div>*@
                    </div>
                </div>
                <div id="storageChart"></div>
                <div class="row mb-3">
                    <div class="col-6 d-flex justify-content-end">
                        <div>
                            <label class="d-flex align-items-center justify-content-end tx-10 text-uppercase fw-bolder">Total Projects <span class="p-1 ms-1 rounded-circle bg-secondary"></span></label>
                            <h5 class="fw-bolder mb-0 text-end">@data.TotalProject</h5>
                        </div>
                    </div>
                    <div class="col-6">
                        <div>
                            <label class="d-flex align-items-center tx-10 text-uppercase fw-bolder"><span class="p-1 me-1 rounded-circle bg-primary"></span> Completed Projects</label>
                            <h5 class="fw-bolder mb-0">@data.TotalCompleteProject</h5>
                        </div>
                    </div>
                </div>
                @*<div class="d-grid">
                        <button class="btn btn-primary">View More</button>
                    </div>*@
            </div>
        </div>
    </div>
</div>



<div class="row mx-0 mt-1">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <b>Budget Chart</b>
            </div>
            <div class="card-body">
                <div><canvas id="myLineChart" height="100"></canvas></div>
            </div>
        </div>
    </div>
</div>
<div class="row mx-0 my-1">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <b>Physical Chart</b>
            </div>
            <div class="card-body">
                <div>
                    <canvas id="myBarChart" height="150"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <b>Financial Chart</b>
            </div>
            <div class="card-body">
                <div>
                    <canvas id="stackedBarLineChart" height="150"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mx-0">
    <div class="col-lg-7 col-xl-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6 class="card-title mb-0">Projects</h6>
                    <div class="dropdown mb-2">
                        <button class="btn p-0" type="button" id="dropdownMenuButton7" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton7">
                            <a class="dropdown-item d-flex align-items-center"><i data-feather="eye" class="icon-sm me-2"></i> <span>View</span></a>
                            <a class="dropdown-item d-flex align-items-center"><i data-feather="edit-2" class="icon-sm me-2"></i> <span>Edit</span></a>
                            <a class="dropdown-item d-flex align-items-center"><i data-feather="trash" class="icon-sm me-2"></i> <span>Delete</span></a>
                            <a class="dropdown-item d-flex align-items-center"><i data-feather="printer" class="icon-sm me-2"></i> <span>Print</span></a>
                            <a class="dropdown-item d-flex align-items-center"><i data-feather="download" class="icon-sm me-2"></i> <span>Download</span></a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th class="pt-0">#</th>
                                <th class="pt-0">Project Name</th>
                                <th class="pt-0">Start Date</th>
                                <th class="pt-0">Completion Date</th>
                                <th class="pt-0">Assign</th>
                                <th class="pt-0">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (graphdata != null)
                            {
                                int i = 1;
                                foreach (var item in graphdata)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.ProjectTitle</td>
                                        <td>@item.StartDateString</td>
                                        <td>@item.CompletionDatestring</td>
                                        <td>@item.AssignDateString</td>
                                        <td>
                                            @if (item.ProjectStatus || item.physicalcomplete == 100)
                                            {
                                                <span class="badge bg-success">Completed</span>
                                            }
                                            else if (item.CompletionDate < DateTime.Now)
                                            {
                                                <span class="badge bg-danger">Delay</span>
                                            }
                                            else if (item.StartDate < DateTime.Now)
                                            {
                                                <span class="badge bg-warning">Work in Progress</span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-primary">Not Started</span>
                                            }
                                        </td>
                                    </tr>
                                    if (i == 5)
                                    {
                                        break;
                                    }
                                    i++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
@*<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>*@
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
    $(document).ready(function () {


        if ($('#storageChart').length) {
            var colors = {
                primary: '#029e9d', // Set the primary color to #029e9d
                light: '#f3f3f3',   // You can define other colors like light, muted, etc.
                muted: '#6c757d',
                bodyColor: '#212529'
            };
            var options = {
                chart: {
                    height: 260,
                    type: "radialBar"
                },
                series: [@data.TotalCompleteProject],
                colors: [colors.primary],
                plotOptions: {
                    radialBar: {
                        hollow: {
                            margin: 15,
                            size: "70%"
                        },
                        track: {
                            show: true,
                            background: colors.light,
                            strokeWidth: '100%',
                            opacity: 1,
                            margin: 5,
                        },
                        dataLabels: {
                            showOn: "always",
                            name: {
                                offsetY: -11,
                                show: true,
                                color: colors.muted,
                                fontSize: "13px"
                            },
                            value: {
                                color: colors.bodyColor,
                                fontSize: "30px",
                                show: true
                            }
                        }
                    }
                },
                fill: {
                    opacity: 1
                },
                stroke: {
                    lineCap: "round",
                },
                labels: ["Project Data"]
            };

            var chart = new ApexCharts(document.querySelector("#storageChart"), options);
            chart.render();
        }

    });
</script>
<!--Budget Chart-->
<script>
    $(document).ready(function () {
        debugger
        $.ajax({
            url: "/api/budgetforgraph",
            type: "get",
            success: function (res) {
                console.log(res.data);
                const data = {
                    labels: res.data.map(item => item.month),
                    datasets: [{
                        label: 'Budget',
                        data: res.data.map(item => item.budget),
                        fill: false,
                        borderColor: 'rgb(255, 99, 132)',
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderWidth: 1,
                        pointStyle: 'rectRot',
                        pointRadius: 5,
                        pointBorderColor: 'rgb(0, 0, 0)'
                    }]
                };

                const ctx = document.getElementById('myLineChart').getContext('2d');

                const myLineChart = new Chart(ctx, {
                    type: 'line',
                    data: data,
                    options: {
                        responsive: true,
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        },
                        plugins: {
                            legend: {
                                position: 'top'
                            },
                            tooltip: {
                                mode: 'index',
                                intersect: false
                            }
                        }
                    }
                });
            },
            error: function () {

            }
        });

    });
</script>
<!--Physical Chart-->
<script>
    let data = @Html.Raw(Json.Encode(graphdata))

    window.onload = function () {

        if (data != null) {
            $("#monthlySalesChart").empty();

            var categories = [];
            var overallData = [];

            $.each(data, function (index, item) {
                categories.push(item.ProjectTitle);
                overallData.push(item.overallPercentage);
            });

            console.log(categories)
            console.log(overallData)

            var options = {
                chart: {
                    type: 'bar',
                    height: '318',
                    parentHeightOffset: 0,
                    foreColor: '#6c757d',
                    background: '#ffffff',
                    toolbar: {
                        show: false
                    },
                },
                theme: {
                    mode: 'light'
                },
                tooltip: {
                    theme: 'light'
                },
                colors: ['#1aa7a6'],
                fill: {
                    opacity: .9
                },
                grid: {
                    padding: {
                        bottom: -4
                    },
                    borderColor: '#D6E9E9',
                    xaxis: {
                        lines: {
                            show: true
                        }
                    }
                },
                series: [{
                    name: 'Completed',
                    data: overallData // Dynamic data
                }],
                xaxis: {
                    type: 'category',
                    categories: categories, // Dynamic categories
                    axisBorder: {
                        color: '#dee2e6',
                    },
                    axisTicks: {
                        color: '#dee2e6',
                    },
                },
                yaxis: {
                    min: 0,
                    max: 100,
                    tickAmount: 5,
                    title: {
                        text: 'Project Completion',
                        style: {
                            fontSize: '12px',
                            color: '#adb5bd',
                            fontFamily: 'inherit',
                        }
                    },
                },
                legend: {
                    show: true,
                    position: "top",
                    horizontalAlign: 'center',
                    fontFamily: 'inherit',
                    itemMargin: {
                        horizontal: 8,
                        vertical: 0
                    },
                },
                stroke: {
                    width: 0
                },
                dataLabels: {
                    enabled: true,
                    style: {
                        fontSize: '10px',
                        fontFamily: 'inherit',
                    },
                    offsetY: -27
                },
                plotOptions: {
                    bar: {
                        columnWidth: "50%",
                        borderRadius: 4,
                        dataLabels: {
                            position: 'top',
                            orientation: 'vertical',
                        }
                    },
                },
            };

            // Render the chart
            var apexBarChart = new ApexCharts(document.querySelector("#monthlySalesChart"), options);
            apexBarChart.render();
        }

        var ctx = document.getElementById('myBarChart').getContext('2d');
        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: data.map(prname => prname.ProjectTitle),
                datasets: [{
                    label: 'Physical',
                    data: data.map(per => per.physicalcomplete),
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    legend: {
                        position: 'top'
                    },
                    tooltip: {
                        callbacks: {
                            label: function (tooltipItem) {
                                return tooltipItem.raw + ' units';
                            }
                        }
                    }
                }
            }
        });
    };
</script>

<!--Financial Chart-->

<script>
    $(document).ready(function () {
        let data = @Html.Raw(Json.Encode(graphdata));
        var ctx = document.getElementById('stackedBarLineChart').getContext('2d');

        var chartData = {
            labels: data.map(prname => prname.ProjectTitle),
            datasets: [
                {
                    label: 'Financial',
                    data: data.map(per => per.Percentage),
                    backgroundColor: 'rgba(255, 99, 132, 0.5)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1,
                    stack: 'Stack 0',
                }
            ]
        };

        var chartOptions = {
            responsive: true,
            scales: {
                x: {
                    stacked: true,
                },
                y: {
                    stacked: true,
                }
            },
            plugins: {
                legend: {
                    position: 'top',
                },
                tooltip: {
                    mode: 'index',
                    intersect: false,
                }
            }
        };

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: chartData,
            options: chartOptions
        });
    });
</script>


