
@{
    ViewBag.Title = "Employee_Registration";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<style>
    .modal-body .sliderimages img {
        width: 20% !important;
        height: 20%;
        border-radius: 10px;
    }
    svg {
        height: 20px;
    }
    .link-icon {
        height: 16px;
    }
</style>

@*<div id="loader" class="d-flex justify-content-center align-items-center position-fixed top-0 start-0 w-100 h-100 bg-light bg-opacity-75" style="z-index: 9999;">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>*@

<nav class="page-breadcrumb d-flex align-items-center justify-content-between">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">/Employee Registration</li>
    </ol>
    <button class="btn btn-primary" id="addEmployeeBtn" data-bs-toggle="modal" data-bs-target="#addslider"><i class="link-icon" data-feather="plus"></i> Add Employee</button>
</nav>
<div class="search-box p-4 bg-white rounded mb-3 box-shadow mx-0">
        <div class="row align-items-center mx-0">
            <div class="col-lg-3">
                <h5>Employee Lists</h5>
            </div>
            <div class="col-lg-6 col-md-6">
                <input type="text" placeholder="Search by employee name" id="searchByEmployeeName" class="form-control">
            </div>
            <div class="col-lg-3 col-md-6">
                <select class="form-select form-select-lg" id="filterDivision">
                    <option selected value=null>Select Division</option>
                    @if (ViewBag.division != null)
                    {
                        if (ViewBag.division.Count > 0)
                        {
                            foreach (var item in ViewBag.division)
                            {

                                <option value="@item.id" @(int.TryParse(Request.QueryString["Division"], out int divisionId) && divisionId == item.id ? "selected" : "")
>@item.name</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>
</div>
<div class="row mx-0">
    <div class="col-md-12 p-0 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th class="text-center">Sr. No.</th>
                                <th>EmployeeCode</th>
                                <th>Name</th>
                                <th>Role</th>
                                <th>Division</th>
                                <th>Designation</th>
                                <th class="text-center">Active Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewData["EmployeeList"] != null)
                                {
                                    var count = 1;
                                    foreach (var item in ViewData["EmployeeList"] as List<RemoteSensingProject.Models.Admin.main.Employee_model>)
                                    {
                                    <tr>
                                        <td class="text-start">@count</td>
                                        <td>@item.EmployeeCode</td>
                                        <td><a href="#" data-title="View Details" data-id="@item.Id" class="showEmployeeProfile" data-bs-toggle="modal" data-bs-target="#viewslider">@item.EmployeeName</a></td>
                                        <td>@item.EmployeeRole</td>
                                        <td>@item.DevisionName</td>
                                        <td>@item.DesignationName</td>
                                        <td class="text-center">
                                            <span class="form-check form-switch"><input type="checkbox" class="form-check-input activeSwitch"  data-id="@item.Id" checked="@item.ActiveStatus"></span>
                                        </td>
                                        <td class="text-center">
                                            <ul class="d-flex list-unstyled mb-0 justify-content-center">
                                                <li class="me-2"><a data-title="Edit" class="editEmployee" data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#addslider"><i class="link-icon" data-feather="edit"></i></a></li>
                                                <li><a class="deleteEmployee" data-title="Delete"  data-id="@item.Id"><i class="link-icon text-danger" data-feather="trash"></i></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    count++;
                                }

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addslider" tabindex="-1" aria-labelledby="addslider" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>

                <h5 class="modal-title" id="exampleModalLabel"><span class="actionType">Add</span> Employee</h5>

            </div>
            <div class="modal-body">
                <form class="addEmployeeform">
                    <input type="hidden" id="employeeInpId" name="Id" />
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="employeeCode" class="form-label"> Employee Code</label>
                            <input type="text" class="form-control" name="EmployeeCode" required id="employeeCode" autocomplete="off" placeholder="Enter Employee Code">
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="employeeName" class="form-label"> Employee Name</label>
                            <input type="text" class="form-control" name="EmployeeName" required id="employeeName" autocomplete="off" placeholder="Enter Employee Name">
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="employeemobno" class="form-label">Mobile</label>
                            <input type="text" class="form-control mobileval" name="MobileNo" required id="employeemobno" placeholder="Enter Mobile">
                            <span class="mobileError text-danger"></span>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="employeeEmail" class="form-label">Email</label>
                            <input type="text" class="form-control"  name="Email" required id="employeeEmail" placeholder="Enter Email">
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="employeeRole" class="form-label">Select Role</label>
                            <select class="form-select form-select-lg" id="employeeRole"  name="EmployeeRole" required>
                                <option selected disabled>Select Role</option>
                                <option value="projectManager">Project Manager</option>
                                <option value="subOrdinate">Sub Ordinate</option>
                                <option value="accounts">Accounts</option>
                            </select>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="employeeDivision" class="form-label">Select Division</label>
                            <select class="form-select form-select-lg" id="employeeDivision" name="Division" required>
                                <option selected disabled>Select Division</option>
                                @if (ViewBag.division != null)
            {
    if (ViewBag.division.Count > 0)
                {
                                        foreach(var item in ViewBag.division)
                    {

                    <option value="@item.id">@item.name</option>
                    }
                }
            }
                               
                            </select>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="employeeDesignation" class="form-label">Select Designation</label>
                            <select class="form-select form-select-lg" id="employeeDesignation" name="Designation" required>
                                <option selected>Select Designation</option>
                                @if (ViewBag.designation != null)
                                {
                                    if (ViewBag.designation.Count > 0)
                                    {
                                        foreach (var item in ViewBag.designation)
                                        {

                                            <option value="@item.id">@item.name</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="gender" class="form-label">Gender</label>
                            <div id="gender">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input employeeGender" required type="radio" name="gender" id="male" value="male">
                                    <label class="form-check-label" for="male">Male</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input employeeGender" required type="radio" name="gender" id="female" value="female">
                                    <label class="form-check-label" for="female">Female</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input employeeGender" required type="radio" name="gender" id="other" value="other">
                                    <label class="form-check-label" for="other">Other</label>
                                </div>
                            </div>
                        </div>
                       
                        <div class="mb-3 col-md-6">
                            <label for="fileupload" class="form-label">Upload Image</label>
                            <input class="form-control" required type="file" name="EmployeeImages" id="fileupload">
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewslider" tabindex="-1" aria-labelledby="viewslider" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Slider Images and Title -->
                <div class="sliderimages mb-3" style=" text-align: center; ">
                    <img src="~/ProjectContent/Admin/Employee_Images/img.png" class="employeeProfileImage rounded-circle" alt="sliderimages">                
                    <h5 class="mb-1 EmployeeName">Harsh Agarwal</h5>

                </div>
                <!-- Static Information Start -->
                <div class="mt-4">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="employeeName" class="form-label">Employee Name</label>
                            <p class="EmployeeName">Harsh Agarwal</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="mobile" class="form-label">Mobile Number</label>
                            <p class="mobileNumber">9876543210</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="email" class="form-label">Email</label>
                            <p class="empEmail">harsh@example.com</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="role" class="form-label">Role</label>
                            <p class="empRole">Project Manager</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="department" class="form-label">Department</label>
                            <p class="empDivision">Department1</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="designation" class="form-label">Designation</label>
                            <p class="empDesignation">Designation2</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="gender" class="form-label">Gender</label>
                            <p class="empgender">Male</p>
                        </div>  <div class="mb-3 col-md-6">
                            <label for="gender" class="form-label">Active Status</label>
                            <p class="empActiveStatus"></p>
                        </div>
                        
                    </div>
                </div>
                <!-- Static Information End -->
            </div>
        </div>
    </div>
</div>



<script>

    $(function () {
        $('.mobileval').on('input', function () {
            let m = $(this).val().replace(/\D/g, '').slice(0, 10);
            $(this).val(m);
            $('.mobileError').text(
                m.length < 10 ? 'Mobile number must be 10 digits.' :
                    !/^[6-9]/.test(m) ? 'Mobile number must start with 6, 7, 8, or 9.' : ''
            );
        });
    });

    function showLoading(action) {
        Swal.fire({
            title: "Please Wait..!",
            text: "Request are under process.",
            allowOutsideClick: false,
            allowEscapeKey: false,
            didOpen: () => {
                Swal.showLoading();
            }
        });
        if (!action) {
            Swal.close();
        }
    }

    $(".addEmployeeform").submit(function (e) {
        e.preventDefault();
        showLoading(true)
        let formData = new FormData();
        let arrData = $(this).serializeArray();
        arrData.forEach(function (d) {
            formData.append(d.name, d.value);
        })
        if ($("#fileupload").get(0).files.length > 0) {
            formData.append("EmployeeImages", $("#fileupload").get(0).files[0])
        }

        $.ajax({
            url: "/admin/Employee_Registration",
            type: "post",
            processData: false,
            contentType:false,
            data: formData,
            success: function (res) {
                if (res) {
                    Swal.fire({
                        title: "success",
                        text: $("#employeeInpId").val()!=""?"Employee Updated Successfully":"Employee Added Successfully",
                        icon: "success",
                        didClose: () => {
                            location.reload();
                        }
                    })
                } else {
                    Swal.fire({
                        title: "error",
                        text: "something went wrong",
                        icon: "error"
                    })
                }
            },error:function(xhr){
                Swal.fire({
                    title: "error",
                    text: "something went wrong",
                    icon: "error"
                })
            }
        })

    })

    $(".activeSwitch").on('change', function () {
        let id=$(this).attr("data-id")
        $.ajax({
            url: "/admin/ChangeActieStatus",
            type: "get",
            data: {id:id},
            success: function (res) {
                if (!res) {
                    Swal.fire({
                        title: "error",
                        text: "something went wrong",
                        icon: "error"
                    })
                }
            }, error: function (xhr) {
                Swal.fire({
                    title: "error",
                    text: "something went wrong",
                    icon: "error"
                })
            }
        })
    })

    $(".showEmployeeProfile").click(function () {
        showLoading(true)
        let id = $(this).attr("data-id");
        $.ajax({
            url: "/admin/SelectEmployeeRecordById",
            type: "get",
            data: { id: id },
            success: function (res) {
                console.log(res)
                if (res != null) {
                 
                    $(".employeeProfileImage").attr("src", res.Image_url)
                    $(".EmployeeName").text(res.EmployeeName)
                    $(".mobileNumber").text(res.MobileNo)
                    $(".empEmail").text(res.Email)
                    $(".empRole").text(res.EmployeeRole)
                    $(".empDivision").text(res.DevisionName)
                    $(".empDesignation").text(res.DesignationName)
                    $(".empgender").text(res.Gender)
                    $(".empActiveStatus").html(res.ActiveStatus ? "<i class='fa-solid text-success fa-circle'></i> Active" : "<i class='fa-solid text-danger fa-circle'></i> Inactive")
                }
                showLoading(false)

            }, error: function (xhr) {
                Swal.fire({
                    title: "error",
                    text: "something went wrong",
                    icon: "error"
                })
            }
        })
    })
    $(".deleteEmployee").click(function () {
       let id = $(this).attr("data-id");
        Swal.fire({
            title: "Do you really want to Delete?",
            text: "you won't be able to revert",
            icon:"warning",
            showDenyButton: true,
            showCancelButton: false,
            confirmButtonText: "Delete",
            denyButtonText: `Cancel`
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                showLoading(true)
                $.ajax({
                    url: "/admin/DeleteEmployees",
                    type: "get",
                    data: { id: id },
                    success: function (res) {
                        if (res) {
                            Swal.fire({
                                title: "success",
                                text: "Employee Deleted Successfully",
                                icon: "success",
                                didClose: () => {
                                    location.reload();
                                }
                            })
                        } else {
                            Swal.fire({
                                title: "error",
                                text: "something went wrong",
                                icon: "error"
                            })
                        }
                    }, error: function (xhr) {
                        Swal.fire({
                            title: "error",
                            text: "something went wrong",
                            icon: "error"
                        })
                    }
                })
            }
        })
    })

    $("#addEmployeeBtn").click(function () {
        $(".actionType").text("Add")
        document.querySelector(".addEmployeeform").reset();
    })

    $(".editEmployee").click(function (e) {
        let id = $(this).attr("data-id");
        $("#employeeInpId").val(id);
        $("#fileupload").attr("required", false)
        $(".actionType").text("Update")
        showLoading(true)
        $.ajax({
            url: "/admin/SelectEmployeeRecordById",
            type: "get",
            data: { id: id },
            success: function (res) {
                console.log(res)
                if (res!=null) {
                    $("#employeeCode").val(res.EmployeeCode)
                    $("#employeeName").val(res.EmployeeName)
                    $("#employeeEmail").val(res.Email)
                    $("#employeemobno").val(res.MobileNo)
                    $("#employeeDivision").val(res.Division)
                    $("#employeeDesignation").val(res.Designation)
                    $("#employeeRole").val(res.EmployeeRole)
                    $(".employeeGender").each(function (i, d) {
                        if (d.value == res.Gender) {
                            d.setAttribute("checked",true)
                        }
                    })
                }
                showLoading(false)

            }, error: function (xhr) {
                Swal.fire({
                    title: "error",
                    text: "something went wrong",
                    icon: "error"
                })
            }
        })
    })
    $("#filterDivision").on("change", function () {
        location.href = "/admin/Employee_Registration?division="+ $(this).val();
    })
    $('#searchByEmployeeName').on('keyup', function () {
        let table = $("#dataTableExample").DataTable();
        table.columns(2).search(this.value).draw();
    });
</script>