
@{
    ViewBag.Title = "MeetingConclusion";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<div class="row gutters mt-2">
    <div class="card">
        <div class="card-body">
            <h4>Meeting Conclusion</h4>
            <hr />
            <div class="row gutters">
                <div class="table-responsive">
                    <table id="tblheaderdetails" class="meeting-table table">
                        <tr>
                            <th>Meeting Title : </th>
                            <td>@Model.MeetingTitle</td>
                            <th></th>
                            <th>Time :</th>
                            <td>@Model.MeetingTimeString</td>
                            <th></th>
                            <th>Type :</th>
                            <td>@Model.MeetingType</td>
                            @if (@Model.MeetingType.ToLower() == "offline")
                            {
                                <th>Venue :</th>
                                <td>@Model.MeetingLink</td>
                            }

                        </tr>
                    </table>
                </div>

                <div class="card-body">
                    <div class="card-title d-flex justify-content-between">
                        <h5 style="color: #029e9d;"><i class="fa-solid fa-list"></i>&nbsp;Invited Members List</h5>
                        <h6 class="text-danger"> Please Check  CheckBox for Present</h6>
                    </div>
                    <div class="table-responsive">
                        <table id="basicExample" class="table custom-table" width="100%" border="1" style="font-size: 12px; text-align: center">
                            <thead>
                                <tr>
                                    <th>  <input type="checkbox" name="select_all" value="1" id="select_all" onclick="toggle(this);"> All Present</th>
                                    <th>Sr</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Contact No</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.getMember != null)
                                {
                                    int count = 1;
                                    foreach (var item in ViewBag.getMember)
                                    {
                                        <tr>
                                            <th><input type="checkbox" value="@item.Id" name="emp_id[]"></th>
                                            <td>@count</td>
                                            <td>@item.EmployeeCode</td>
                                            <td>@item.EmployeeName</td>
                                            <td>@item.EmployeeRole</td>
                                            <td>@item.MobileNo</td>
                                            <td>@item.Email</td>
                                        </tr>
                                        count++;
                                    }

                                }

                            </tbody>

                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>

            <hr />

            <a href="#" class="fw-bolder fs-4">Key Points</a>
            <table id="keypointtbl" class="table">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th> Key Points</th>
                        <th>Response</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                                {
                                    int i = 1;
                                    foreach (var item in Model.MeetingKeyPointDict)
                                    {
                            <tr>
                                <td>Key Point @i</td>
                                <td>
                                    @item.keyPoint
                                </td>
                                <td> <input type="text" data-id="@item.Id" placeholder="Please Write Response" name="response" class="form-control" /> </td>
                            </tr>
                            i++;
                        }
                    }
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
            <br />
            <div class="row gutters mt-2">
                <div class="col-sm-6 col-12">
                    <div class="form-group">
                        <label> Conclusion</label>
                        <textarea class="form-control" id="meetingconclusion" name="meetingconclusion" placeholder="Please Write Meeting Conclusion" rows="1"></textarea>
                        @*<input type="text" class="form-control" id="meetingconclusion" name="meetingconclusion" placeholder="Please Write Meeting Conclusion ">*@
                    </div>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="form-group">
                        <label> Next Follow Up</label>
                        <input type="date" name="nextfolloupdate" class="form-control" />
                    </div>
                </div>
            </div>



            <div class="row gutters mt-2">
                <div class="col-sm-4 col-12">

                </div>
                <div class="col-sm-4 col-12">
                    <div class="form-group">
                        <a href="javascript:void()" class="btn btn-primary" style="width:80%">Submit Meeting Conclusion</a>
                    </div>
                </div>
                <div class="col-sm-4 col-12">
                </div>

            </div>

        </div>
    </div>

</div>

<div class="row gutters my-3">
    <div class="card">
        <div class="card-body">


            <div class="table-container">
                <div class="t-header"><h4 class="mb-2 text-primary"><a href="#">Previous Meeting Details</a></h4>  <hr /></div>

                <div class="table-responsive">
                    <table id="dataTableExample" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Venue</th>
                                <th>Conclusion</th>
                                <th>Status</th>
                                <th>Next FolloUp Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    05/07/2024 11:34 AM, h-160 Noida sector 63
                                </td>
                                <td>
                                    It explains that roads are built to facilitate transportation but constant heavy traffic can damage roads through conditions like alligator cracking, potholes, and edge cracking
                                </td>
                                <td>
                                    pending
                                </td>
                                <td>
                                    10/07/2024
                                </td>

                                <td>
                                    <ul class="d-flex list-unstyled mb-0 justify-content-center">
                                        <li class="me-2"><a href="#" data-bs-toggle="modal" data-bs-target="#AllMemmberDetails"><i class="fa-solid fa-circle-user" style="font-size:18px; color:green" title="View Meeting Members"> </i></a></li>
                                        <li class="me-2"><a href="#" data-bs-toggle="modal" data-bs-target="#customModalTwo"><i class="fa-solid fa-list" style="font-size:18px; color:red" title="View Key Points"> </i></a></li>

                                    </ul>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    05/07/2024 11:34 AM, h-160 Noida sector 63
                                </td>
                                <td>
                                    It explains that roads are built to facilitate transportation but constant heavy traffic can damage roads through conditions like alligator cracking, potholes, and edge cracking
                                </td>
                                <td>
                                    cancel
                                </td>
                                <td>
                                    10/07/2024
                                </td>

                                <td>
                                    <ul class="d-flex list-unstyled mb-0 justify-content-center">
                                        <li class="me-2"><a href="#" data-bs-toggle="modal" data-bs-target="#AllMemmberDetails"><i class="fa-solid fa-circle-user" style="font-size:18px; color:green" title="View Meeting Members"> </i></a></li>
                                        <li class="me-2"><a href="#" data-bs-toggle="modal" data-bs-target="#customModalTwo"><i class="fa-solid fa-list" style="font-size:18px; color:red" title="View Key Points"> </i></a></li>

                                    </ul>


                                </td>
                            </tr>
                            <tr>
                                <td>
                                    05/07/2024 11:34 AM, h-160 Noida sector 63
                                </td>
                                <td>
                                    It explains that roads are built to facilitate transportation but constant heavy traffic can damage roads through conditions like alligator cracking, potholes, and edge cracking
                                </td>
                                <td>
                                    complete
                                </td>
                                <td>
                                    10/07/2024
                                </td>

                                <td>
                                    <ul class="d-flex list-unstyled mb-0 justify-content-center">
                                        <li class="me-2"><a href="#" data-bs-toggle="modal" data-bs-target="#AllMemmberDetails"><i class="fa-solid fa-circle-user" style="font-size:18px; color:green" title="View Meeting Members"> </i></a></li>
                                        <li class="me-2"><a href="#" data-bs-toggle="modal" data-bs-target="#customModalTwo"><i class="fa-solid fa-list" style="font-size:18px; color:red" title="View Key Points"> </i></a></li>

                                    </ul>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AllMemmberDetails" tabindex="-1" aria-labelledby="AllMemmberDetails" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex">
                <h1 class="modal-title fs-5 text-light" id="exampleModalLabel">All Meeting Members</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Meeting Member Name</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td><img src="/Employee_Images/img.png" alt="sliderimages" style="height: 20px;width: 20px;"> Mr. Mohan Singh	<span class="text-secondary">(Project Manager)</span></td>
                            <td>Joined</td>
                        </tr>
                        <tr>
                            <td><img src="/Employee_Images/img.png" alt="sliderimages" style="height: 20px;width: 20px;"> Mr. Mukesh Kumar <span class="text-secondary">(Project Manager)</span></td>
                            <td>Joined</td>
                        </tr>
                        <tr>
                            <td><img src="/Employee_Images/img.png" alt="sliderimages" style="height: 20px;width: 20px;"> Mr. Rohan <span class="text-secondary">(Sub-Coordinate)</span></td>
                            <td>Joined</td>
                        </tr>
                        <tr>
                            <td><img src="/Employee_Images/img.png" alt="sliderimages" style="height: 20px;width: 20px;"> Mr. Ramesh <span class="text-secondary">(IS)</span></td>
                            <td>Joined</td>
                        </tr>
                        <tr>
                            <td><img src="/Employee_Images/img.png" alt="sliderimages" style="height: 20px;width: 20px;"> Shri Ganga Sharma	<span class="text-secondary">(Sub-Coordinate)</span></td>
                            <td>Did Not Join<span style="color:red">(remark)</span></td>
                        </tr>
                        <tr>
                            <td><img src="/Employee_Images/img.png" alt="sliderimages" style="height: 20px;width: 20px;"> Mr. Shivam Sharma	<span class="text-secondary">(Sub-Coordinate)</span></td>
                            <td>Joined</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>







<div class="modal fade" id="customModalTwo" tabindex="-1" aria-labelledby="customModalTwo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex">
                <h1 class="modal-title fs-5 text-success" id="exampleModalLabel">Key Points Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Key Points</th>
                            <th>Response</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Confirming the topics to be discussed and any adjustments to the agenda.</td>
                            <td>Confirming the topics to be discussed and any adjustments to the agenda.</td>
                        </tr>
                        <tr>
                            <td>Identifying tasks or actions that need to be taken, along with deadlines and responsible parties.</td>
                            <td>Identifying tasks or actions that need to be taken, along with deadlines and responsible parties.</td>
                        </tr>
                        <tr>
                            <td>Discussing any challenges, obstacles, or risks that need attention or resolution.</td>
                            <td>Discussing any challenges, obstacles, or risks that need attention or resolution.</td>
                        </tr>
                        <tr>
                            <td>Highlighting any upcoming events, deadlines, or milestones that require attention.</td>
                            <td>Highlighting any upcoming events, deadlines, or milestones that require attention.</td>
                        </tr>
                        <tr>
                            <td>Summarizing key takeaways, thanking participants for their contributions, and confirming the next steps.</td>
                            <td>Summarizing key takeaways, thanking participants for their contributions, and confirming the next steps.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script>

    $(document).ready(function () {
        initializeDataTable();
    })

    function initializeDataTable() {

        $('#tblparticipatemembers').DataTable({
            "pageLength": 5
        });
    }

    function destroyDataTable() {
        if ($.fn.DataTable.isDataTable('#tblparticipatemembers')) {
            $('#tblparticipatemembers').DataTable().destroy();
        }
    }
</script>



<script>
    $(document).ready(function () {
        var table = $('#tblparticipatemembers').DataTable();


        $('#select_all').on('click', function () {
            var rows = table.rows({ 'search': 'applied' }).nodes();
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
        });

        $(document).on('click', 'input[type="checkbox"]', function () {
            if ($(this).is(":checked")) {
                var allChecked = table.rows({ 'search': 'applied' }).nodes().find('input[type="checkbox"]:checked').length === table.rows({ 'search': 'applied' }).count();
                $('#select_all').prop('checked', allChecked);
            } else {
                $('#select_all').prop('checked', false);
            }
        });
    });
</script>

<script>
    function toggle(source) {
        checkboxes = document.getElementsByName('emp_id[]');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
</script>