
@{
    ViewBag.Title = "Notice_List";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}



<style>
    .modal-body .sliderimages img {
        width: 20% !important;
        height: 20%;
        border-radius: 10px;
    }

    .link-icon {
        height: 16px;
    }
</style>


<div class="search-box p-4 bg-white rounded mb-3 box-shadow">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <h5>Notice Lists</h5>
            </div>
            <div class="col-lg-6 col-md-6">
                <input type="text" id="searchbyProjecManager" placeholder="Search by Project Manager" class="form-control">
            </div>
            <div class="col-lg-3 col-md-6">
                <select class="form-select form-select-lg" id="filterByProject">
                    <option selected value=null>--Select Project--</option>
                    @if (ViewBag.ProjectList != null)
                    {
                        if (ViewBag.ProjectList.Count > 0)
                        {
                            foreach (var item in ViewBag.ProjectList)
                            {
                                <option value="@item.Id" @(int.TryParse(Request.QueryString["projectId"],out int projectId) && projectId==item.Id ? "selected":"") >@item.ProjectTitle</option>
                            }
                        }
                    }
                </select>
            </div>

        </div>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th class="text-center">Sr</th>
                                <th>Date</th>
                                <th>Image</th>
                                <th>Project Manager</th>
                                <th>Project Name</th>
                                <th>Attachment</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewData["NoticeList"] != null)
                            {
                                var count = 1;
                                foreach (var item in ViewData["NoticeList"] as List<RemoteSensingProject.Models.Admin.main.Generate_Notice>)
                                {
                                    <tr>
                                        <td class="text-start">@count</td>
                                        <td>@item.noticeDate</td>
                                        <td>
                                            <img src="@item.ProjectManagerImage" class="w-75 text-center" height="80" alt="image">
                                        </td>
                                        <td> <a href="#" data-bs-toggle="modal" class="showEmployeeProfile" data-id="@item.ProjectManagerId" data-bs-target="#viewslider">@item.ProjectManager</a></td>
                                        <td><a href="#" data-bs-toggle="modal" class="showProjectDetail" data-id="@item.ProjectId" data-bs-target="#addslider">@item.ProjectName</a></td>
                                        <td> <a href="@item.Attachment_Url" target="_blank"><span>Document</span> <i class="fa-regular fa-file-pdf"></i></a></td>
                                        <td class="text-center">
                                            <ul class="d-flex list-unstyled mb-0 justify-content-center">
                                                <li class="me-2">
                                                    <a href="#" onclick="shownotice(`@item.Notice`)"><i class="link-icon" data-feather="file"></i></a>

                                                </li>
                                                <li class="me-2">
                                                    <a href="#" data-bs-toggle="modal" onclick="updateNotice(`@item.Notice`,@item.Id,@item.ProjectId)" class="editNoticeBtn" data-bs-target="#editNoticeModal"><i class="fa-solid fa-pen-to-square"></i></a>

                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    count++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewslider" tabindex="-1" aria-labelledby="viewslider" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Slider Images and Title -->
                <div class="sliderimages mb-3" style=" text-align: center; ">
                    <img src="~/ProjectContent/Admin/Employee_Images/img.png" class="employeeProfileImage rounded-circle" alt="sliderimages">
                    <h5 class="mb-1 EmployeeName">Harsh Agarwal</h5>

                </div>
                <!-- Static Information Start -->
                <div class="mt-4">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="employeeName" class="form-label">Employee Name</label>
                            <p class="EmployeeName">Harsh Agarwal</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="mobile" class="form-label">Mobile</label>
                            <p class="mobileNumber">9876543210</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="email" class="form-label">Email</label>
                            <p class="empEmail">harsh@example.com</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="role" class="form-label">Role</label>
                            <p class="empRole">Project Manager</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="department" class="form-label">Department</label>
                            <p class="empDivision">Department1</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="designation" class="form-label">Designation</label>
                            <p class="empDesignation">Designation2</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="gender" class="form-label">Gender</label>
                            <p class="empgender">Male</p>
                        </div>  <div class="mb-3 col-md-6">
                            <label for="gender" class="form-label">Active Status</label>
                            <p class="empActiveStatus"></p>
                        </div>

                    </div>
                </div>
                <!-- Static Information End -->
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addslider" tabindex="-1" aria-labelledby="addslider" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex">
                <h1 class="modal-title fs-5 text-success" id="exampleModalLabel"> PPP Based Slum Rehabilitaiton</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4 mb-2">
                        <label class="form-label fw-bolder">Title</label>
                        <br />
                        <span class="projectTitle"></span>
                    </div>
                    <div class="col-sm-4 mb-2">
                        <label class="form-label fw-bolder">Project Manager</label>
                        <br />
                        <span class="managerName"></span>
                    </div>
                    <div class="col-sm-4 mb-2">
                        <label class="form-label fw-bolder">Assign Date</label>
                        <br />
                        <span class="assignDate"></span>
                    </div>

                    <hr />
                </div>
                <div class="row">
                    <div class="col-sm-4 mb-2">
                        <label class="form-label fw-bolder">Start Date</label>
                        <br />
                        <span class="startDate"></span>
                    </div>
                    <div class="col-sm-4 mb-2">
                        <label class="form-label fw-bolder">Completion Date</label>
                        <br />
                        <span class="completeDate"></span>
                    </div>
                    <div class="col-sm-4 mb-2">
                        <label class="form-label fw-bolder">Project Type</label>
                        <br />
                        <span class="projectType"></span>
                    </div>

                    <hr />
                </div>
                <div class="row">
                    <div class="col-sm-4 mb-2">
                        <label class="form-label fw-bolder">Department Name</label>
                        <br />
                        <span class="departmentName"></span>
                    </div>
                    <div class="col-sm-4 mb-2">
                        <label class="form-label fw-bolder">Contact Person</label>
                        <br />
                        <span class="contantPerson"></span>
                    </div>
                    <div class="col-sm-4 mb-2">
                        <label class="form-label fw-bolder">Address</label>
                        <br />
                        <span class="address"></span>
                    </div>
                    <hr />
                </div>
                <div class="row">
                    <div class="col-sm-4 mb-2">
                        <label class="form-label fw-bolder">Budget</label>
                        <br />
                        <span class="budget"></span>
                    </div>
                    <div class="col-sm-4 mb-2">
                        <label class="form-label fw-bolder">Sub-Ordinate</label><br />
                        <span class="subMember"></span>
                    </div>
                    <div class="col-sm-4 mb-2">
                        <label class="form-label fw-bolder">Stage</label>
                        <br />
                        <span class="stageValue"></span>
                    </div>
                    <hr />
                </div>
                <div class="stageSection">
                    <div class="projectstageContainer"></div>
                    <div class="projectBudgetContainer"></div>
                    <div class="row">
                        <label class="form-label fw-bolder">Description</label>
                        <p class="projectDescription"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editNoticeModal" tabindex="-1" aria-labelledby="editNoticeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <h1 class="modal-title fs-5" id="editNoticeModalLabel">Update Notice</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row" id="projectmanagerdesc">

                </div>
                <hr />
                <form class="editNoticeModal">
                    <input type="hidden" id="noticeId" name="id" />
                    <div class="row">
                        <div class="col-lg-6 mb-3">
                            <label for="upload" class="form-label">Project Name</label>
                            <select required name="ProjectId" class="form-select form-select-lg" id="selectProject">
                                <option selected disabled>--Select Project--</option>
                                @if (ViewBag.ProjectList != null)
                                {
                                    if (ViewBag.ProjectList.Count > 0)
                                    {
                                        foreach (var item in ViewBag.ProjectList)
                                        {
                                            <option value="@item.Id">@item.ProjectTitle</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label for="upload" class="form-label">Attachment</label>
                            <input class="form-control" type="file" name="Attachment" id="upload">
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-12 mb-3">
                            <label for="description" class="form-label"> Write Notice</label>
                            <textarea required class="form-control form-control-sm" name="Notice" id="summernote" rows="10" placeholder=""></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary"><i class="link-icon" data-feather="plus"></i>Update Notice</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function showLoading(action) {
        Swal.fire({
            title: "Please Wait..!",
            text: "Request are under process.",
            allowOutsideClick: false,
            didOpen: () => {
                Swal.showLoading();
            }
        });
        if (!action) {
            Swal.close();
        }
    }
    $(".showEmployeeProfile").click(function () {
        showLoading(true)
        let id = $(this).attr("data-id");
        $.ajax({
            url: "/admin/SelectEmployeeRecordById",
            type: "get",
            data: { id: id },
            success: function (res) {
                console.log(res)
                if (res != null) {

                    $(".employeeProfileImage").attr("src", res.Image_url)
                    $(".EmployeeName").text(res.EmployeeName)
                    $(".mobileNumber").text(res.MobileNo)
                    $(".empEmail").text(res.Email)
                    $(".empRole").text(res.EmployeeRole)
                    $(".empDivision").text(res.DevisionName)
                    $(".empDesignation").text(res.DesignationName)
                    $(".empgender").text(res.Gender)
                    $(".empActiveStatus").html(res.ActiveStatus ? "<i class='fa-solid text-success fa-circle'></i> Active" : "<i class='fa-solid text-danger fa-circle'></i> Deactive")
                }
                showLoading(false)

            }, error: function (xhr) {
                Swal.fire({
                    title: "error",
                    text: "something went wrong",
                    icon: "error"
                })
            }
        })
    })

    $(".showProjectDetail").click(function () {
        showLoading(true)
        let id = $(this).attr("data-id");
        $.ajax({
            url: "/admin/GetProjectById",
            type: "get",
            data: { id: id },
            success: function (res) {
                console.log(res)
                if (res != null) {
                    let subordinates=[]
                    $(".projectTitle").text(res.pm.ProjectTitle || "N/A")
                    $(".managerName").text(res.pm.ProjectManager || "N/A")
                    $(".assignDate").text(res.pm.AssignDateString || "N/A")
                    $(".startDate").text(res.pm.StartDateString || "N/A")
                    $(".completeDate").text(res.pm.CompletionDatestring || "N/A")
                    $(".projectType").text(res.pm.ProjectType || "N/A")
                    $(".departmentName").text(res.pm.ProjectDepartment || "N/A")
                    $(".contantPerson").text(res.pm.ContactPerson || "N/A")
                    $(".address").text(res.pm.Address || "N/A")
                    $(".budget").text(res.pm.ProjectBudget)
                    $(".stageValue").text(res.pm.ProjectStage ? "Yes" : "No")
                    $(".projectDescription").text(res.pm.ProjectDescription || "N/A")
                    $(".projectstageContainer").empty();
                    $(".projectBudgetContainer").empty();
                    if (res.stages.length > 0) {
                        res.stages.forEach(function (d, i) {
                            $(".projectstageContainer").append(`
     <label class="form-label"><a href="stage1">Stage ${i + 1}</a></label>
 <div class="row">
     <div class="col-sm-4 mb-2">
         <label class="form-label fw-bolder">Key</label>
         <br />
         <span>${d.KeyPoint}</span>
     </div>
     <div class="col-sm-4 mb-2">
         <label class="form-label fw-bolder">Pdf Document</label>
         <br />
         <a href="${d.Document_Url}"><span>Document</span> <i class="fa-regular fa-file-pdf"></i></a>
     </div>
     <div class="col-sm-4 mb-2">
         <label class="form-label fw-bolder">Completion Date</label>
         <br />
         <span>${d.CompletionDate}</span>
     </div>
     <hr />
 </div>
                            `)
                        })
                    }
                    if (res.budgets.length > 0) {
                        res.budgets.forEach(function (d, i) {
                            $(".projectstageContainer").append(`
    <label class="form-label"><a href="stage1">Budget Head ${i + 1}</a></label>
<div class="row">
    <div class="col-sm-4 mb-2">
        <label class="form-label fw-bolder">Key</label>
        <br />
        <span>${d.ProjectHeads}</span>
    </div>
    <div class="col-sm-4 mb-2">
        <label class="form-label fw-bolder">Amount</label>
        <br />
       <span>${d.ProjectAmount}</span>
    </div>

    <hr />
</div>
                           `)
                        })
                        if (res.budgets[0].Miscellaneous != null) {
                            $(".projectstageContainer").append(`
    <label class="form-label"><a href="stage1">Miscellaneous</a></label>
<div class="row">
    <div class="col-sm-4 mb-2">
        <label class="form-label fw-bolder">Key</label>
        <br />
        <span>${res.budgets[0].Miscellaneous}</span>
    </div>
    <div class="col-sm-4 mb-2">
        <label class="form-label fw-bolder">Amount</label>
        <br />
       <span>${res.budgets[0].Miscell_amt}</span>
    </div>

    <hr />
</div>
                           `)
                            if (res.SubOrdinate.length > 0) {
                                res.SubOrdinate.forEach(function (e) {
                                    subordinates.push(e.Name)
                                })

                                $(".subMember").text(subordinates.toString())
                            } else {
                                $(".subMember").text("N/A")

                            }
                        }

                    }
                }
                showLoading(false)

            }, error: function (xhr) {
                Swal.fire({
                    title: "error",
                    text: "something went wrong",
                    icon: "error"
                })
            }
        })
    })

    function getProjectManagerData(id) {
        $.ajax({
            url: "/admin/GetProjectManagerByProjectId",
            type: "get",
            data: { id: id },
            success: function (res) {
                if (res != null) {
                    $("#projectmanagerdesc").html(
                        `
                        <div class="col-sm-3">
    <h6 class="mb-2 text-success">Send Notice To Project Manager</h6>
</div>
<div class="col-sm-9">
    <span>Project Name. :- <label style="color: #029e9d">${res.ProjectTitle}</label></span> ||
    <span>Project Manager :- <label style="color: #029e9d">${res.ProjectManager}</label></span> ||
    <span>Completion Date :- <label style="color: #029e9d">${res.CompletionDatestring}</label></span>
</div>
                       `
                    )
                } else {
                    $("#projectmanagerdesc").html("")
                }
            }, error: function (xhr) {
                $("#projectmanagerdesc").html("")

            }
        })
    }
    $("#selectProject").on("change", function () {
        let pId = $(this).val() || null;
        getProjectManagerData(pId)
    })

    function updateNotice(data,id,pId) {
        $("#selectProject").val(pId)
        getProjectManagerData(pId)
        $("#noticeId").val(id)
        $("#summernote").summernote('code', data);

    }

    $(".editNoticeModal").submit(function (e) {
        e.preventDefault();
        let formData = new FormData();
        let arrData = $(this).serializeArray();
        arrData.forEach(function (d) {
            formData.append(d.name, d.value);
        })
        showLoading(true)

        if ($("#upload").get(0).files.length > 0) {
            formData.append("Attachment", $("#upload").get(0).files[0])
        }
        $.ajax({
            url: "/admin/AddNotice",
            type: "post",
            processData: false,
            contentType: false,
            data: formData,
            success: function (res) {
                if (res) {
                    Swal.fire({
                        title: "success",
                        text: "Notice Updated Successfully",
                        icon: "success",
                        didClose: () => {
                            location.reload()
                        }
                    })
                } else {
                    Swal.fire({
                        title: "error",
                        text: "some error occured",
                        icon: "error"
                    })
                }

            }, error: function (xhr) {
                Swal.fire({
                    title: "error",
                    text: "some error occured",
                    icon: "error"
                })
            }
        })
    })

    $("#filterByProject").change(function () {
        let id = $(this).val();
        if (id!=null) {

            location.href = "/admin/Notice_List?projectId=" + id;
        } else {
            location.href = "/admin/Notice_List"

        }
    })

    $('#searchbyProjecManager').on('keyup', function () {
        let table = $("#dataTableExample").DataTable();
        table.columns(3).search(this.value).draw();
    });

    function shownotice(data) {
        var newTab = window.open();
        let htmlContent = "" + data + ""
        newTab.document.write(htmlContent);
        newTab.document.close();
        newTab.print();
    }
</script>