
@{
    ViewBag.Title = "RaisedProblem";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    var data = ViewData["ProblemList"] as List<RemoteSensingProject.Models.Admin.main.RaisedProblem>;
    int i = 1;
}

<div class="row mx-0">
    <div class="col-sm-12">
        <table class="table-bordered table-striped" id="dataTableExample">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Project Name</th>
                    <th>ProjectManager</th>
                    <th>Title</th>
                    <th>Problem Date</th>
                    <th>Description</th>
                    <th class="text-center">Status</th>
                </tr>
            </thead>
            <tbody>
                @if (data != null)
                {
                    foreach (var item in data)
                    {
                        <tr>
                            <td>@i</td>
                            <td data-id="@item.id">
                                <a href="#" data-title="View Details" class="descri">@item.projectname</a>
                            </td>
                            <td>@item.projectManager</td>
                            <td>@item.title</td>
                            <td>@Convert.ToDateTime(item.createdAt).ToString("dd-MMM-yyyy")</td>
                            <td>
                                @if (item.description.Length <= 8) {
                                    <span>@item.description</span>
                            }
                                else
                                {
                            <span>@item.description.Substring(0, 8)...</span>
                                }
                            </td>
                            <td class="text-center">
                                @if (item.newRequest)
                                    { <span id="status" class="badge bg-primary pt-1">Not Seen</span> }
                                    else if (!item.newRequest)
                                    { <span id="status" class="badge bg-success">Seen</span> }
                            </td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="problemModal" tabindex="-1" aria-labelledby="problemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <h5 class="modal-title" id="problemModalLabel">Problem Details</h5>
                <button type="button" class="btn-close modalClose" aria-label="Close"></button>
            </div> 
            <div class="modal-body">
                <!-- Problem details form or information -->
                <div class="mb-3">
                    <label for="projectName" class="form-label">Project Name</label>
                    <input type="text" class="form-control" id="projectName1" readonly>
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title1" readonly>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description1" rows="4" readonly></textarea>
                </div>
                <div class="mb-3">
                    <label for="document" class="form-label">Document</label>
                    <a href="#" id="document1" class="btn btn-link" target="_blank">View Document</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary py-1 me-4 modalClose">Ok</button>
                <!-- If needed, you can add more buttons like "Edit" or "Resolve" here -->
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $(".modalClose").on("click", function () {
            $("#problemModal").modal("hide")
            location.reload(true);
        })

        $(".descri").on("click", function () {
            Swal.fire({
                title: 'Please Wait!',
                text: 'Processing your request...',
                didOpen: () => { Swal.showLoading(); },
                allowOutsideClick: false,
                allowEscapeKey:false
            })
            let id = $(this).parent().data("id");
            $.ajax({
                url: '/api/getRaisedProblemById',
                type: 'get',
                data: { id: id },
                success: function (res) {
                    console.log(res.data[0])
                    $("#projectName1").val(res.data[0].projectname);
                    $("#title1").val(res.data[0].title);
                    $("#description1").text(res.data[0].description);
                    $("#document1").attr("href",res.data[0].documentname)
                    $("#problemModal").modal("show")
                    Swal.close();
                },
                error: function (xhr) {
                    Swal.fire({
                        title: 'Some Error Occured',
                        text: 'Failed to Fetch the data',
                        icon:'warning'
                    })
                }
            });
        });
    });
</script>





@*<script>
    $(document).ready(function () {
        $(".changeStatus").on("click", async function (e) {
            e.preventDefault();
            let status = $(this).data("value");
            let id = $(this).data("id")
            let remark = "";

            if (!status) {
                Swal.close();
                const { value: userRemark, isConfirmed } = await Swal.fire({
                    title: "Enter Remark",
                    input: "text",
                    inputLabel: "Remark",
                    inputPlaceholder: "Type here...",
                    showCancelButton: true,
                    confirmButtonText: 'Submit',
                });

                if (isConfirmed && userRemark && userRemark != "") {
                    remark = userRemark;
                    Swal.fire({
                        title: 'Please wait !',
                        allowOutsideClick: false,
                        allowEscapeKey:false,
                        text: 'Your request under process',
                        didOpen: () => { Swal.showLoading(); }
                    })
                }
            }
            $.ajax({
                url: '/admin/raisedproblem',
                type: 'post',
                data: { status: status, id: id,remark:remark },
                success: function (res) {
                    if (res.status) {
                        Swal.fire({
                            title: 'Success',
                            text: res.message,
                            icon: 'success',
                            didClose: () => { location.reload(true) }
                        })
                    }
                    else {
                        Swal.fire({
                            title: 'Warning',
                            text: res.message,
                            icon: 'warning'
                        })
                    }
                },
                error: function (xhr) {
                    Swal.fire({
                        title: 'error',
                        text: 'Server busy Please try after sometime.',
                        icon: 'error'
                    })
                }
            })
        })
    });
</script>*@