
@{
    ViewBag.Title = "SubOrdinateProblemList";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<style>
    .link-icon {
        height: 16px;
    }
</style>
<div class="search-box p-4 bg-white rounded mb-3 box-shadow">
    <form class="forms-sample">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <h5>SubOrdinate Problem Lists</h5>
            </div>
            <div class="col-lg-8 col-md-6">
                <input type="text" id="searchByProjectName" name="searchByProjectName" placeholder="Search by project name" class="form-control">
            </div>

        </div>
    </form>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="projectTable" class="dataTableExample" style="width:100%">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>Project Code</th>
                                <th>Project Name</th>
                                <th>Problem Date</th>
                                <th>Problem Title</th>
                                <th>Description</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int index = 1;}
                            @if (ViewBag.ProjectProblemList != null)
                            {
                                foreach (var problem in ViewBag.ProjectProblemList)
                                {
                                    <tr>
                                        <td>@index</td>
                                        <td>@problem.projectCode</td>
                                        <td data-id="@problem.ProblemId">
                                            <a href="#" data-title="View" class="descri text-decoration-underline">@problem.ProjectName</a>
                                        </td>
                                        <td>@problem.CreatedDate</td>
                                        <td>@problem.Title</td>
                                        <td>
                                            @if (problem.Description.Length <= 8)
                                            {
                                                <span>@problem.Description</span>
                                            }
                                            else
                                            {
                                                <span>@problem.Description.Substring(0, 8)...</span>
                                            }
                                        </td>
                                        <td>
                                            @if (problem.newRequest)
                                            {<span id="status" class="badge bg-primary pt-1">Not Seen</span> }
                                            else if (!problem.newRequest)
                                            { <span id="status" class="badge bg-success">Seen</span>}
                                        </td>

                                    </tr>
                                    index++;
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!--Detail Modal-->
        <div class="modal fade" id="problemModal" tabindex="-1" aria-labelledby="problemModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header d-flex justify-content-between">
                        <h5 class="modal-title" id="problemModalLabel">Problem Details</h5>
                        <button type="button" class="btn-close modalClose" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Problem details form or information -->
                        <div class="mb-3">
                            <label for="projectName" class="form-label">Project Name</label>
                            <input type="text" class="form-control" id="projectName1" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" id="title1" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description1" rows="4" readonly></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="document" class="form-label">Document</label>
                            <a href="#" id="document1" class="btn btn-link" target="_blank">View Document</a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary py-1 me-4 modalClose">Ok</button>
                        <!-- If needed, you can add more buttons like "Edit" or "Resolve" here -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $("#projectTable").DataTable();
    });
    // Search by Project Name Input
    $("#searchByProjectName").on("keyup", function () {
        let value = $(this).val().trim();
        const url = new URL(window.location.href);

        if (value)
            url.searchParams.set("searchTerm", value);
        else
            url.searchParams.delete("searchTerm");

        clearTimeout(window.searchTimer);
        window.searchTimer = setTimeout(() => {
            showLoader();
            window.location.href = url.toString();
        }, 500);
    });

    // Restore value on page load
    $(document).ready(function () {
        const urlParams = new URLSearchParams(window.location.search);
        const projectSearch = urlParams.get("searchTerm");

        if (projectSearch) {
            $("#searchByProjectName").val(projectSearch).focus();
        }
    });

</script>


<script>
    $(document).ready(function () {

        $(".modalClose").on("click", function () {
            $("#problemModal").modal("hide")
        })

        $(".descri").on("click", function () {
            debugger
            Swal.fire({
                title: 'Please Wait!',
                text: 'Processing your request...',
                didOpen: () => { Swal.showLoading(); },
                allowOutsideClick: false,
                allowEscapeKey: false
            })
            let id = $(this).parent().data("id");
            $.ajax({
                url: '/admin/getsubproblembyid',
                type: 'get',
                data: { id: id },
                success: function (res) {
                    console.log(res)
                    $("#projectName1").val(res[0].ProjectName);
                    $("#title1").val(res[0].Title);
                    $("#description1").text(res[0].Description);
                    $("#document1").attr("href", res[0].Attchment_Url);
                    $("#problemModal").modal("show")
                    Swal.close();

                },
                error: function (xhr, error, message) {
                    Swal.fire({
                        title: 'Some Error Occured',
                        text: 'Failed to Fetch the data',
                        icon: 'warning'
                    })
                    console.log(xhr)
                    console.log(error)
                    console.log(message)
                }
            });
        });
    });
</script>