
@{
    ViewBag.Title = "View_Expenses";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    int i = 1;
}

<style>
    .modal-body .sliderimages img {
        width: 20% !important;
        height: 20%;
        border-radius: 10px;
    }

    svg {
        height: 20px;
    }

    .btn-close {
        color: red !important;
    }

    .modal-header {
        background: #12605f
    }
</style>

@*<nav class="page-breadcrumb d-flex align-items-center justify-content-between">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item active" aria-current="page">Project Stages Status Update</li>
        </ol>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ViewBudgetExpenses"><i class="link-icon" data-feather="plus"></i> Add Weekly Status</button>
    </nav>*@
@*<div class="search-box p-4 bg-white rounded mb-3 box-shadow">
        <form class="forms-sample">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <h5>Employee Lists</h5>
                </div>
                <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="Search by employee name" class="form-control">
                </div>
                <div class="col-lg-3 col-md-6">
                    <select class="form-select form-select-lg">
                        <option selected>Department</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </form>
    </div>*@
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <span class="card-title">View Project Expenses </span>
                <span class="card-title text-center mx-auto text-info" style="text-transform:none">Total Budget: 3,00,000</span>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th class="text-center">S.No.</th>
                                <th>Head</th>
                                <th class="text-center">Amount</th>
                                <th class="text-center">Enter Expended Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.ProjectExpenses as List<RemoteSensingProject.Models.Admin.main.Project_Budget>)
                            {
                                <tr>
                                    <td class="text-start">@i</td>
                                    <td><a href="#" class="headExpense" data-Id="@item.Id">@item.ProjectHeads</a></td>
                                    <td class="text-center">
                                        @item.ProjectAmount
                                    </td>
                                    <td class="text-center">
                                        0
                                    </td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                  
                </div>
            </div>
        </div>
    </div>
</div>








<div class="modal fade" id="ViewBudgetExpenses" tabindex="-1" aria-labelledby="ViewBudgetExpenses" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex">
                <h1 class="modal-title fs-5 text-light" id="exampleModalLabel">Equipment Expenses</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Amount</th>
                                <th>Reciept</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    
    $(".headExpense").click(function () {
        let headId = $(this).attr("data-Id");
        let projectId = @Request.QueryString["Id"];

            Swal.fire({
            title: "Please wait !",
            text: "Processing your request...",
            timer: 100000,
            allowEscapeKey: false,
            allowOutsideClick: false,
            didOpen: () => {
                Swal.showLoading();
            }
        });

        $.ajax({
            url: "/api/getProjectExpencesList",
            type: "get",
            data: { projectId: projectId, headId: headId },
            success: function (res) {
                $("#viewBudgetExpensesBody").empty();
                if (res.status) {

                    let element = "";
                    $.each(res.data, function (i, d) {
                        element += `  <tr>
                              <td>${i + 1}</td>
                              <td>${convertToDate(d.date)}</td>
                              <td>${d.title}</td>
                              <td>${d.description}</td>
                              <td>${d.amount}</td>
                              <td><a href="${d.attatchment_url}">Reciept</a></td>
                          </tr>`
                    });
                    $("#viewBudgetExpensesBody").append(element);
                    $("#ViewBudgetExpenses").modal("show");
                }
                else {
                    $("#ViewBudgetExpenses").modal("show");
                }

            },
            error: function () {
                Swal.fire({
                    title: "Server issue !",
                    text: "Server is busy. Please try after sometime.",
                    icon: "error"
                });
            },
            complete: function () {
                Swal.close();
            }
        })
    })

    function convertToDate(date) {
        let dateObj = new Date(date);
        return dateObj.toLocaleDateString();
    }
</script>