
@{
    ViewBag.Title = "AddManpower";
    Layout = "~/Views/Shared/_prashasanLayout.cshtml";
    var data = ViewData["manpowerrequestsindesignation"] as List<RemoteSensingProject.Models.ProjectManager.ManpowerRequests>;
    var designations = ViewData["designationList"] as List<RemoteSensingProject.Models.Admin.main.CommonResponse>;
}

<nav class="page-breadcrumb d-flex align-items-center justify-content-between">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item active"><a href="/">Manpower request in designation</a></li>
    </ol>
</nav>
<div class="search-box p-4 bg-white rounded mb-3 mx-3 box-shadow">
    <div class="row align-items-center">
        <div class="col-lg-3">
            <h5>Designation</h5>
        </div>
        <div class="col-lg-9 col-md-9">
            <input type="search" placeholder="Search by designation name" id="searchByDesignationName" class="form-control">
        </div>
    </div>
</div>

<div class="row mx-0">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th class="text-center">Sr. No.</th>
                                <th>Designation</th>
                                <th>Manpower Requests</th>
                                <th>Added</th>
                                <th>Remaining</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (data != null && data.Count > 0)
                            {
                                var count = 1;
                                foreach (var item in data)
                                {
                                    <tr>
                                        <td class="text-start">@count</td>
                                        <td>@item.divisionName</td>
                                        <td>@item.manpowerrequests</td>
                                        <td>@item.manpoweradded</td>
                                        <td>@item.manpowerremaining</td>
                                        <td>
                                            <a class="cursor-pointer addManpowerBtn"
                                               data-bs-toggle="modal"
                                               data-bs-target="#addslider"
                                               data-designationid="@item.id"
                                               data-designationname="@item.divisionName"
                                               title="Add Manpower">
                                                <i class="link-icon" data-feather="edit"></i>
                                            </a>
                                        </td>
                                    </tr>

                                    count++;
                                }

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addslider" data-backdrop="static" tabindex="-1" aria-labelledby="addslider" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>

                <h5 class="modal-title" id="exampleModalLabel">Add Manpower</h5>

            </div>
            <div class="modal-body">
                <form id="addmanpowerform">
                    <input type="hidden" name="DivisionId" value="@Request.QueryString["id"]" />

                    <input type="hidden" name="DesignationId" id="DesignationId" />

                    <div class="form-group mt-2">
                        <label class="form-label">Designation</label>
                        <input type="text" class="form-control" id="DesignationName" readonly />
                    </div>

                    <div class="form-group mt-2">
                        <label for="outsourceId" class="form-label">Outsource</label>

                        <select class="form-control" id="outsourceId" multiple name="Outsource">
                            <option value="" selected disabled>-- Select Outsource --</option>
                        </select>
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary"><i class="link-icon" data-feather="plus"></i><span class="actionType">Add</span> Out Source</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $('#searchByDesignationName').on('keyup', function () {
        let value = $(this).val().trim();
        const url = new URL(window.location.href);
        url.searchParams.set("searchTerm", value);

        window.history.replaceState({}, "", url);

        clearTimeout(window.searchTimer);
        window.searchTimer = setTimeout(() => {
            showLoader(); // Add here
            window.location.href = url.toString();
        }, 500);
    });
    $(document).on("click", ".addManpowerBtn", function () {
        const designationId = $(this).data("designationid");
        const designationName = $(this).data("designationname");

        $("#DesignationId").val(designationId);
        $("#DesignationName").val(designationName);

        // clear outsource dropdown
        $("#outsourceId").empty();

        getOutSourceList(designationId);
    });
    $(document).ready(function () {
        $('#outsourceId').select2();
        const urlParams = new URLSearchParams(window.location.search);
        const searchTerm = urlParams.get("searchTerm");

        if (searchTerm !== null) {
            $('#searchByDesignationName')
                .val(searchTerm)   // value restore
                .focus();          // focus on input
        }
    });

    $(document).on('change', '#DesignationId', function () {
        const designationId = $(this).val();
        getOutSourceList(designationId);
    });

    function getOutSourceList(id) {
        $.ajax({
            url: `/prashasan/OutSourceListByDesignation?id=${id}`,
            type: "get",
            success: function (res) {
                if (res.status) {
                    const dropdown = $('#outsourceId');
                    dropdown.empty();
                    dropdown.append('<option value="" disabled>--Select Outsource--</option>');
                    $.each(res.data, function (i, d) {
                        dropdown.append(`<option value="${d.Id}">${d.EmpName}</option>`);
                    });
                }
            },
            error: function (xhr) {
                console.error(xhr);
            }
        })
    }

    $("#addmanpowerform").on("submit", function (e) {
        e.preventDefault();
        Swal.fire({
            title: "Please wait !",
            text: "Processing your request....",
            timer: 100000,
            allowOutsideClick: false,
            allowEscapeKey: false,
            didOpen: () => {
                Swal.showLoading();
            }
        });
        if ($("#outsourceId").val().length === 0) {
            Swal.fire("Warning", "Please select at least one outsource", "warning");
            return;
        }
        let data = new FormData(this);
        $.ajax({
            url: "/Prashasan/AddManPower",
            type: "Post",
            data: data,
            contentType: false,
            processData: false,
            success: function (res) {
                if (res.status) {
                    Swal.fire({
                        title: "Added Successfuly!",
                        text: res.message,
                        icon: "success",
                        didClose: () => {
                            location.reload(true)
                        }
                    })
                } else {
                    Swal.fire({
                        title: "Sorry !",
                        text: res.message,
                        icon: "warning"
                    })
                }
            },
            error: function () {
                Swal.fire({
                    title: "Server issue",
                    text: "Server is not respondig. Please try after sometime.",
                    icon: "error",
                    didClose: () => {
                        location.reload(true)
                    }
                })
            }
        })
    });
</script>
