
@{
    ViewBag.Title = "ManageManPowerRequest";
    Layout = "~/Views/Shared/_prashasanLayout.cshtml";
    var data = ViewData["manpowerrequestsindivision"] as List<RemoteSensingProject.Models.ProjectManager.ManpowerRequests>;
}

<nav class="page-breadcrumb d-flex align-items-center justify-content-between">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item active"><a href="/">Manpower request in division</a></li>
    </ol>
</nav>
<div class="search-box p-4 bg-white rounded mb-3 mx-3 box-shadow">
    <div class="row align-items-center">
        <div class="col-lg-3">
            <h5>Division</h5>
        </div>
        <div class="col-lg-9 col-md-9">
            <input type="search" placeholder="Search by division name" id="searchByDivisionName" class="form-control">
        </div>
    </div>
</div>
<div class="row mx-0">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th class="text-center">Sr. No.</th>
                                <th>Division</th>
                                <th>Manpower Requests</th>
                                <th>Added</th>
                                <th>Remaining</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (data != null && data.Count > 0)
                            {
                                var count = 1;
                                foreach (var item in data)
                                {
                                    <tr>
                                        <td class="text-start">@count</td>
                                        <td>@item.divisionName</td>
                                        <td><a href="/prashasan/addManpower?id=@item.id" data-title="show designation">@item.manpowerrequests</a></td>
                                        <td>@item.manpoweradded</td>
                                        <td>@item.manpowerremaining</td>                                        
                                    </tr>

                                    count++;
                                }

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $('#searchByDivisionName').on('keyup', function () {
        let value = $(this).val().trim();
        const url = new URL(window.location.href);
        url.searchParams.set("searchTerm", value);

        window.history.replaceState({}, "", url);

        clearTimeout(window.searchTimer);
        window.searchTimer = setTimeout(() => {
            showLoader(); // 👈 Add here
            window.location.href = url.toString();
        }, 500);
    });

    $(document).ready(function () {
        $('#outsourceId').select2();
        const urlParams = new URLSearchParams(window.location.search);
        const searchTerm = urlParams.get("searchTerm");

        if (searchTerm !== null) {
            $('#searchByDivisionName')
                .val(searchTerm)   // value restore
                .focus();          // focus on input
        }
    });   
</script>